<div class=" spotlight-{{sp.indexOf(tile)}} text-center"    id="spotlight-{{sp.node.nid}}"  data-ng-repeat="sp in spotlight" >
<div class="margin-bottom-md with-caption">
<a href="{{sp.node.path}}">
<img style="max-width:100%;" class="display-block" ng-src="{{sp.node.field_image.src}}">
  <p>{{sp.node.title}}</p>
  </a>
  </div>
</div>
