
<div ng-class="{'loading' : loading == true}" class="filters-container">
<div ng-controller="tagsFiltersCtr" ng-class="{'loading' : loading == true}">

<div data-ng-repeat="term in terms"  class="term-container display-inline">
<div   id="term-{{term.tid}}" class="term ghost-orange display-inline" ng-click="toggleterm(term.tid)"  term-value="{{term.tid}}">{{term.name}}
</div>
</div>
  </div>
  </div>
