
<div tabindex="-1" role="dialog" class="modal " ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" ng-click="close($event)">
    <div class=" "  style="width:100%;height:100%;" ng-click="close($event)">
        <div style="width:100%"; class="modal-content center modal-video" ng-click="close($event)" modal-transclude></div>
    </div>
</div>
