<div infinite-scroll='loadm()' ng-class="{'loading' : loading== true}" class="video-tiles-list" infinite-scroll-distance='1' infinite-scroll-disabled='loading'>
    <div bindonce    class="video-tile  opacity-1 item text-center " ng-click="showvideo(tile)" data-ng-repeat="tile in tiles">
        <div class="article-image cursor-pointer">
            <div class="play-container ">
                <div class="play-overlay">
                    <div class="full"><img class="playicon center transition-03s" ng-src="{{baseUrl}}/sites/all/themes/bootstrap/bootstrap_subtheme/images/playicon.svg"></div>
                </div>
                <!--img class="max-width-100 " ng-src="{{tile.node.field_video_thumbnail.src}}" /-->
                <img  class="max-width-100 " bo-if="tile.node.field_video_thumbnail.src" typeof="foaf:Image" bo-src="tile.node.field_video_thumbnail.src" alt="">
                <img  class="max-width-100 " bo-if="!tile.node.field_video_thumbnail.src" typeof="foaf:Image" bo-src="tile.node.field_video_thumbnail" alt="">
            </div>
        </div>
        <div class="video-title" bo-text="tile.node.title"></div>
    </div>
</div>
<div class="container text-center" style="margin-top:1em;">
    <i ng-class="{'display-none ' : loading!= true}" class="fa fa-spinner fa-pulse"></i>
</div>
