<div infinite-scroll='loadm()' ng-class="{'loading' : loading== true}" class="video-tiles-list" infinite-scroll-distance='1' infinite-scroll-disabled='loading'>
    <div bindonce ng-click="showvideo(tile)" class="video-tile video-tile-mobile item text-align-left " tile="tile" ng-repeat="tile in tiles">
        <!--img class=" img "  height="20px" width="30px" bo-src="tile.node.field_video_thumbnail.src" /-->
        <div class="video-mobile-wrapper">
            <div class="video-mobile-content">
                <div class="video-mobile-box " style="    width: 142px;">
                    <img class=" img " height="20px" width="30px" bo-if="tile.node.field_video_thumbnail.src" typeof="foaf:Image" bo-src="tile.node.field_video_thumbnail.src" alt="">
                    <img class=" img " height="20px" width="30px" bo-if="!tile.node.field_video_thumbnail.src" typeof="foaf:Image" bo-src="tile.node.field_video_thumbnail" alt="">
                </div>
                <div class="video-mobile-box ">
                    <div class=" title text-align-left" bo-text="tile.node.title"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center" style="margin-top:1em;">
    <i ng-class="{'display-none ' : loading!= true}" class="fa fa-spinner fa-pulse"></i>
</div>
