.greyboxshadow {
    -webkit-box-shadow: 0px 0px 4px 0px rgb(237, 237, 237);
    -moz-box-shadow: 0px 0px 4px 0px #ededed;
    box-shadow: 0px 0px 4px 0px rgb(237, 237, 237);

}


.showmore {
  margin-top:60px;
  min-width:151px;
  @include inline-block;
    border-radius: 0;
    font-size: 1.25em;
    height: 50px;
    line-height: 49px;
    padding-left: 22.5px;
    padding-right: 22.5px;
    font-size: 20px;
    font-weight: 500;
    height: 50px;
    font-weight: bolder;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(229, 229, 229);
    &:hover {
          text-decoration: none;
    background-color: rgb(128, 128, 128);
    outline: none;
    border: 1px solid rgb(229, 229, 229);
    }
    @include transition-property(All);
    @include transition-duration(0.5s);
    @include transition-timing-function(linear);
}


.background-image-fixed {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background-image {
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: center;
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
}


