@mixin ghost-button($font, $font-size, $font-color, $border-size, $border-color, $paddingtop, $paddingright, $paddingbottom, $paddingleft, $transition-speed, $hover-color, $hover-background) {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font;
    font-size: $font-size;
    color: $font-color;
    cursor: pointer;
    background-color: transparentize(#fff, 1)!important;
    border: $border-size solid $border-color;
    padding: $paddingtop $paddingright $paddingbottom $paddingleft;
    -webkit-transition: color $transition-speed, background $transition-speed;
    transition: color $transition-speed, background $transition-speed;
    &:visited {
        color: $font-color!important;
        &:hover {
            background: $hover-background!important;
            color: $hover-color!important;
        }
    }
    &:hover {
        background: lighten($hover-background, 20%)!important;
        color: $hover-color;
        text-decoration: none;
        @include respond-to(sm) {
            background: transparent!important;
            color: $font-color;
        }
        @include respond-to(xs) {
            background: transparent!important;
            color: $font-color;
        }
        @include respond-to(md) {
            background: lighten($hover-background, 20%)!important;
            color: $hover-color;
        }
    }
}

@mixin ghost-button-white( $fontsize) {
    $paddingtop: 0.5em;
    $paddingright: 0.5em;
    $paddingbottom: (((0.5em/100)*60)/2);
    $paddingleft: 0.5em;
    @include ghost-button(inherit, $fontsize, #ffffff, 2px, #ffffff, $paddingtop, $paddingright, $paddingbottom, $paddingleft, 300ms, #000000, #ffffff);
}

@mixin ghost-button-white-lg( $fontsize) {
    $paddingtop: 1em;
    $paddingright: 2em;
    $paddingbottom: 0.5em;
    $paddingleft: 2em;
    @include ghost-button(inherit, $fontsize, #ffffff, 2px, #ffffff, $paddingtop, $paddingright, $paddingbottom, $paddingleft, 200ms, #000000, #ffffff);
    text-align: center;
}

@mixin ghost-button-green( $fontsize) {
    $paddingtop: 0.5em;
    $paddingright: 0.5em;
    $paddingbottom: (((0.5em/100)*60)/2);
    $paddingleft: 0.5em;
    @include ghost-button(inherit, $fontsize, $flat-green, 2px, $flat-green, $paddingtop, $paddingright, $paddingbottom, $paddingleft, 300ms, #000000, $flat-green);
}

@mixin ghost-green-bytry-lg( $fontsize) {
    $paddingtop: 1em;
    $paddingright: 2em;
    $paddingbottom: 0.5em;
    $paddingleft: 2em;
    @include ghost-button(inherit, $fontsize, transparent, 2px, transparent, $paddingtop, $paddingright, $paddingbottom, $paddingleft, 200ms, white, transparent);
    text-align: center;
}

@mixin ghost-button-orange( $fontsize) {
    $paddingtop: 0.5em;
    $paddingright: 0.5em;
    $paddingbottom: (((0.5em/100)*60)/2);
    $paddingleft: 0.5em;
    @include ghost-button(inherit, $fontsize, $orange, 2px, $orange, $paddingtop, $paddingright, $paddingbottom, $paddingleft, 300ms, #ffffff, $orange);
}

@mixin ghost-button-orange-lg( $fontsize) {
    $paddingtop: 1em;
    $paddingright: 2em;
    $paddingbottom: 0.5em;
    $paddingleft: 2em;
    @include ghost-button(inherit, $fontsize, $orange, 2px, $orange, $paddingtop, $paddingright, $paddingbottom, $paddingleft, 200ms, #ffffff, $orange);
    text-align: center;
}

@mixin ghost-button-sonnox( $fontsize) {
    $paddingtop: 0.5em;
    $paddingright: 0.5em;
    $paddingbottom: (((0.5em/100)*60)/2);
    $paddingleft: 0.5em;
    @include ghost-button(inherit, $fontsize, $sonnox-color, 2px, $sonnox-color, $paddingtop, $paddingright, $paddingbottom, $paddingleft, 300ms, #ffffff, $sonnox-color);
}

@mixin ghost-button-sonnox-lg( $fontsize) {
    $paddingtop: 1em;
    $paddingright: 2em;
    $paddingbottom: 0.5em;
    $paddingleft: 2em;
    @include ghost-button(inherit, $fontsize, $sonnox-color, 2px, $sonnox-color, $paddingtop, $paddingright, $paddingbottom, $paddingleft, 200ms, #ffffff, $sonnox-color);
    text-align: center;
}

@mixin ghost-button-yellow( $fontsize) {
    $paddingtop: 0.5em;
    $paddingright: 0.5em;
    $paddingbottom: (((0.5em/100)*60)/2);
    $paddingleft: 0.5em;
    @include ghost-button(inherit, $fontsize, $yellow, 2px, $yellow, $paddingtop, $paddingright, $paddingbottom, $paddingleft, 300ms, #ffffff, $yellow);
}

@mixin ghost-button-yellow-lg( $fontsize) {
    $paddingtop: 1em;
    $paddingright: 2em;
    $paddingbottom: 0.5em;
    $paddingleft: 2em;
    @include ghost-button(inherit, $fontsize, $yellow, 2px, $yellow, $paddingtop, $paddingright, $paddingbottom, $paddingleft, 200ms, #ffffff, $yellow);
    text-align: center;
}

@mixin ghost-button-color( $fontsize, $color) {
    $paddingtop: 0.5em;
    $paddingright: 0.5em;
    $paddingbottom: (((0.5em/100)*60)/2);
    $paddingleft: 0.5em;
    @include ghost-button(inherit, $fontsize, $color, 2px, $color, $paddingtop, $paddingright, $paddingbottom, $paddingleft, 300ms, #ffffff, $color);
}

@mixin ghost-button-color-lg( $fontsize, $color) {
    $paddingtop: 1em;
    $paddingright: 2em;
    $paddingbottom: 0.5em;
    $paddingleft: 2em;
    @include ghost-button(inherit, $fontsize, $color, 2px, $color, $paddingtop, $paddingright, $paddingbottom, $paddingleft, 200ms, #ffffff, $color);
    text-align: center;
}

@mixin ghost-button-transparent-lg( $fontsize) {
    $paddingtop: 1em;
    $paddingright: 2em;
    $paddingbottom: 0.5em;
    $paddingleft: 2em;
    @include ghost-button(inherit, $fontsize, transparent, 2px, transparent, $paddingtop, $paddingright, $paddingbottom, $paddingleft, 200ms, transparent, transparent);
    text-align: center;
}

@mixin ghost-button-set($name, $color) {
    .ghost-#{$name} {
        @include ghost-button-color(1em, $color);
        &.active {
            background-color: $color!important;
            color: white;
        }
        &:hover {
            // border-color:$light-orange;
        }
    }
    .ghost-#{$name}-sm {
        @include ghost-button-color(0.7em, $color);
    }
    .ghost-#{$name}-lg {
        @include ghost-button-color-lg(1em, $color);
        @include respond-to(xs) {
            font-size: 0.7em;
        }
        @include respond-to(sm) {
            font-size: 0.8em;
        }
        a {
            color: white;
        }
        a:hover {
            color: black;
        }
    }
}
