<div class=" artist-{{artist.indexOf(tile)}} text-center"    id="artist-{{artist.node.nid}}"  data-ng-repeat="artist in artists" >

<div class="margin-bottom-md with-caption">
<a href="{{artist.node.path}}">
<img style="max-width:100%;" class="display-block" ng-src="{{artist.node.field_image.src}}">
  <p>{{artist.node.title}}</p>
  </a>
  </div>
</div>
