
<div ng-class="{'loading' : loading == true}" class="filters-container">
<div ng-controller="tagsArtistsFiltersCtr" ng-class="{'loading' : loading == true}">
<div data-ng-repeat="term in terms"  class="term-container display-inline">
<div   id="term-{{term.tid}}" class="term ghost-green display-inline" ng-click="toggleartiststerm(term.tid)"  term-value="{{term.tid}}">{{term.name}}
</div>
</div>
  </div>
  </div>
