<div ng-show="!showmessage" >
    <form id="newsletterform" name="formnewsletter" class=" newsletterform position-relative" ng-submit="submit()">
      <div ng-if="loading==true"  class="modal-loader"><i class="fa fa-circle-o-notch fa-spin center"></i></div>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="myModalLabel">Subscribe To Newsletter</h2>
        </div>
        <div style="max-width:300px;margin: auto;" class="margin-top-lg margin-bottom-lg position-relative">
            <div class="form-group">
                <div class="error" ng-show="formnewsletter.name.$dirty && formnewsletter.name.$invalid">
                    <span class="error"  ng-show="formnewsletter.name.$error.minlength"> Please enter a longer name.</span>
                    <span class="error" ng-show="formnewsletter.name.$error.required"> Required!</span>
                </div>
                <input type="text" ng-model="formData.name" name="name" ng-minlength="4" placeholder="Insert your Name" class="form-control" id="name" required>
            </div>
            <div class="form-group ">
                <div class="error" ng-show="formnewsletter.email.$dirty && formnewsletter.email.$invalid && visitedEmail">
                    <span class="error" ng-show="formnewsletter.email.$error.pattern"> Not valid email!</span>
                </div>
                <input type="email" name="email" ng-blur="visitedEmail = true" ng-model="formData.email" placeholder="Insert your Email" class="form-control" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required>
            </div>
                <span class="error" ng-show="showerrormessage" ng-bind-html="errormessage"> </span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-disabled="formnewsletter.$invalid">Submit</button>
        </div>
    </form>
</div>
<div ng-show="showmessage" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">Success!</h2>
    </div>
    <div style="max-width:300px;margin: auto;" class="margin-top-lg margin-bottom-lg" ng-bind-html="message">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    </div>
</div>
