$font-family-condensed: "NimbusSansCondensed",
Helvetica,
Arial,
sans-serif !default;

//
$flat-green: #82bf57;
$flat-red: #e84c3d;
$flat-blue: #3399db;
$flat-orange: #F89406;
$flat-yellow: #f4be01;
//
$green: $flat-green;//#259a32;
$orange: $flat-orange;//#e89b19; //#F89406; // videos
$yellow: $flat-yellow;//#f0de00; // darken(#fed134, 12%); // artists
$blue:$flat-blue ;//#193b9c;
$sonnox-red:#e84c3d;//#e01a0f;
$sonnox-color: #6E8ABB;
//
$artists: #82bf57;
$news:#e84c3d;
$tips:#3399db;
$videos:#F89406;
$spotlight: #f4be01;
$text-color:#333;

//$yellow: #f0de00;// darken(#fed134, 12%); // artists
//$blue: $flat-blue ; // #428BCA; // Spotlight
//$green: $flat-green; //#009037; //tips
//$purple: $flat-purple; //#7600e2; // news
$grey: #F6F6F6;
$background-grey: #e5e5e5;
// sonnox colours

$half-gutter: $grid-gutter-width / 2;
