<div class=" news-{{$index}} text-center" id="news-{{ns.node.nid}}" data-ng-repeat="ns in news">
    <div class="margin-bottom-md with-caption">
        <a ng-if="!ns.node.field_external_link.length" href="{{ns.node.path}}" class="cursor-pointer">
            <img style="max-width:100%;" class="display-block" ng-src="{{ns.node.field_image.src}}">
            <p>{{ns.node.title}}</p>
        </a>
        <a ng-if="(ns.node.field_external_link.length && (ns.node.field_internal_link == '1')) "    target="_self"  href="{{ns.node.field_external_link}}" class="cursor-pointer">
            <img style="max-width:100%;" class="display-block" ng-src="{{ns.node.field_image.src}}">
            <p>{{ns.node.title}}</p>
        </a>
        <a ng-if="(ns.node.field_external_link.length && (ns.node.field_internal_link != 1)) "    target="_blank"  href="{{ns.node.field_external_link}}"  class="cursor-pointer">
            <img style="max-width:100%;" class="display-block" ng-src="{{ns.node.field_image.src}}">
            <p>{{ns.node.title}}</p>
        </a>
    </div>
</div>
