<div class="related-products" ng-show="related.length">
      <div  class="related-product" data-ng-repeat="product in related"  >
        <a href="{{product.node.path}}">
        <img style="max-width:40px;"  ng-src="{{product.node.field_product_plug_in_tile_image.src}}"/>
          {{product.node.title}}</a>
      </div>
</div>
