
        <div class="sonnox-posts products">
            <div class="app-class product    "  ng-class="{'' : type == 'all' || type == product.type , 'hide' : type != 'all' && type != product.type}" data-ng-repeat="product in products | productSearch:search track by product.nid  ">
                <a href="{{product.path}}">
                    <div class="product-wrapper">
                        <div class="product-img">
                            <img ng-show="product.field_product_plug_in_tile_image.src != undefined" ng-src="{{product.field_product_plug_in_tile_image.src}}" />
                            <img ng-show="product.field_product_bundle_tile_image.src != undefined" ng-src="{{product.field_product_bundle_tile_image.src}}" />
                        </div>
                        <div class=" product-content ">
                            <h2>{{product.title}}</h2>
                            <h4 ng-show="product.field_plug_in_list_entity_refere">{{product.field_plug_in_list_entity_refere}} </h4>
                            <p>{{product.body}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

