<div class=" artist-{{artist.indexOf(tile)}} text-center"    id="artist-{{artist.node.nid}}"  data-ng-repeat="artist in learnarticles" >

<div class="margin-bottom-md with-caption">
<a href="/learn/learnarticles?search={{artist.node.title}}">
<img style="max-width:100%;" class="display-block" ng-src="{{artist.node.field_artist_image.src}}">
  <p>{{artist.node.title}}</p>
  </a>
  </div>
</div>
