<div infinite-scroll='loadm()' ng-class="{'loading' : loading== true}" class="artist-tiles-list sonnox-posts  col-xs-12" infinite-scroll-distance='1' infinite-scroll-disabled='loading'>
  <articletile/>
</div>
<div class="col-xs-12 text-center" style="margin-top:1em;">
    <i ng-class="{'display-none ' : loading!= true}" class="fa fa-spinner fa-pulse"></i>
</div>
