
<div map-lazy-load="https://maps.google.com/maps/api/js">
<map center="51.848805,-1.475667"  scrollwheel="false" id="locationa-map" zoom="10" styles='' class="google-map">
    <marker position="51.848805,-1.475667"  options="{{marker.options}}"></marker>
    <directions draggable="false" travel-mode="DRIVING" panel="directions-panel" origin="{{address}}" destination="{{directions.destination}}">
    </directions>
</map>
</div>
