<div class="background-white padding-top-lg">
    <div class="container">
        <div class="col-xs-12">
            <div class="text-center margin-bottom-md margin-top-md ">
                <form class=''>
                    <div class="form-group">
                        <label> GET DIRECTIONS </label>
                        <input type="text" style="max-width:600px;margin:auto;" class="form-control flat-input" id="address" placeholder="Insert your address" ng-model="inputaddress" value="test" ng-change="setaddress(inputaddress)">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="background-white padding-bottom-lg">
    <div class="container">
        <div class="col-xs-12">
            <div id="directions-panel" ng-class="{'display-none' : address == ''}" name="directions-panel" style="width: 100%; display-block;background:white; overflow: auto; padding: 1em" class="padding-top-sm margin-bottom-lg">
            </div>
        </div>
    </div>
</div>
<div map-lazy-load="https://maps.google.com/maps/api/js">
<map center="{{map.center}}" id="locationa-map" zoom="10" styles='[{"featureType":"landscape","stylers":[{"color":"#6e8abb"}]},{"featureType":"administrative","stylers":[{"color":"#000000"},{"visibility":"simplified"}]},{"featureType":"road","stylers":[{"hue":"#ff9100"},{"saturation":8},{"lightness":-20}]},{"featureType":"poi","stylers":[{"color":"#6e8abb"}]}]' class="google-map">
    <marker position="Manor Barns, Finstock OX73DG UK" decimals="{[marker.decimals}}" options="{{marker.options}}"></marker>
    <directions draggable="false" travel-mode="DRIVING" panel="directions-panel" origin="{{address}}" destination="{{directions.destination}}">
    </directions>
</map>
</div>
