
    <div data-ng-repeat="item in partners" class="col-md-3  col-sm-4 col-xs-6 padding-02em partners-box position-relative overflow-hidden">

        <div class="section">
            <div class="section-image">
                <img class="max-width-100 center" ng-src="{{item.node.partners_image.src}}">
            </div>
            <div class="section-content">
                <h3 class="title display-inline-block">{{item.node.title}} </h3>
                <p>{{item.node.body}} </p>
                <a target="_blank" href="http://{{item.node.field_website}}">{{item.node.field_website}}</a>
            </div>
        </div>
    </div>

