
<div data-ng-repeat="item in people"  class="col-md-3  col-sm-4 col-xs-6 padding-1em people-box position-relative overflow-hidden">

<div class="position-relative overflow-hidden ">
<div class="details">
<h3 class="title display-inline-block">{{item.node.title}} </h3>
<h4 class="role" >{{item.node.field_role}} </h4>
  </div>
<img class="max-width-100 position-absolute img1" ng-src="{{item.node.field_people_image[0].src}}">
<img class="max-width-100 img-2" ng-src="{{item.node.field_people_image[1].src}}">
  </div>
</div>
