

$grey-light: #F6F6F6;
//$dark-orange: #F9690E;//rgb(245, 96, 0);
$light-orange: lighten($orange, 30%);
$dark-orange: darken($orange, 5%);
$onedark-orange: darken($orange, 15%);
$twodark-orange: darken($orange, 50%);

$light-yellow:  lighten($yellow, 30%);
$dark-yellow: darken($yellow, 5%);
$onedark-yellow: darken($yellow, 15%);
$twodark-yellow: darken($yellow, 50%);

$light-blue:  lighten($blue, 30%);
$dark-blue: darken($blue, 5%);
$onedark-blue: darken($blue, 15%);
$twodark-blue: darken($blue, 50%);


$light-green:  lighten($green, 30%);
$dark-green: darken($green, 5%);
$onedark-green: darken($green, 25%);
$twodark-green: darken($green, 50%);

/*
$light-purple:  lighten($purple, 30%);
$dark-purple: darken($purple, 5%);
$onedark-purple: darken($purple, 15%);
$twodark-purple: darken($purple, 50%);
*/

$light-red:  lighten($sonnox-red, 30%);
$dark-red: darken($sonnox-red, 5%);
$onedark-red: darken($sonnox-red, 15%);
$twodark-red: darken($sonnox-red, 50%);



$light-sonnox-color:  lighten($sonnox-color, 30%);
$dark-sonnox-color: darken($sonnox-color, 5%);
$onedark-sonnox-color: darken($sonnox-color, 15%);
$twodark-sonnox-color: darken($sonnox-color, 50%);

$grey-soft : #efefef;
$sonnox-soft :#eef2f7;
