



[class^="bg-"],
[class*=" bg-"] {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  top: 0px;
  left: 0px;
}
.bg-image {

}
.bg-sm {
display: none;
@include respond-to(sm)  { display: none;}
@include respond-to(md)  { display: block;}

}
.bg-xs {
  display: none;


  @include respond-to(sm)  { display: block;}
   @include respond-to(xs)  { display: block;}
  @include respond-to(md)  { display: none;}

}

.bg-sm-slide {
display: none;
@include respond-to(sm)  { display: none;}
@include respond-to(sm)  { display: block;}
@include respond-to(md)  { display: block;}

}
.bg-xs-slide {
  display: none;

   @include respond-to(xs)  { display: block;}
  @include respond-to(sm)  { display: none;}

  @include respond-to(md)  { display: none;}

}


@media (min-width: $xs){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 50%;
    *width: 50%;
  }

}

  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
  @include respond-to(xs-l) {
    width: 33.3333333%;
    *width: 33.3333333%;

  }

  @include respond-to(ml) {
    width: 33.3333333%;
    *width: 33.3333333%;

  }

  }

@media (min-width: $sm){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 33.3333333%;
    *width: 33.3333333%;
  }

}

@media (min-width: $md) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }

}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
@media (min-width: $lg) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}
