// nimbus sans lig
/*
@font-face {
    font-family: 'NimbusSans';
    src: url('NimbusSans/NimbusSan-Lig.eot');
    src: url('NimbusSans/NimbusSan-Lig.eot?#iefix') format('embedded-opentype'),
         url('NimbusSans/NimbusSan-Lig.woff') format('woff'),
         url('NimbusSans/NimbusSan-Lig.ttf') format('truetype'),
         url('NimbusSans/NimbusSan-Lig.svg') format('svg');
    font-weight: 400;
    font-style: normal;

}
*/
$fontpath : '';
@include font-face('NimbusSans',font-files( 'NimbusSans/NimbusSan-Lig.woff',
                                            'NimbusSans/NimbusSan-Lig.ttf',
                                            'NimbusSans/NimbusSan-Lig.svg'),'NimbusSans/NimbusSan-Lig.eot',400, normal);
/*
@font-face {
    font-family: 'NimbusSans';
    src: url('NimbusSans/NimbusSan-LigIta.eot');
    src: url('NimbusSans/NimbusSan-LigIta.eot?#iefix') format('embedded-opentype'),
         url('NimbusSans/NimbusSan-LigIta.woff') format('woff'),
         url('NimbusSans/NimbusSan-LigIta.ttf') format('truetype'),
         url('NimbusSans/NimbusSan-LigIta.svg') format('svg');
    font-weight: 400;
    font-style: italic;
}*/
@include font-face('NimbusSans',font-files( 'NimbusSans/NimbusSan-LigIta.woff',
                                            'NimbusSans/NimbusSan-LigIta.ttf',
                                            'NimbusSans/NimbusSan-LigIta.svg'),'NimbusSans/NimbusSan-LigIta.eot',400, italic);
/*
@font-face {
    font-family: 'NimbusSans';
    src: url('NimbusSans/NimbusSan-Reg.eot');
    src: url('NimbusSans/NimbusSan-Reg.eot?#iefix') format('embedded-opentype'),
         url('NimbusSans/NimbusSan-Reg.woff') format('woff'),
         url('NimbusSans/NimbusSan-Reg.ttf') format('truetype'),
         url('NimbusSans/NimbusSan-Reg.svg') format('svg');
    font-weight: 500;
}*/

@include font-face('NimbusSans',font-files( 'NimbusSans/NimbusSan-Reg.woff',
                                            'NimbusSans/NimbusSan-Reg.ttf',
                                           'NimbusSans/NimbusSan-Reg.svg'),'NimbusSans/NimbusSan-Reg.eot',500);
/*
@font-face {
    font-family: 'NimbusSans';
    src: url('NimbusSans/NimbusSan-RegIta.eot');
    src: url('NimbusSans/NimbusSan-RegIta.eot?#iefix') format('embedded-opentype'),
         url('NimbusSans/NimbusSan-RegIta.woff') format('woff'),
         url('NimbusSans/NimbusSan-RegIta.ttf') format('truetype'),
         url('NimbusSans/NimbusSan-RegIta.svg') format('svg');
    font-weight: 500;
    font-style: italic;
}
*/

@include font-face('NimbusSans',font-files( 'NimbusSans/NimbusSan-RegIta.woff',
                                            'NimbusSans/NimbusSan-RegIta.ttf',
                                            'NimbusSans/NimbusSan-RegIta.svg'),'NimbusSans/NimbusSan-RegIta.eot',500, italic);
/*

@font-face {
    font-family: 'NimbusSans';
    src: url('NimbusSans/NimbusSan-Bol.eot');
    src: url('NimbusSans/NimbusSan-Bol.eot?#iefix') format('embedded-opentype'),
         url('NimbusSans/NimbusSan-Bol.woff') format('woff'),
         url('NimbusSans/NimbusSan-Bol.ttf') format('truetype'),
         url('NimbusSans/NimbusSan-Bol.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}*/

@include font-face('NimbusSans',font-files( 'NimbusSans/NimbusSan-Bol.woff',
                                            'NimbusSans/NimbusSan-Bol.ttf',
                                            'NimbusSans/NimbusSan-Bol.svg'),'NimbusSans/NimbusSan-RegIta.eot',700, normal);
/*
@font-face {
    font-family: 'NimbusSans';
    src: url('NimbusSans/NimbusSan-BolIta.eot');
    src: url('NimbusSans/NimbusSan-BolIta.eot?#iefix') format('embedded-opentype'),
         url('NimbusSans/NimbusSan-BolIta.woff') format('woff'),
         url('NimbusSans/NimbusSan-BolIta.ttf') format('truetype'),
         url('NimbusSans/NimbusSan-BolIta.svg') format('svg');
    font-weight: 700;
    font-style: italic;
}*/

@include font-face('NimbusSans',font-files( 'NimbusSans/NimbusSan-BolIta.woff',
                                            'NimbusSans/NimbusSan-BolIta.ttf',
                                            'NimbusSans/NimbusSan-BolIta.svg'),'NimbusSans/NimbusSan-BolIta.eot',700, italic);
/*
@font-face {
    font-family: 'NimbusSans';
    src: url('NimbusSans/NimbusSan-Bla.eot');
    src: url('NimbusSans/NimbusSan-Bla.eot?#iefix') format('embedded-opentype'),
         url('NimbusSans/NimbusSan-Bla.woff') format('woff'),
         url('NimbusSans/NimbusSan-Bla.ttf') format('truetype'),
         url('NimbusSans/NimbusSan-Bla.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}*/

@include font-face('NimbusSans',font-files( 'NimbusSans/NimbusSan-Bla.woff',
                                            'NimbusSans/NimbusSan-Bla.ttf',
                                           'NimbusSans/NimbusSan-Bla.svg'),'NimbusSans/NimbusSan-BolIta.eot',900, normal);
/*
@font-face {
    font-family: 'NimbusSans';
    src: url('NimbusSans/NimbusSan-BlaIta.eot');
    src: url('NimbusSans/NimbusSan-BlaIta.eot?#iefix') format('embedded-opentype'),
         url('NimbusSans/NimbusSan-BlaIta.woff') format('woff'),
         url('NimbusSans/NimbusSan-BlaIta.ttf') format('truetype'),
         url('NimbusSans/NimbusSan-BlaIta.svg') format('svg');
    font-weight: 900;
    font-style: italic;
}
*/

@include font-face('NimbusSans',font-files( 'NimbusSans/NimbusSan-Bla.woff',
                                            'NimbusSans/NimbusSan-Bla.ttf',
                                            'NimbusSans/NimbusSan-Bla.svg'),'NimbusSans/NimbusSan-BolIta.eot',900, italic);



// nimbus sans condensed
/*
@font-face {
    font-family: 'NimbusSansCondensed';
    src: url('NimbusSans/NimbusSanCon-Bol.eot');
    src: url('NimbusSans/NimbusSanCon-Bol.eot?#iefix') format('embedded-opentype'),
         url('NimbusSans/NimbusSanCon-Bol.woff') format('woff'),
         url('NimbusSans/NimbusSanCon-Bol.ttf') format('truetype'),
         url('NimbusSans/NimbusSanCon-Bol.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}*/


@include font-face('NimbusSansCondensed',font-files( 'NimbusSans/NimbusSan-Reg.woff',
                                            'NimbusSans/NimbusSanCon-Reg.ttf',
                                           'NimbusSans/NimbusSanCon-Reg.svg'),'NimbusSans/NimbusSanCon-Reg.eot',300, normal);

@include font-face('NimbusSansCondensed',font-files( 'NimbusSans/NimbusSan-Reg.woff',
                                            'NimbusSans/NimbusSanCon-Reg.ttf',
                                           'NimbusSans/NimbusSanCon-Reg.svg'),'NimbusSans/NimbusSanCon-Reg.eot',500, normal);

@include font-face('NimbusSansCondensed',font-files( 'NimbusSans/NimbusSanCon-Reg.woff',
                                            'NimbusSans/NimbusSanCon-Reg.ttf',
                                           'NimbusSans/NimbusSanCon-Reg.svg'),'NimbusSans/NimbusSanCon-Reg.eot',normal, normal);

/*
@font-face {
    font-family: 'NimbusSansCondensed';
    src: url('NimbusSans/NimbusSanCon-Bol.eot');
    src: url('NimbusSans/NimbusSanCon-Bol.eot?#iefix') format('embedded-opentype'),
         url('NimbusSans/NimbusSanCon-Bol.woff') format('woff'),
         url('NimbusSans/NimbusSanCon-Bol.ttf') format('truetype'),
         url('NimbusSans/NimbusSanCon-Bol.svg') format('svg');
    font-weight: bold;
    font-style: normal;

}*/

@include font-face('NimbusSansCondensed',font-files( 'NimbusSans/NimbusSanCon-Bol.woff',
                                            'NimbusSans/NimbusSanCon-Bol.ttf',
                                            'NimbusSans/NimbusSanCon-Bol.svg'),'NimbusSans/NimbusSanCon-Bol.eot',bold, normal);


