.cursor-pointer {
    cursor: pointer;
}

// MARGIN AND PADDING  --------------------------------------------------------------------------------------------------
.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.font-sonnox {
    font-family: "NimbusSans", Helvetica, Arial, sans-serif!important;
    letter-spacing: 0!important;
}

.max-width-100 {
    max-width: 100%;
}

.full {
    width: 100%;
    height: 100%;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.margin-bottom-xs {
    margin-bottom: ceil( $line-height-computed / 4)!important;
}

.margin-bottom-sm {
    margin-bottom: ceil( $line-height-computed / 2)!important;
}

.margin-bottom-md {
    margin-bottom: $line-height-computed;
}

.margin-bottom-lg {
    margin-bottom: ceil( $line-height-computed * 2)!important;
}

.margin-top-xs {
    margin-top: ceil( $line-height-computed / 4)!important;
}

.margin-top-sm {
    margin-top: ceil( $line-height-computed / 2)!important;
}

.margin-top-md {
    margin-top: $line-height-computed!important;
}

.margin-top-lg {
    margin-top: ceil( $line-height-computed * 2)!important;
}

.margin-xs-bottom-sm {
    margin-bottom:ceil( $line-height-computed / 2);
}

.margin-xs-bottom-md {
    margin-bottom:$line-height-computed;
}
.padding-0 {
    padding:0px!important;
}
.padding-bottom-xs {
    padding-bottom: ceil( $line-height-computed / 4)!important;
}

.padding-bottom-sm {
    padding-bottom: ceil( $line-height-computed / 2)!important;
}

.padding-bottom-md {
    padding-bottom: $line-height-computed;
}

.padding-bottom-lg {
    padding-bottom: ceil( $line-height-computed * 2)!important;
}

.padding-top-xs {
    padding-top: ceil( $line-height-computed / 4)!important;
}

.padding-top-sm {
    padding-top: ceil( $line-height-computed / 2)!important;
}

.padding-top-md {
    padding-top: $line-height-computed;
}

.padding-top-lg {
    padding-top: ceil( $line-height-computed * 2)!important;
}

.padding-right-1 {
    padding-right: 1%;
}

.no-padding {
    padding: 0px;
}

.no-side-padding {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.padding-100-100 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.padding-100-100 {
    line-height: 1.5em;
    font-size: 1.0625em;
    .modal-dialog {
        font-size: 15px;
    }
    ul {
        padding-left: 0px;
        text-align: left;
    }
    li {
        margin-bottom: 0.7em;
        line-height: 1.3em;
    }
    .content {
        min-height: 200px;
    }
    position: relative;
    .note {
        font-size: 0.8em;
    }
    h1,
    h2 {
        font-family: $font-family-condensed;
        font-weight: bold;
        letter-spacing: 0.1em;
    }
    h2 {
        font-size: 2em;
    }
    .modal-content {
        h2 {
            font-family: $font-family-sans-serif;
            font-size: 1.2em;
            letter-spacing: 0.01em;
        }
    }
    @include respond-to(xs) {
        font-size: 1.0625em;
        .content {
            min-height: 200px;
        }
    }
    ;
    @include respond-to(sm) {
        font-size: 1.0625em;
        .content {
            min-height: 200px;
        }
    }
    ;
    @include respond-to(md) {
        font-size: 1.0625em;
        .content {
            min-height: 200px;
        }
    }
    ;
    @include respond-to(lg) {
        font-size: 1.0625em;
        .content {
            min-height: 200px;
        }
    }
    ;
}

@media (max-width: 480px) {
    .padding-100-100,
    .padding-100-20,
    .padding-20-100,
    .padding-20-20 {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .padding-bottom-50 {
        padding-bottom: 25px;
    }
}

.padding-side-05 {
    padding: 0px 0.5em;
}

.padding-1em {
    padding: 1em;
}

.padding-02em {
    padding: 0.2em;
}

.padding-2em {
    padding: 2em;
}

.padding-left-0 {
    padding-left: 0px;
}

.no-margin {
    margin: 0px;
}

.vertical-align-middle {
    vertical-align: middle;
}

// VISIBILITY  --------------------------------------------------------------------------------------------------
.visible-xs {
    display: none;
}

@media screen and (max-width: 768px) {
    .visible-xs {
        display: inherit;
    }
}

.opacity-1 {
    filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=10)"!important;
    opacity: 1!important;
}

.opacity-0 {
    filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=10)"!important;
    opacity: 0!important;
}

.opacity-n0 {
    @include opacity(0);
    @include respond-to(xs) {
        @include opacity(1)
    }
}

.hidden {
    display: none;
}

.display-none {
    display: none;
}

.display-xs-none {
    @include respond-to(xs) {
        display: none;
    }
}

.display-sm-none {
    @include respond-to(sm) {
        display: none;
    }
}

.display-md-none {
    @include respond-to(md) {
        display: none;
    }
}

.hidden-ml {
    @include respond-to ( ml) {
        display: none!important;
    }
}

.display-xs-block {
    @include respond-to(xs) {
        display: block!important;
    }
}

.display-sm-block {
    @include respond-to(sm) {
        display: block;
    }
}

.display-md-block {
    @include respond-to(md) {
        display: block;
    }
}

.visible-ml {
    @include respond-to ( ml) {
        display: block!important;
    }
}

.display-md-inline-block {
    @include respond-to(md) {
        @include inline-block;
    }
}

 // FONT -----------------------------------------------------------------------------
.font-size-15em {
    font-size: 1.5em;
}

.font-size-2em {
    font-size: 2em;
}
.font-size-xs-17px {
    @include respond-to(xs) {
       font-size:17px!important;
   }
}

.font-size-xs-16px {
    @include respond-to(xs) {
       font-size:16px!important;
   }
}


// POSITIONING  SIZING --------------------------------------------------------------------------------------------------
.img-max-width-100 {
    img {
        max-width: 100%;
    }
}

.max-height-0 {
    max-height: 0px;
}

.max-height-auto {
    max-height: 10000px;
}

.min-width-300px {
    min-width: 300px;
}

.width-100 {
    width: 100%;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    /*
  Nope =(
  margin-left: -25%;
  margin-top: -25%;
  */
    /*
  Yep!
  */
    @include transform (translate(-50%, -50%));
}

.vertical-center {
    position: absolute;
    top: 50%;
    z-index: 1;
    @include transform (translate(0%, -50%));
}

.size-cover {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.vertical-center {
    position: absolute;
    top: 50%;
    z-index: 1;
    @include transform (translate(0%, -50%));
}

.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}

.line-height-1em {
    line-height: 1em;
}

.line-height-08em {
    line-height: 0.8em;
}

.z-index10,
.z-index-10 {
    z-index: 10;
}

.z-index20,
.z-index-20 {
    z-index: 20;
}

.overflow-hidden {
    overflow: hidden;
}

// ALIGNMENT  --------------------------------------------------------------------------------------------------
.display-inline {
    display: inline;
}

.display-inline-block {
    @include inline-block;
}

.right-auto {
    right: auto!important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.float-left-important {
    float: left!important;
}

.float-none {
    float: none!important;
}

.margin-auto {
    margin: auto;
}

.margin-top0,
.margin-top-0 {
    margin-top: 0px;
}

.margin-left-0 {
    margin-left: 0px;
}

.margin-right-m10p {
    margin-right: -10%;
}

.margin-left-m10p {
    margin-left: -10%;
}

.margin-bottom-0 {
    margin-bottom: 0px!important;
}

.text-xs-center {
    @include respond-to(xs) {
        text-align: center;
        ul > ul {
            text-align: left;
        }
        ol {
            text-align: left;
        }
    }
    ;
}

.text-xs-left {
    @include respond-to(xs) {
        text-align: left;
    }
    ;
}

.text-sm-center {
    @include respond-to(sm) {
        text-align: center;
        ul > ul {
            text-align: left;
        }
        ol {
            text-align: left;
        }
    }
    ;
}

.text-sm-left {
    @include respond-to(sm) {
        text-align: left;
    }
    ;
}

.text-md-left {
    @include respond-to(md) {
        text-align: left;
    }
    ;
}

.text-md-center {
    @include respond-to(md) {
        text-align: left;
        ul > ul {
            text-align: left;
        }
        ol {
            text-align: left;
        }
    }
    ;
}

.text-center {
    text-align: center!important;
}

// COLORS  --------------------------------------------------------------------------------------------------
.background-white {
    background-color: white;
    color: #333333;
    h2 {
        color: #333333;
    }
}

.sub-menu.visible.background-grey-soft,
.background-grey-soft {
    background: $grey-soft;
}

.learn .background-grey-soft .form-wrapper input,
.support .background-grey-soft.form-wrapper input {
    background: white;
}

.sub-menu.visible.background-sonnox-soft,
.background-sonnox-soft {
    background: $sonnox-soft;
}

.color-red {
    color: $flat-red;
}

img.width-100 {
    width: 100%;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-05em {
    padding:0.5em;
}

.background-transparent-03 {
    @include rgba-background(rgba(0, 0, 0, 0.3));
}

@media (max-width: 767px) {
    .padding-100-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.background-cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    img {
        max-width: 100%;
    }
}

.vertical_gradient {
    @include background-image(linear-gradient(to top, #6E8ABB, #fff));
}

.background-black,
.product-bundle-container-plugin.background-black {
    background: #000;
    color: #fff;
    h1,
    h2,
    h3 {
        color: #fff;
    }
}

.background-light-grey,
.background-grey-light {
    background: #F6F6F6!important;
}

.onhover-background-grey-light:hover {
    background: #F6F6F6!important;
}

.onhover-background-white:hover {
    background: white!important;
}

.background-grey {
    background-color: $background-grey!important;
}

.padding-gutter {
    //$padding-left: floor(($grid-gutter-width / 2));
    // $padding-right: floor(($grid-gutter-width / 2));
    padding-top: 2em;
    padding-bottom: 2em;
}

.background-grey,
.product-bundle-container-plugin.background-grey {
    background: #e4e4e4;
    color: black;
    h2,
    h3 {
        color: black;
    }
    .r-tabs {
        position: relative;
        background: rgba(0, 0, 0, 0);
        border: 0px;
        .r-tabs-nav {
            text-align: center;
            .r-tabs-anchor {
                font-weight: 500;
            }
        }
    }
}

.background-grey-dark {
    background-color: #262626;
    h2 {
        color: white;
    }
    color:white;
}

.background-color-sonnox {
    background-color: $sonnox-color;
    color: white;
}

.color-white {
    color: white!important;
    h1,
    h2,
    h3,
    h4 {
        color: white!important;
    }
}

.color-orange {
    color: $orange!important;
    h1,
    h2,
    h3,
    h4 {
        color: $orange!important;
    }
}

.color-light-orange {
    color: $light-orange!important;
    h1,
    h2,
    h3,
    h4 {
        color: $light-orange!important;
    }
}

.color-sonnox {
    color: $sonnox-color;
    &:visited {
        color: $sonnox-color;
    }
}

.color-text {
    color: $text-color;
    &:visited {
        color: $text-color;
    }
    &:hover {
        color: black;
    }
}

.link {
    color: $sonnox-color;
    &:hover {
        color: darken($sonnox-color, 20%);
    }
}

// -----------------   effect
