
body #admin-menu {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1600;
}
body #admin-menu .dropdown li {
    line-height: normal;
}
.navbar.container {
    margin-top: 20px;
}
@media screen and (min-width:768px) {
    .navbar.container {
    max-width: 720px;
}
}@media screen and (min-width:992px) {
    .navbar.container {
    max-width: 940px;
}
}@media screen and (min-width:1200px) {
    .navbar.container {
    max-width: 1140px;
}
}.navbar.container>.container {
    margin: 0;
    padding: 0;
    width: auto;
}
#overlay-container, .overlay-modal-background, .overlay-element {
    z-index: 1500;
}
#toolbar {
    z-index: 1600;
}
.modal {
    z-index: 1620;
}
.modal-dialog {
    z-index: 1630;
}
.modal-backdrop {
    z-index: 1610;
}

.element-invisible {
    margin: 0;
    padding: 0;
    width: 1px;
}
.navbar .logo {
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (min-width:768px) {
    .navbar .logo {
    margin-right: 0;
    padding-left: 0;
}
}ul.secondary {
    float: left;
}
@media screen and (min-width:768px) {
    ul.secondary {
    float: right;
}
}.page-header {
    margin-top: 0;
}

.ajax-progress .glyphicon {
    font-size: 90%;
    margin: 0 -.25em 0 .5em;
}
.glyphicon-spin {
    @include inline-block;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}
a .glyphicon-spin {
    @include inline-block;
    text-decoration: none;
}
@-moz-keyframes spin {
    0% {
    -moz-transform: rotate(0deg);
}
100% {
    -moz-transform: rotate(359deg);
}
}@-webkit-keyframes spin {
    0% {
    -webkit-transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(359deg);
}
}@-o-keyframes spin {
    0% {
    -o-transform: rotate(0deg);
}
100% {
    -o-transform: rotate(359deg);
}
}@-ms-keyframes spin {
    0% {
    -ms-transform: rotate(0deg);
}
100% {
    -ms-transform: rotate(359deg);
}
}@keyframes spin {
    0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(359deg);
}
}

.glyphicon.glyphicon-refresh {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}


*:focus {
    outline:0px !important;
    box-shodow:none;
}
