<div class="tiles-list" >

  <div class="tile" data-ng-repeat="tile in tiles">
  <a href="{{tile.node.path}}">

       {{tile.node.title}}
      <img  ng-src="{{tile.node.field_image.src}}"/>
      {{tile.node.field_category_1}}
      {{tile.node.field_category}}
      <div calss="icon" ng-bind-html="tile.node.field_category_icon"></div>
      {{tile.node.nid}}
      {{tile.node.counter}}
      <div ng-bind-html="tile.node.body"></div>
    </a>
  </div>
  </div>
  <div class="container"> <button class="btn btn-default"  ng-click="loadm($scope)" >VIEW MORE</button></div>

