@mixin megamenu_background() {
    @include rgba-background(rgba(230, 230, 230, 1));
}

@mixin megamenu_background_transparent() {
    @include rgba-background(rgba(245, 245, 245, 0.85));
}

.megamenu-background {
    @include megamenu_background_transparent();
}

$item-hover-background : black;
$item-hover-color : white;
$products-panel-background: white;
$product-header-background: black;
//$megamenu-background: @include rgba-background(rgba(246, 246, 246, 0.85));


.nav-container.global-nav .mega-menu-wrapper , .nav-container.global-nav .mega-menu-wrapper.mobile {
    font-weight: 500;
    a,
    a:visited, a:hover , * {
        text-decoration:none;
    }
    & > ul {
        display: table;
        height: 60px;
        margin-bottom: 0px;
        & > li {
            display: table-cell;
            > a {
                float: left;
                text-align: center;
                margin-left: 0px;
                padding: 0px 15px 0px 15px;
                color: #b1b1b1;
                min-height: 60px;
                line-height: 60px;
                width: 90px;
                font-weight: 500;
                &:hover {
                    background: #2f2f2f;
                    color: white;
                }
            }
        }
    } //  & > ul
    .hover-dropdown {
        &:hover {
            background: #2f2f2f;
            .mega-submenu {}
        }
        .mega-submenu {
            @include custom-transition( all, 0.2s);
            top: 60px;
            position: absolute;
            left: 0px;
            width: 100%;
            //background: rgba(255, 255, 255, 0.95);
            color: block;
            padding: 0px;
            text-align: center;
            overflow: hidden;
            max-height: 0px;
            padding: 0px;
            background: transparent;
            .mega-submenu-container {
                float: left;
                @include megamenu_background();
                padding: 1em;
                border-bottom: 0px;
                .mega-submenu-content {
                    ul {
                        li.col-sm-6 {
                            .width-100 {
                                padding: 0.5em;
                                //background: lighten($sonnox-color, 34%);
                                & a {
                                    margin: 3px;
                                    &:hover {
                                        background: white;
                                    }
                                }
                                & > a {
                                    margin: 0px;
                                    color: #FFF;
                                    font-size: 1.4em;
                                    //background: $sonnox-color;
                                    &:hover {
                                        text-decoration: underline;
                                       // background: $sonnox-color;
                                    }
                                }
                                ul {
                                    li.level-3 {
                                        a {
                                            line-height: 24px;
                                            border-bottom: none;
                                            margin: 0px;
                                        }
                                    }
                                }
                            } // width-100
                        } // li.col-sm-6
                    } //ul
                } // mega-submenu-content
            } // mega-submenu-container
            ul {
                display: block;
                margin: auto;
                padding: 0px;
                li {
                    margin: auto;
                    @include inline-block(top,top);
                    &.item-image {
                        overflow:hidden;
                    }
                    a {
                        line-height: 62px;
                        display: block;
                        float: left;
                        color: #333;
                        width: 190px;
                        margin: auto;
                        @include transition( all, 0.2s);
                        &:hover {
                            background: #f1f1f1;
                            color: black;
                        }
                    }
                    &.item-image {
                        width: 166px;
                        a {
                            margin:3px;
                            width: 160px;
                            img {
                                display:block;
                                max-width: 200px;
                            }
                        }
                    }
                    &.col-sm-6 {
                        a {
                            float: none;
                            width: 100%;
                            background: #ececec;
                            text-align: center;
                            margin-bottom: 1em;
                            border-bottom: 1px solid #f2f2f2;
                            @include transition( all, 0.2s);
                            &:hover {
                                background: #ececec;
                                color: black;
                            }
                        }
                        ul {
                            li {
                                padding: 0px;
                                a {
                                    background: transparent;
                                    margin-bottom: 1.5em;
                                    line-height: 1.3em;
                                    border-bottom: none;
                                    padding: 0.5em;
                                }
                            }
                        }
                    }
                    ul {
                        display: table;
                        li {
                            @include inline-block(top,top);
                            padding: 10px;
                            width: 33%;
                            float: left;
                            a {
                                margin: auto;
                                line-height: 1.5em;
                                text-align: left;
                                width: auto;
                                height: 3em;
                            }
                        }
                    }
                }
            } // ul
            .mega-submenu-container {
                max-width: 1200px;
                .mega-submenu-content {
                    .width-100 {
                       // background: $sonnox-color;
                        & > a {
                            margin: 0px;
                            color: #FFF;
                            font-size: 1.4em;
                           // background: $sonnox-color;
                            &:hover {
                                text-decoration: underline;
                             //   background: $sonnox-color;
                            }
                        } // first a
                    } // width-100
                } // mega-submenu-content
            } // mega-submenu-container
        } // mega-submenu
    } // hover-dropdown
} //.nav-container.global-nav .mega-menu-wrapper
