//Tablets 768px and Up
.nav-container.global-nav .mega-menu-wrapper,
.nav-container.global-nav .mega-menu-wrapper.mobile {
    @include respond-to(sm) {
        display: none;
        /*
        & > ul {
            display: table;
            height: 60px;
            margin-bottom: 0px;
            & > li {
                display: table-cell;
                > a {
                    float: left;
                    text-align: center;
                    margin-left: 0px;
                    padding: 0px 15px 0px 15px;
                    color: #b1b1b1;
                    min-height: 60px;
                    line-height: 60px;
                    width: 90px;
                    font-weight: 500;
                    &:hover {
                        background: #2f2f2f;
                        color: white;
                    }
                }
            }
        } //  & > ul
        .hover-dropdown {
            &:hover {
                background: #2f2f2f;
                .mega-submenu {}
            }
            .mega-submenu {
                @include custom-transition( all, 0.2s);
                top: 60px;
                position: absolute;
                left: 0px;
                width: 100%;
                //background: rgba(255, 255, 255, 0.95);
                color: block;
                padding: 0px;
                text-align: center;
                overflow: hidden;
                max-height: 0px;
                padding: 0px;
                background: transparent;
                .mega-submenu-container {
                    float: left;
                    @include megamenu_background();
                    padding: 1em;
                    border-bottom: 0px;
                    .mega-submenu-content {
                        ul {
                            li.col-sm-6 {
                                .width-100 {
                                    padding: 0.5em;
                                    background: lighten($sonnox-color, 34%);
                                    & a {
                                        margin: 3px;
                                        &:hover {
                                            background: white;
                                        }
                                    }
                                    & > a {
                                        margin: 0px;
                                        color: #FFF;
                                        font-size: 1.4em;
                                        background: $sonnox-color;
                                        &:hover {
                                            text-decoration: underline;
                                            background: $sonnox-color;
                                        }
                                    }
                                    ul {
                                        li.level-3 {
                                            a {
                                                line-height: 48px;
                                                border-bottom: none;
                                                margin: 2px 3px 2px 3px;
                                            }
                                        }
                                    }
                                } // width-100
                            } // li.col-sm-6
                        } //ul
                    } // mega-submenu-content
                } // mega-submenu-container
                ul {
                    display: block;
                    margin: auto;
                    padding: 0px;
                    li {
                        margin: auto;
                        a {
                            line-height: 62px;
                            display: block;
                            float: left;
                            color: #333;
                            width: 190px;
                            margin: auto;
                            @include transition( all, 0.2s);
                            &:hover {
                                background: #f1f1f1;
                                color: black;
                            }
                        }
                        &.item-image {
                            a {
                                width: 210px;
                                img {
                                    max-width: 200px;
                                }
                            }
                        }
                        &.col-sm-6 {
                            a {
                                float: none;
                                width: 100%;
                                background: #ececec;
                                text-align: center;
                                margin-bottom: 1em;
                                border-bottom: 1px solid #f2f2f2;
                                @include transition( all, 0.2s);
                                &:hover {
                                    background: #ececec;
                                    color: black;
                                }
                            }
                            ul {
                                li {
                                    padding: 0px;
                                    a {
                                        background: transparent;
                                        margin-bottom: 1.5em;
                                        line-height: 1.3em;
                                        border-bottom: none;
                                        padding: 0.5em;
                                    }
                                }
                            }
                        }
                        ul {
                            display: table;
                            li {
                                @include inline-block;
                                padding: 10px;
                                width: 33%;
                                float: left;
                                a {
                                    margin: auto;
                                    line-height: 1.5em;
                                    text-align: left;
                                    width: auto;

                                    height: 3em;
                                }
                            }
                        }
                    }
                } // ul
                .mega-submenu-container {
                    max-width: 1200px;
                    .mega-submenu-content {
                        .width-100 {
                            background: $sonnox-color;
                            & > a {
                                margin: 0px;
                                color: #FFF;
                                font-size: 1.4em;
                                background: $sonnox-color;
                                &:hover {
                                    text-decoration: underline;
                                    background: $sonnox-color;
                                }
                            } // first a
                        } // width-100
                    } // mega-submenu-content
                } // mega-submenu-container
            } // mega-submenu
        } // hover-dropdown
        */
    } // respond-to(sm)
}

.nav-container.global-nav .mega-menu-wrapper.mobile {
    @include respond-to(md-max) {
        -webkit-overflow-scrolling: touch;
        position: fixed;
        height: 100%;
        width: 100%;
        margin-right: 1em;
        z-index: 20000;
        background: black;
        display: block!important;
        top: 0px;
        left: 0px;
        overflow-y: scroll;
        //margin-right:1em;
        & > ul {
            margin: 0px;
            display: block;
            height: auto;
            margin-bottom: 0px;
            margin: 0px;
            padding: 0px;
            & > li {
                margin: 0px;
                display: block;
                > a {
                    font-size: 22px;
                    float: none;
                    text-align: center;
                    margin-left: 0px;
                    padding: 0px 15px 0px 15px;
                    color: #b1b1b1;
                    height: 60px;
                    line-height: 60px;
                    width: 100%;
                    display: block;
                    &:hover {
                        background: #2f2f2f;
                        color: white;
                    }
                }
            }
        }
        .hover-dropdown {
            &.large-items {
                .mega-submenu {
                    ul {
                        li {
                            a {
                                width: 140px;
                            }
                        }
                    }
                }
            }
            .mega-submenu {
                @include transition( all, 0.2s);
                padding: 1em;
                top: 0px;
                position: relative;
                /* left: 0px; */
                width: 100%;
                @include megamenu_background();
                color: block;
                text-align: center;
                max-height: 1000px;
                display: block;
                /* margin-top: -60px; */
            }
            &> div {
                overflow: hidden;
                @include transition( all, 0.2s);
                max-height: 1000px;
                padding: 1em;
                background: transparent;
            }
        }
        .hover-dropdown:hover > div {
            display: block;
            max-height: 1000px;
            height: auto;
            padding: 1em;
            border-bottom: 0px solid #efefef;
        }
        .mega-submenu {
            .mega-submenu-container {
                float: left;
                width: 100%;
                @include megamenu_background();
                padding: 1em;
                border-bottom: 0px;
                .mega-submenu-content {
                    ul {
                        li.col-sm-6 {
                            .width-100 {
                                padding: 0.5em;
                                // background: lighten($sonnox-color, 34%);
                                & a {
                                    margin: 3px;
                                    &:hover {
                                        background: white;
                                    }
                                }
                                & > a {
                                    margin: 0px;
                                    color: #FFF;
                                    font-size: 1.4em;
                                    // background: $sonnox-color;
                                    &:hover {
                                        text-decoration: underline;
                                        // background: $sonnox-color;
                                    }
                                }
                                ul {
                                    li.level-3 {
                                        width: 50%;
                                        a {
                                            line-height: 24px;
                                            border-bottom: none;
                                            margin: 0px;
                                            font-size: 15px;
                                        }
                                    }
                                }
                            } // width-100
                        } // li.col-sm-6
                    } //ul
                } // mega-submenu-content
            } // mega-submenu-container
            ul {
                display: block;
                margin: auto;
                padding: 0px;
                li {
                    margin: auto;
                    a {
                        line-height: 62px;
                        display: block;
                        float: none;
                        color: #333;
                        width: 90px;
                        margin: auto;
                        @include transition( all, 0.2s);
                        &:hover {
                            background: #f1f1f1;
                            color: black;
                        }
                    }
                    &.item-image {
                        a {
                            width: 150px;
                            img {
                                max-width: 140px;
                            }
                        }
                    }
                    &.col-sm-6 {
                        a {
                            float: none;
                            width: 100%;
                            background: #ececec;
                            text-align: center;
                            margin-bottom: 1em;
                            border-bottom: 1px solid #f2f2f2;
                            @include transition( all, 0.2s);
                            &:hover {
                                background: #ececec;
                                color: black;
                            }
                        }
                        ul {
                            li {
                                padding: 0px;
                                a {
                                    background: transparent;
                                    margin-bottom: 0px;
                                    padding: 0px;
                                    line-height: 40px;
                                    height: 40px;
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                    ul {
                        display: table;
                        li {
                            @include inline-block;
                            padding: 10px;
                            width: 50%;
                            float: left;
                            a {
                                margin: auto;
                                line-height: 1.5em;
                                text-align: left;
                                width: auto;
                                /* padding-top: 1em; */
                                height: 3em;
                            }
                        }
                    }
                }
            }
        }
    }
}

.nav-container.global-nav .mega-menu-wrapper,
.nav-container.global-nav .mega-menu-wrapper.mobile {
    @include respond-to(md) {
        // position: relative;
        display: block;
        // mega-menu-wrapper
        margin-right: 1em;
        .hover-dropdown {
            &:hover {
                .mega-submenu {
                    @include opacity(1);
                    @include inline-block();
                    max-height: 1000px;
                    height: auto;
                    padding: 0px;
                    .mega-submenu-container {
                        float: right;
                        @include megamenu_background_transparent();
                        padding: 0em;
                        border-bottom: 0px; //8px solid #efefef;
                    }
                }
                //border-bottom: 1px solid #efefef;
            }
            &.large-items {
                .mega-submenu {
                    ul {
                        li {
                            a {
                                width: 190px;
                            }
                        }
                    }
                }
            }
            &.vertical.level-1 {
                position: relative;
                .mega-submenu.hover-dropdown.vertical {
                    width: 208px;
                    right: 0px;
                    margin-left: auto;
                    margin-top: 1px;
                    .mega-submenu-container {
                        width: 208px;
                        margin-left: auto;
                        .mega-submenu-content {
                            float: none;
                            width: 100%;
                            .level-0 {
                                padding: 0px;
                                .level-2 {
                                    float: none;
                                    .level-1 {
                                        @include transition( all, 0.3s);
                                        width: 100%;
                                        float: none;
                                        margin: auto;
                                        &:hover {
                                            background: black;
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                        ul {
                            li {
                                display: block;
                            }
                        }
                    }
                }
            }
            .mega-submenu {
                @include opacity(0.6);
                @include transition( max-height, 0.5s);
                top: 60px;
                position: absolute;
                right: 0px;
                width: auto;
                background: transparent;
                color: block;
                padding: 0px;
                text-align: center;
                overflow: hidden;
                //@include transition( max-height, 0.2s);
                max-height: 0px;
                padding: 0px;
                background: transparent;
                &.container-max-width-600 {
                    .mega-submenu-container {
                        max-width: 600px;
                    }
                }
                .mega-submenu-container {
                    max-width: 1200px;
                    float: right;
                    @include megamenu_background_transparent();
                    padding: 0em;
                    //border-bottom: 0px;
                    .mega-submenu-content {
                        padding: 4px;
                        float: left;
                        ul {
                            li.col-sm-6 {
                                .width-100 {
                                    padding: 0em;
                                    margin-bottom:1px;
                                    background: transparent;//$products-panel-background;
                                    & a {
                                        margin: 3px;
                                        &:hover {
                                            color: $item-hover-color; // underline;
                                            background: $item-hover-background; // $sonnox-color;
                                        }
                                    }
                                    & > a {
                                        margin: 0px;
                                        color: #FFF;
                                        font-size: 16px;
                                        line-height: 40px;
                                        height: 40px;
                                        background: $product-header-background; //$sonnox-color;
                                        &:hover {
                                            text-decoration: $item-hover-color; // underline;
                                            background: $item-hover-background; // $sonnox-color;
                                        }
                                    }
                                    ul {
                                        li.level-3 {
                                            a {
                                                line-height: 24px;
                                                height: 40px;
                                                border-bottom: none;
                                                margin: 0px;
                                            }
                                        }
                                    }
                                } // width-100
                            } // li.col-sm-6
                        } //ul
                    } // mega-submenu-content
                } // mega-submenu-container
                & > ul {
                    display: table;
                    height: 60px;
                    margin-bottom: 0px;
                    & > li {
                        display: table-cell;
                        > a {
                            float: left;
                            text-align: center;
                            margin-left: 0px;
                            padding: 0px 15px 0px 15px;
                            color: #b1b1b1;
                            height: 60px;
                            line-height: 60px;
                            width: 90px;
                            &:hover {
                                background: rgb(0, 0, 0);
                                color: rgb(255, 255, 255);
                            }
                        }
                    } //  first li of first ul
                } // first ul
                ul {
                    display: block;
                    margin: auto;
                    padding: 0px;
                    font-size: 0px;
                    li {
                        font-size: 16px;
                        padding: 0px;
                        padding-right: 4px;
                        margin: auto;
                        &:last {
                            padding-right: 0px;
                        }
                        &.item-image {
                            padding: 0px;
                        }
                        a {
                            line-height: 40px;
                            display: block;
                            float: left;
                            color: #333;
                            width: 140px;
                            margin: auto;
                            margin: 3px;
                            @include transition( background, 0.3s);
                            &:hover {
                                background: $item-hover-background;
                                color: $item-hover-color;
                            }
                        }
                        &.item-image {
                            a {
                                width: 160px;
                                img {
                                    width: 160px;
                                }
                            }
                        }
                        &.col-sm-12 {
                            a {
                                float: none;
                                width: 100%;
                                background: #ececec;
                                text-align: center;
                                margin-bottom: 1em;
                                border-bottom: 1px solid #f2f2f2;
                                @include transition( background, 0.3s);
                                @include transition( color, 0.3s);
                                &:hover {
                                    background: #ececec;
                                    color: black;
                                }
                            }
                            ul {
                                li {
                                    padding: 0px;
                                    line-height: 40px;
                                    height: 40px;
                                    a {
                                        background: transparent;
                                        margin-bottom: 0px;
                                        line-height: 1.2em;
                                        border-bottom: none;
                                    }
                                }
                            }
                        }
                        ul {
                            display: table;
                            li {
                                @include inline-block;
                                padding: 10px;
                                width: 33%;
                                float: left;
                                a {
                                    margin: auto;
                                    line-height: 1.5em;
                                    text-align: left;
                                    width: auto;
                                    /* padding-top: 1em; */
                                    height: 3em;
                                }
                            }
                        }
                    } // li
                } // ul
            } // mega-submenu
        }
    } // @include respond-to(md)
}

.nav-container.global-nav .mega-menu-wrapper.hidden-xs.mobile {
    @include respond-to(md-max) {
        -webkit-overflow-scrolling: touch;
        font-size: 0.8em;
        position: fixed;
        height: 100%;
        width: 100%;
        margin-right: 1em;
        z-index: 20000;
        background: black;
        display: block!important;
        top: 0px;
        left: 0px;
        overflow-y: scroll;
        //margin-right:1em;
        & > ul {
            margin: 0px;
            display: block;
            height: auto;
            margin-bottom: 0px;
            margin: 0px;
            padding: 0px;
            & > li {
                margin: 0px;
                display: block;
                > a {
                    font-size: 18px;
                    float: none;
                    text-align: center;
                    margin-left: 0px;
                    padding: 0px 15px 0px 15px;
                    color: #b1b1b1;
                    height: 60px;
                    line-height: 60px;
                    width: 100%;
                    display: block;
                    &:hover {
                        background: #2f2f2f;
                        color: white;
                    }
                }
            }
        }
        .hover-dropdown {
            &.large-items {
                .mega-submenu {
                    ul {
                        li {
                            a {
                                width: 140px;
                            }
                        }
                    }
                }
            }
            .mega-submenu {
                @include transition( all, 0.5s);
                padding: 1em;
                top: 0px;
                position: relative;
                /* left: 0px; */
                width: 100%;
                @include megamenu_background();
                color: block;
                text-align: center;
                max-height: 1000px;
                display: block;
                /* margin-top: -60px; */
            }
            &> div {
                overflow: hidden;
                @include transition( all, 0.3s);
                max-height: 1000px;
                padding: 1em;
                background: transparent;
            }
        }
        .hover-dropdown:hover > div {
            display: block;
            max-height: 1000px;
            height: auto;
            padding: 1em;
            border-bottom: 0px solid #efefef;
        }
        .mega-submenu {
            .mega-submenu-container {
                float: left;
                width: 100%;
                @include megamenu_background();
                padding: 1em;
                .mega-submenu-content {
                    ul {
                        li.col-sm-6 {
                            .width-100 {
                                padding: 0.5em;
                                background: white; //lighten($sonnox-color, 34%);
                                & a {
                                    margin: 3px;
                                    &:hover {
                                        background: white;
                                    }
                                }
                                & > a {
                                    margin: 0px;
                                    margin-bottom:1em;
                                    color: #FFF;
                                    font-size: 1.4em;
                                    background: black;// $sonnox-color;
                                    &:hover {
                                        text-decoration: underline;
                                        background: black;
                                //        background: $sonnox-color;
                                    }
                                }
                                ul {
                                    li.level-3 {
                                        a {
                                            font-size: 14px;
                                            line-height: 16px;
                                            border-bottom: none;
                                            margin: 2px 3px 2px 3px;
                                        }
                                    }
                                }
                            } // width-100
                        } // li.col-sm-6
                    } //ul
                } // mega-submenu-content
            } // mega-submenu-container
            ul {
                display: block;
                margin: auto;
                padding: 0px;
                li {
                    margin: auto;
                    a {
                        line-height: 40px;
                        display: block;
                        float: none;
                        color: #333;
                        width: 90px;
                        margin: auto;
                        @include transition( all, 0.2s);
                        &:hover {
                            background: #f1f1f1;
                            color: black;
                        }
                    }
                    &.item-image {
                        a {
                            width: 150px;
                            img {
                                max-width: 140px;
                            }
                        }
                    }
                    &.col-sm-6 {
                        a {
                            float: none;
                            width: 100%;
                            background: #ececec;
                            text-align: center;
                            margin-bottom: 1em;
                            border-bottom: 1px solid #f2f2f2;
                            @include transition( all, 0.2s);
                            &:hover {
                                background: #ececec;
                                color: black;
                            }
                        }
                        ul {
                            li {
                                padding: 0px;
                                a {
                                    background: transparent;
                                    margin-bottom: 0px;
                                    line-height: 3em;
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                    ul {
                        display: table;
                        li {
                            @include inline-block;
                            padding: 10px;
                            width: 50%;
                            float: left;
                            a {
                                margin: auto;
                                line-height: 1.5em;
                                text-align: left;
                                width: auto;
                                /* padding-top: 1em; */
                                height: 3em;
                            }
                        }
                    }
                }
            }
        }
    }
} // nav-container.global-nav .mega-menu-wrapper.hidden-xs.mobile
// Desktops 992px and Up
.nav-container.global-nav .mega-menu-wrapper,
.nav-container.global-nav .mega-menu-wrapper.mobile {
    @include respond-to(lg) {
        display: block;
        // mega-menu-wrapper
        margin-right: 1em;
        .hover-dropdown {
            &:hover {
                .mega-submenu {
                    @include opacity(1);
                    @include inline-block();
                    max-height: 1000px;
                    height: auto;
                    padding: 0px;
                    .mega-submenu-container {
                        float: right;
                        @include megamenu_background_transparent();
                        padding: 0em;
                        border-bottom: 0px; //8px solid #efefef;
                    }
                }
                //border-bottom: 1px solid #efefef;
            }
            &.large-items {
                .mega-submenu {
                    ul {
                        li {
                            a {
                                width: 190px;
                            }
                        }
                    }
                }
            }
            .mega-submenu {
                @include opacity(0.6);
                @include transition( max-height, 0.5s);
                top: 60px;
                position: absolute;
                left: 0px;
                width: 100%;
                background: transparent;
                color: block;
                padding: 0px;
                text-align: center;
                overflow: hidden;
                //@include transition( max-height, 0.2s);
                max-height: 0px;
                padding: 0px;
                background: transparent;
                &.container-max-width-600 {
                    .mega-submenu-container {
                        max-width: 600px;
                    }
                }
                &.vertical {
                    .mega-submenu-container {
                        ul {
                            li {
                                display: block;
                            }
                        }
                    }
                }
                .mega-submenu-container {
                    max-width: 1200px;
                    float: right;
                    @include megamenu_background_transparent();
                    padding: 0em;
                    //border-bottom: 0px;
                    .mega-submenu-content {
                        padding: 4px;
                        float: left;
                        ul {
                            li.col-sm-6 {
                                .width-100 {
                                    padding: 0em;
                                    // background: lighten($sonnox-color, 34%);
                                    & a {
                                        margin: 3px;
                                        &:hover {
                                            //   background: white;
                                        }
                                    }
                                    & > a {
                                        margin: 0px;
                                        //  color: #FFF;
                                        font-size: 16px;
                                        line-height: 40px;
                                        height: 40px;
                                        padding-top: 0px;
                                        //  background: $sonnox-color;
                                        &:hover {
                                            //   text-decoration: underline;
                                            //   background: $sonnox-color;
                                        }
                                    }
                                    ul {
                                        li.level-3 {
                                            a {
                                                line-height: 24px;
                                                height: 40px;
                                                border-bottom: none;
                                                margin: 0px;
                                            }
                                        }
                                    }
                                } // width-100
                            } // li.col-sm-6
                        } //ul
                    } // mega-submenu-content
                } // mega-submenu-container
                & > ul {
                    display: table;
                    height: 60px;
                    margin-bottom: 0px;
                    & > li {
                        display: table-cell;
                        > a {
                            float: left;
                            text-align: center;
                            margin-left: 0px;
                            padding: 0px 15px 0px 15px;
                            color: #b1b1b1;
                            height: 60px;
                            line-height: 60px;
                            width: 90px;
                            &:hover {
                                background: #2f2f2f;
                                color: white;
                            }
                        }
                    } //  first li of first ul
                } // first ul
                ul {
                    display: block;
                    margin: auto;
                    padding: 0px;
                    font-size: 0px;
                    li {
                        font-size: 16px;
                        padding: 0px;
                        padding-right: 4px;
                        margin: auto;
                        &:last {
                            padding-right: 0px;
                        }
                        &.item-image {
                            padding: 0px;
                        }
                        a {
                            line-height: 40px;
                            display: block;
                            float: left;
                            color: #333;
                            width: 140px;
                            margin: auto;
                            margin: 3px;
                            @include transition( background, 0.3s);
                            &:hover {
                                background: $item-hover-background;
                                color: $item-hover-color;
                            }
                        }
                        &.item-image {
                            a {
                                width: 160px;
                                img {
                                    width: 160px;
                                }
                            }
                        }
                        &.col-sm-12 {
                            a {
                                float: none;
                                width: 100%;
                                background: #ececec;
                                text-align: center;
                                margin-bottom: 1em;
                                border-bottom: 1px solid #f2f2f2;
                                @include transition( background, 0.3s);
                                @include transition( color, 0.3s);
                                &:hover {
                                    background: #ececec;
                                    color: black;
                                }
                            }
                            ul {
                                li {
                                    padding: 0px;
                                    line-height: 40px;
                                    height: 40px;
                                    a {
                                        background: transparent;
                                        margin-bottom: 0px;
                                        line-height: 1.2em;
                                        border-bottom: none;
                                    }
                                }
                            }
                        }
                        ul {
                            display: table;
                            li {
                                @include inline-block;
                                padding: 10px;
                                width: 33%;
                                float: left;
                                a {
                                    margin: auto;
                                    line-height: 1.5em;
                                    text-align: left;
                                    width: auto;
                                    /* padding-top: 1em; */
                                    height: 3em;
                                }
                            }
                        }
                    } // li
                } // ul
            } // mega-submenu
        }
    } // @include respond-to(md)
}
