.article-plugin-title  {
  h1{
    font-size:4em;
    color:white;
    font-weight: 300;
    margin-bottom: 0.5em;
    @include respond-to(xs){
      font-size:2em;
    }
    @include respond-to(sm){
      font-size:2.5em;
    }

     @include respond-to(md){
      font-size:4em;
    }

  }
}

