
.front {
  .sonnox-posts {
       // transform: translate3d(0px,-30px,1px);
  }
}
.sonnox-posts {
  position: relative;

  font-size: 0px;
  .view-content {
    margin-bottom: 45px;
  }
  &.alt {
    margin-top: -90px;
  }
  .blank {
    font-size: 1.25em;
    line-height: 1.35em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    margin-top: 45px;
    text-align: center;
  }
  article {
    font-size: 16px;
    display: -moz-inline-stack;
    @include inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    vertical-align: top;
    &:last-child {
      margin-bottom: 15px;
    }
    .article-wrapper {
      position: relative;
      margin-left: 7.5px;
      margin-right: 7.5px;
      background-color: #fff;
      height: 100%;
      overflow: hidden;
      -webkit-box-shadow: 0px 0px 4px 0px rgba(237, 237, 237, 1);
      -moz-box-shadow: 0px 0px 4px 0px rgba(237, 237, 237, 1);
      box-shadow: 0px 0px 4px 0px rgba(237, 237, 237, 1);
    }
    .article-content {
      padding: 25px;
    }
    .article-image {
      position: relative;
     // margin-bottom: -5px;
      z-index: 0;
      height: auto;
      img {
        width: 100%;
      }
    }
    .overlay {
      background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, #ffffff), color-stop(100%, #ffffff));
      background: -webkit-linear-gradient(rgba(255, 255, 255, 0), #ffffff, #ffffff);
      background: -moz-linear-gradient(rgba(255, 255, 255, 0), #ffffff, #ffffff);
      background: -o-linear-gradient(rgba(255, 255, 255, 0), #ffffff, #ffffff);
      background: linear-gradient(rgba(255, 255, 255, 0), #ffffff, #ffffff);
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      height: 60px;
      pointer-events: none;
    }
    h2 {
      font-size: 1.2em;
      line-height: 1.3em;
      a {
        color: #414141;
        font-weight: bold;
        letter-spacing: 0.02em;
      }
    }
    h3 {
     // margin-top: -5px;
      margin-bottom: 15px;
      a {
       // text-align:justify;
        display: -moz-inline-stack;
        @include inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        font-weight: 500;
        /*   border-bottom-style:solid;
           border-bottom-width:2px;*/
        line-height: 0.9em;
      }
    }
    p {
      //text-align:justify;
      margin-bottom: 0;
      a, span {
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        color: #373737;
      }
    }
    &.highlight {
      .article-image {
        display: none;
      }
      .overlay {
        @include opacity(0.4);
        display: block !important;
        top: 0;
        bottom: auto;
        height: 500px;
        background: none;
        z-index: -1;
      }
      .article-content {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1000;
        max-height: none;
        width: 100%;
        height: 100%;
      }
      h3 a {
        @include opacity(0.5);
        color: #000 !important;
      }
      p a, span a {
        @include opacity(0.8);
        color: #000;
      }
      &.alt {
        .article-content {
          position: relative !important;
        }
        h2 {
          font-size: 1.875em;
          line-height: 1.1em;
          span {
            color: #0046ff;
          }
        }
        p span {
          font-size: 1.25em;
          line-height: 1.35em;
        }
      }
    }
    &.minimal {
      .article-content {
        padding: 25px;
      }
      .overlay {
        height: 50px;
      }
      h2 {
        font-size: 1.25em;
        line-height: 1.35em;
      }
      p a {
        font-size: 1em;
        line-height: 138%;
      }
      &.highlight .article-image img {
        height: 360px;
      }
    }
  }
  .endless_container {
    text-align: center;
  }
}

@media only screen and (min-width: 620px) {
  .sonnox-posts article {
    width: 50%;
      height: 480px;
  }
  .sonnox-posts article .overlay {
    display: block;
  }
}

@media only screen and (min-width: 800px) {
  .sonnox-posts article {
    height: 500px;
  }
}

@media only screen and (min-width: 1024px) {
  .sonnox-posts article {
    width: 33.3%;
  }
}

@media only screen and (min-width: 800px) {
  .sonnox-posts article .article-content {
        padding: 4px 1.6em;
  }
  .sonnox-posts article h2 {
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .sonnox-posts article h2 a {
    letter-spacing: 0.005em;
  }
  .sonnox-posts article p {
    a, span {
      font-size: 1.25em;
      line-height: 1.35em;
    }
  }

  .sonnox-posts article.minimal {
    width: 33.3%;
  }


}




@media only screen and (min-width: 480px) {
  .sonnox-posts article.minimal {
    width: 50%;
    height: 360px;
  }
}



@media only screen and (min-width: 1200px) {
  .sonnox-posts article.minimal {
    width: 25%;
  }
}

nav.entries {
  margin: 15px 0;
  background-color: #000;
  text-align: center;
  ul {
    font-size: 1.25em;
    line-height: 1.35em;
    margin: 0;
    li {
      display: -moz-inline-stack;
      @include inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      position: relative;
      a {
        display: -moz-inline-stack;
        @include inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        padding: 25px;
        color: #fff;
      }
      &.active {
        a {
          color: #fe5948;
          cursor: default;
        }
        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          left: 50%;
          bottom: 0;
          margin-left: -14px;
          border: 14px solid;
          border-color: transparent transparent #f0e4d4 transparent;
        }
      }
    }
  }
}

@media only screen and (min-width: 640px) {
  nav.entries {
    text-align: left;
  }
}

.no-touch .sonnox-posts nav a.arrow {
  position: fixed !important;
}

.sonnox-posts {

  position: relative;
  nav {
    display: none;
    overflow: hidden;
    a.arrow {
      z-index: 200;
      background-color: #e6d3bb;
      &:hover {
        background-color: #000;
        span {
          display: block;
        }
      }
      span {
        font-size: 0.875em;
        line-height: 1.36em;
        position: absolute;
        top: 0;
        left: 45px;
        width: 340px;
        height: 45px;
        border-color: #f0e4d4;
        border-style: solid;
        text-align: left;
        background-color: #000;
        color: #fff;
        display: none;
        strong {
          display: table-cell;
          width: 300px;
          height: 45px;
          padding: 0 10px;
          vertical-align: middle;
        }
      }
      &.left span {
        border-width: 0 0 0 2px;
      }
      &.right span {
        left: -340px;
        border-width: 0 2px 0 0;
      }
    }
  }
  article {
    header {
      padding-bottom: 15px;
      overflow: hidden;
      hgroup {
        margin: 25px;
        margin-bottom: 15px;
        h1 {
          display: -moz-inline-stack;
          @include inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          zoom: 1;
          *display: inline;
          font-size: 1.875em;
          line-height: 1.1em;
        }
        h3 {
          font-size: 1em;
          line-height: 138%;
          margin-bottom: 15px;
          a {
            display: -moz-inline-stack;
            @include inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            zoom: 1;
            *display: inline;
            border-bottom-style: solid;
            border-bottom-width: 2px;
            line-height: 0.9em;
          }
        }
      }
      img {
        width: 100%;
      }
    }
    .content_panel {
      padding: 0 5px;
    }
    .text-container, .image-container, .video-container, .soundcloud-container, .image-container.full-width p.caption, .sharing-options {
      margin: 0 auto;
    }

  }
}
 .format-container {
      display: inline;
      padding-right: 10px;
      img {
        max-width: 50px;
        max-height: 50px;
        width:100%;
        display: inline;
      }
      .field-item {
        display: inline;
      }
      @include respond-to(xs) {
        padding-right: 5px;
        img{
          max-height: 40px;
          max-width: 40px;
        }
      }
}



@media only screen and (min-width: 720px) {
  .sonnox-posts nav {
    display: block;
  }
}

@media only screen and (min-width: 700px) and (min-height: 700px) {
  .sonnox-posts nav a.arrow span {
    left: 74px;
    width: 240px;
    height: 74px;
  }
}

@media only screen and (min-width: 700px) and (min-height: 700px) {
  .sonnox-posts nav a.arrow span strong {
    width: 200px;
    height: 74px;
    padding: 0 20px;
  }
  .sonnox-posts nav a.arrow.right span {
    left: -240px;
  }
}



@media only screen and (min-width: 850px) {
  .sonnox-posts article header {
    padding-bottom: 25px;
  }
  .sonnox-posts article header hgroup {
    max-width: none;
    margin-left: 14%;
  }

  .sonnox-posts article header hgroup h1 {
    font-size: 2.813em;
    line-height: 1.2em;
    padding-right: 45px;
  }

  .sonnox-posts article {
    .text-container, .image-container, .video-container, .soundcloud-container, .image-container.full-width p.caption, .sharing-options {
      margin: 0 14%;
    }
  }

  .sonnox-posts article header img {
    margin: 45px 0;
  }

  .sonnox-posts article .content_panel {
    padding: 0;
  }
}

@media only screen and (min-width: 600px) {
  .sonnox-posts article header hgroup {
    margin: 45px;
    margin-bottom: 25px;
  }
    .sonnox-posts article header hgroup h3 {
    font-size: 1.25em;
    line-height: 1.35em;
  }

  .sonnox-posts article header img {
    width: auto;
    max-width: 800px;
    margin-bottom: 25px;
  }
  .sonnox-posts article .content_panel {
    padding: 0 45px;
  }
}

@media only screen and (min-width: 750px) {
  .sonnox-posts article header hgroup {
    max-width: 615px;
    margin-left: auto;
    margin-right: auto;
  }
}



@media only screen and (min-width: 1024px) {
  .sonnox-posts article header hgroup {
    margin-left: 20%;
  }
}

@media only screen and (min-width: 1200px) {
  .sonnox-posts article header hgroup {
    margin-left: 24%;
  }
}


.field-name-field-formats-entity-reference {
  display: inline;
  padding-right: 10px;
}





@media only screen and (min-width: 1024px) {
  .sonnox-posts article {
    .text-container, .image-container, .video-container, .soundcloud-container, .image-container.full-width p.caption, .sharing-options {
      margin: 0 20%;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .sonnox-posts article {
    .text-container, .image-container, .video-container, .soundcloud-container, .image-container.full-width p.caption, .sharing-options {
      margin: 0 24%;
      margin-top: 1.30em;
    }
  }
}

.sonnox-posts article {
  .text-container {
    p, ul, ol {
      max-width: none !important;
    }
  }
  .image-container {
    p, ul, ol {
      max-width: none !important;
    }
  }
  .video-container {
    p, ul, ol {
      max-width: none !important;
    }
  }
  .soundcloud-container {
    p, ul, ol {
      max-width: none !important;
    }
  }
  .image-container.full-width p.caption {
    p, ul, ol {
      max-width: none !important;
    }
  }
  .sharing-options {
    p, ul, ol {
      max-width: none !important;
    }
  }
}

.image-container p {
  text-align: center;
}

.sonnox-posts {
  article .sharing-options {
    font-size: 0.875em;
    line-height: 1.36em;
    padding-bottom: 25px;
  }
  footer {
    padding: 25px;
    border-top: 2px solid #f0e4d4;
    text-align: left;
    p {
      font-size: 0.875em;
      line-height: 1.36em;
      font-weight: 500;
      -webkit-font-smoothing: antialiased;
      color: #9e9e9e;
      display: block;
      margin: 0;
      text-align: left;
    }
  }
}

@media only screen and (min-width: 850px) {
  .sonnox-posts article .sharing-options {
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 850px) {
  .sonnox-posts footer {
    margin-top: 45px;
  }
}

@media only screen and (min-width: 1024px) {
  .sonnox-posts footer {
    margin-top: 90px;
  }
}

@media only screen and (min-width: 850px) {
  .sonnox-posts footer p {
    display: -moz-inline-stack;
    @include inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: 50%;
    display: -moz-inline-stack;
    @include inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    vertical-align: top;
    &:nth-child(2) {
      text-align: right;
    }
  }

  .sonnox-posts article header hgroup h1 {
    font-size: 2.813em;
    line-height: 1.2em;
    padding-right: 45px;
    margin-bottom: 0px;
  }
}

.sonnox-posts h3, .headline-3 {
  font-size: 1em;
  margin-bottom: 0;
}

/* article  teaser  */

.content_panel.teaser {
  font-size: 0px;
}

.container_left {
  width: 100%;
  font-size: 14px;
  overflow: hidden;
  @include inline-block;
  vertical-align: top;
  height: 280px;
  div {
    height: 100%;
  }
  img {
    width: 100%;
  }
}

.container_right {
  width: 100%;
  font-size: 14px;
  overflow: hidden;
  @include inline-block;
  vertical-align: top;
}

@media only screen and (min-width: 800px) {
  .container_left {
    width: 40%;
  }
  .container_right {
    width: 60%;
  }
}

@media only screen and (min-width: 1024px) {
  .container_left {
    width: 40%;
  }
  .container_right {
    width: 60%;
  }
}

.content_panel.teaser {
  .container_right {
    padding: 30px;
    min-height: 280px;
  }
  h3 {
    margin-top: 0px;
  }
}

.page.teaser {
  margin-bottom: 30px;
  &:first-child {
    padding-top: 0px;
  }
}

@media only screen and (min-width: 481px) {
  .page.teaser:first-child {
    padding-top: 0px;
  }
}

.content_panel.teaser h2 {
  margin-bottom: 0px;
  margin-top: 30px;
  /* color: #FFF; */
  a {
    color: #000;
  }
}


.sonnox-posts {
  article .container_right header hgroup {
    margin: 0px;
  }
  a:visited {
    /* color: #0046ff; */
  }
}

.articlecategory-wrapper {
  text-align: center;
  margin-bottom: 60px;
  font-size: 0px;
  line-height: 0px;
}

a {
  &.flex-prev, &.flex-next {
    color: #fff;
    line-height: 40px;
  }
}

.category-box {
  @include inline-block;
  text-align: center;
  height: 250px;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .category-box {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .category-box {
    width: 25%;
  }
}

@media only screen and (min-width: 620px) {
  .category-box {
    height: 250px;
  }
}

.category-title {
  padding: 30px;
  font-size: 30px;
  font-weight: 500;
  a {
    color: #fff;
    transition: All 0.9667s ease;
    -webkit-transition: All 0.9667s ease;
    -moz-transition: All 0.9667s ease;
    -o-transition: All 0.9667s ease;
    display: none;
  }
  &.big a {
    @include inline-block;
  }
  a.title-icon {
    display: block;
  }
  &.big a.title-icon {
    @include inline-block;
  }
}

@media only screen and (min-width: 600px) {
  .category-title a {
    @include inline-block;
  }
}

.category-artists .category-title {
  background: #f39500;
  color: #fff;
}

.category-controllers .category-title {
  background: #0046FF;
  color: #fff;
}

.category-title.big {
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  padding-top: 60px;
}

.bigcategory.tag .category-title {
  background: #fff;
  color: #0046FF;
  a {
    color: #0046FF;
  }
}

.category-title {
  &.big .term-icon {
    @include inline-block;
  }
  a:hover {
    color: #B80021;
  }
}

.category-tutorials .category-title {
  background: #00A2B0;
  color: #fff;
}

.category-news .category-title {
  background: #7600E2;
  color: #fff;
}

.articlecategory-wrapper .flexslider {
  height: 250px;
  .slides > li {
    height: 250px;
    position: relative;
    overflow: hidden;
  }
}

#slideshowify-* {
  z-index: 0;
}

.page.taxonomy input[type=text], input[type=password] {

}

.page {
  &.taxonomy {
    .views-exposed-form .views-exposed-widget .form-submit {
      height: 60px;
      margin-top: 0px;
    }
    &.filter {
      padding: 10px;
      &:first-child {
        padding-top: 0px;
      }
    }
  }
  &.category:first-child {
    padding-top: 30px;
  }
}

.category-box.taxonomy {
  height: 0;
  width: 33.333333%;
}

.tag .category-box.taxonomy {
  height: 0;
  width: 25%;
}

.term-icon {
  padding: 10px;
  padding-bottom: 0px;
}

.page.taxonomy.filter.series {
  background: $body-color;
  margin-bottom: 10px;
  margin-top: 80px;
  .category-title.big {
    color: #FFF;
  }
}

.title-big-wrapper {
  font-size: 0px;
  width: 100%;
  padding: 1%;
  margin-bottom: 60px;
  .title-big {
    width: 50%;
    font-size: 30px;
    @include inline-block;
    text-align: center;
    cursor: pointer;
    padding: 25px;
    background-color: #ebebeb;
    color: #fff;
    &.active {
      background-color: #0046ff;
      color: #fff;
    }
  }
  .icon-wrapper, .title {}
}

@media only screen and (max-width: 768px) {
  .sonnox-posts article .article-image {
    position: relative;
    //margin-bottom: -5px;
    z-index: 0;
    height: auto;
  }
  .loader {
    width: 50px;
    height: 50px;
    @include inline-block;
    vertical-align: middle;
    position: relative;
  }
  .loader-bars {
    &:before, &:after, span {
      content: '';
      display: block;
      position: absolute;
      left: 0px;
      top: 0;
      width: 10px;
      height: 10px;
      background-color: #00F;
      -webkit-animation: grow 1s linear infinite;
      -moz-animation: grow 1s linear infinite;
      animation: grow 1s linear infinite;
    }
  }
  .flag-area-bookmarks-wrapper {
    .flag-wrapper, .flag-link {
      line-height: 10px;
      width: 100%;
    }
  }
  #homepage-wrapper {
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
  }
  .category-box {
    @include inline-block;
    text-align: center;
    height: auto;
    width: 100%;
  }
  .flex-caption {
    color: #FFF;
    margin: auto;
    text-align: center;
    font-size: 600%;
    font-family: 'Open Sans';
    -webkit-animation: fadein 4s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
    padding: 3%;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
    line-height: 0.7em;
    @include inline-block;
    width: 100%;
  }
  .category-box {
    .flex-caption {
      color: #FFF;
      margin: auto;
      text-align: center;
      margin-top: 5%;
    }
    .category-title a {
      display: block;
    }
  }
  .content_panel.teaser .container_right {
    padding: 30px;
    min-height: 280px;
    margin-bottom: 30px;
  }
  .tab-item {
    display: none;
  }
  .sonnox-posts article .article-content {
    padding: 25px;
    margin-bottom: 30px;
  }
  .parallex-body h1 {
    color: #FFF;
    font-weight: normal;
    text-shadow: 1px 2px 2px #000;
    margin: auto;
    font-size: 20px;
    padding: 20px;
  }
  .parallex-title a {
    font-size: 1em;
  }
  .views-exposed-form .views-exposed-widget {
    float: none;

    text-align: center;
  }
  h1, .headline-1 {
    font-size: 1.7em;
    line-height: 1.1em;
    margin: 0;
  }
}

.text-container .download-file a {
  padding: 0px;
  &:visited {
    padding: 0px;
  }
}



.article-plugin .sub-menu {
  background: rgba(255, 255, 255, 0.9);
  z-index: 110;
  left: 0px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 10px #ccc;
  height: 50px;
  line-height: 50px;
}




.text-container ul li, .cke_contents ul li, .cke_editable ul li {
  position: relative;
  list-style: none;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0.3em;
}


.modal .image-container img {
    max-width: 60%;
}

.article-title.notvisible {
  position: fixed;
  width: 60%;
  font-size: 1em;
  z-index: 110;
  top: 0px;
  text-align: center;
  margin: 0px;
  left: 0px;
  margin: auto;
  margin-left: 20%;
  margin-right: 20%;
}

.article-plugin .download-file-link {
  display: none;
}

@media screen and (max-width: 950px) {
  .article-plugin .download-file-link {
    display: block;
  }
  .article-title.notvisible {
    position: static;
    font-size: 1em;
    z-index: inherit;
    top: auto;
    text-align: center;
    margin: auto;
    left: 0;
  }
}

.plugin-bundles div {
  @include inline-block;
}

.grey-box {
  background:$grey;
  padding:0.5em;
  position:relative;
}
