.article-tiles {
    img.playicon {
        max-width: 50px;

    }
    &:hover {
        img.playicon {
            max-width: 60px;
        }
    }
    //@include opacity(0);
    .tile-body {
        p {
            display: inline;
        }
        a {
            display: inline;
        }
        span {
            display: inline;
        }
    }
}

.old-ie {
    .article-tiles {
        @include opacity(1);
    }
}
