.background-video {
  min-height:500px;
      .center {
        @include respond-to(xs) {
            width: 90%;
        }
        @include respond-to(sm) {
            width: 80%;
        }
        @include respond-to(md) {
            max-width: 750px;
            width:100%;
        }
    }
}
