.banner {
  width:100%;
  height: 480px;
  @include respond-to(xs){
    height: 280px;
    //padding-bottom:25px;
  }

  @include respond-to(sm){
    height: 375px;
  }

  @include respond-to(md){
    height: 400px;
  }

  @include respond-to(lg){
    height: 480px;
  }


}
