body {
  @include font-smoothing();
  font-weight: 500;
  @include fadeIn( 1, 0.3s);
	&.mobile-menu {
		overflow:hidden;
	}
}


//colors
$white: #fff;
$black: #000;
$color_sunset_orange_approx: #fe5948;
$color_milan_approx: #fbffa7;
$color_blue_ribbon_approx: #0046ff;
$color_black_haze_approx: #f6f6f6;
$color_persian_blue_approx: #002fe3;
$color_blue_approx: #1a26fa;
$white_40: rgba(255, 255, 255, 0.4);
$color_woodsmoke_approx: #121011;
$black_50: rgba(0, 0, 0, 0.5);
$color_star_dust_approx: #9e9e9e;

$silver:  silver;
$color_cornflower_blue_approx: #6690ff;
$color_solitude_approx: #e5ecff;
$color_silver_tree_approx: #6fc49f;
$color_storm_dust_approx: #666;
$color_tuatara_approx: #373737;
$color_cape_cod_approx: #414141;
$color_double_spanish_white_approx: #e6d3bb;
$color_geraldine_approx: #ff8389;
$color_bon_jour_approx: #e0e0e0;
$color_malibu_approx: #6dcbff;
$cyan_aqua: cyan;
$color_perano_approx: #b1c5ff;
$color_spring_green_approx: #00ffaf;
$color_bondi_blue_approx: #00a2b0;
$color_yellow_approx: #fdf900;
$color_blaze_orange_approx: #ff7000;
$color_sunglow_approx: #fed134;
$color_pink_approx: #ffc2ca;
$color_purple_pizzazz_approx: #ff00c2;
$color_electric_violet_approx: #7600e2;
$color_mauve_approx: #d5b3ff;
$color_peach_schnapps_approx: #feddda;
$color_celeste_approx: #cccccc;
$color_lightning_yellow_approx: #fecb1b;
$color_supernova_approx: #fec601;
$color_turbo_approx: #e4e000;
$color_rio_grande_approx: #cac700;
$color_tundora_approx: #484044;
$color_dune_approx: #3b3437;
$color_baltic_sea_approx: #2d282b;
$color_persian_red_approx: #ce2f2e;
$color_tall_poppy_approx: #b92a29;
$color_cerulean_approx: #0facec;
$color_azure_approx: #3b5998;
$color_chambray_approx: #344e86;
$black_15: rgba(0, 0, 0, 0.15);
$black_10: rgba(0, 0, 0, 0.1);
$black_5: rgba(0, 0, 0, 0.05);
$black_30: rgba(0, 0, 0, 0.3);
$color_bright_turquoise_approx: #00e5e6;
$robins_egg_blue: #0cc;
$concrete: #f2f2f2;
$color_mercury_approx: #e6e6e6;
$black_60: rgba(0, 0, 0, 0.6);
$white_75: rgba(255, 255, 255, 0.75);
$color_shark_approx: #2a2a2a;
$color_pale_canary_approx: #faff97;
$color_aquamarine_approx: #84ffc3;
$color_sweet_corn_approx: #fee280;
$color_ice_cold_approx: #b3ffe7;
$color_mona_lisa_approx: #fe9e94;
$color_french_pass_approx: #bae6ff;
$color_onahau_approx: #cff;
$color_turquoise_blue_approx: #4dffff;
$color_frosted_mint_approx: #defff6;
$color_merino_approx: #f7f0e7;
$color_cashmere_approx: #ddc3a2;
$color_fuscous_gray_approx: #515151;
$color_radical_red_approx: #fb3a53;
$color_chetwode_blue_approx: #7b7afc;

$white_50: rgba(255, 255, 255, 0.5);
$color_purple_heart_approx: #6900c9;
$color_purple_approx: #5b00af;
$color_saltpan_approx: #f0f9f5;
$color_cameo_approx: #d8bb96;
$color_tropical_blue_approx: #cbd9ff;
$color_geyser_approx: #d7dce0;
$color_green_pea_approx: #265c46;
$color_blue_charcoal_approx: #00081c;
$color_green_approx: #0c0;
$color_guardsman_red_approx: #c00;
$color_dark_blue_approx: #00c;
$color_eunry_approx: #c99;
$gallery: #efefef;
$color_alto_approx: #ddd;
$mercury: #e5e5e5;
$color_jacksons_purple_approx: #172983;
$black_90: rgba(0, 0, 0, 0.9);

//fonts
$font_0: inherit;
$font_1: inherit;
$font_2: inherit;
$font_3: inherit;
$font_4: inherit;
$font_5: inherit;
$font_6: inherit;

//urls


//@extend-elements
//original selectors
//audio, canvas, video
%extend_1 {
	@include inline-block;
	*display: inline;
	*zoom: 1;
}

//original selectors
//button, input, select, textarea
%extend_2 {
	font-family: $font_0;
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

//original selectors
//code, kbd, samp
%extend_3 {
	font-family: $font_1, $font_2;
	_font-family: "courier new", monospace;
	font-size: 1em;
}

//original selectors
//input[type="checkbox"], input[type="radio"]
%extend_4 {
	//Instead of the line below you could use @includebox-sizing($bs)
	box-sizing: border-box;
	padding: 0;
	*height: 13px;
	*width: 13px;
}

//original selectors
//.discounted_price, .undiscounted_price
%extend_5 {
	@include inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	zoom: 1;
	*display: inline;
	white-space: nowrap;
	vertical-align: top;
}

//original selectors
//h1, h2, h3, h4, h5, h6
%extend_6 {
	font-size: 1em;
	line-height: 138%;
	margin-top: 0;
}

//original selectors
//h1, .headline-1
%extend_7 {
	font-size: 1.875em;
	line-height: 1.1em;
	margin: 0;
}

//original selectors
//h2, .headline-2
%extend_8 {
	font-size: 1.5625em;
	line-height: 1.2em;
	margin: 0;
}

//original selectors
//#sidebar #cart_footer, #sidebar #account_footer
%extend_9 {
	width: 100%;
	@include inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	margin-left: 0;
}

//original selectors
//input, textarea
%extend_10 {
	margin-left: 0;
	padding: 0;
	font-family: $font_3, $font_4, $font_5, $font_0;
	font-size: 1em;
	color: $color_woodsmoke_approx;
}

//original selectors
//input[type=text], input[type=password]
%extend_11 {
	height: 32px;
	line-height: 31px;
	border: 1px solid $color_celeste_approx;
	padding: 0 0.5em;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 3px;
}

//original selectors
//input[type=text].big, input[type=password].big
%extend_12 {
	width: 100%;
	height: 43.75px;
	line-height: 40px;
	text-indent: 12.5px;
}

//original selectors
//input[type=checkbox], input[type=radio]
%extend_13 {
	padding: 0;
	height: auto;
	margin-right: 10px;
	vertical-align: middle;
}

//original selectors
//label#subscribe_label, label#gtc_checkbox_label, label#ssab_label, label#subscribe_to_newsletter_label
%extend_14 {
	text-transform: none;
	font-size: 1em;
	display: inline;
}



//original selectors
//.sub_nav>.sub_nav_wrapper .primary>li>a, .sub_nav>.sub_nav_wrapper .primary>li>span
%extend_40 {
	display: block;
	padding-top: 0;
	padding-bottom: 24px;
	color: $white;
	height: 100%;
}
//original selectors
//.link-list h1, .link-list h2, .link-list h3, .link-list h4, .link-list h5, .link-list h6
%extend_46 {
	font-size: 1.25em;
	line-height: 1.35em;
	margin-bottom: 8px;
}

//original selectors
//.pagination a.btn, .pagination .mainbar.for_answers a.green_button, .mainbar.for_answers .pagination a.green_button, .pagination .mainbar.for_answers a.grey_button, .mainbar.for_answers .pagination a.grey_button, .pagination a.page, .pagination span.current, .pagination span.disabled, .pagination span.more
%extend_47 {
	@include inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	zoom: 1;
	*display: inline;
	margin: 15px 15px 0 0;
}

//original selectors
//.colorbox_help figure>img, .colorbox_help figure>figcaption
%extend_48 {
	width: 50%;
	@include inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	zoom: 1;
	*display: inline;
	vertical-align: top;
}





//original selectors
//.content_panel h1, .mainbar.for_answers #question_description h1, .mainbar.for_answers #answers .answer_text h1, .cke_contents h1, .cke_editable h1
%extend_145 {
	font-size: 1.875em;
	line-height: 1.1em;
	margin-bottom: 15px;
}

//original selectors
//.content_panel h2, .mainbar.for_answers #question_description h2, .mainbar.for_answers #answers .answer_text h2, .content_panel h3, .mainbar.for_answers #question_description h3, .mainbar.for_answers #answers .answer_text h3, .content_panel h4, .mainbar.for_answers #question_description h4, .mainbar.for_answers #answers .answer_text h4, .cke_contents h2, .cke_contents h3, .cke_contents h4, .cke_editable h2, .cke_editable h3, .cke_editable h4
%extend_146 {
	font-size: 1.5625em;
	line-height: 1.2em;
	margin: 25px 0 15px;
}

//original selectors
//.content_panel p, .mainbar.for_answers #question_description p, .mainbar.for_answers #answers .answer_text p, .cke_contents p, .cke_editable p
%extend_147 {
	font-size: 1em;
	line-height: 1.5em;
	max-width: 615px;
	margin: 0 0 25px;
}

//original selectors
//.content_panel p.meta, .mainbar.for_answers #question_description p.meta, .mainbar.for_answers #answers .answer_text p.meta, .cke_contents p.meta, .cke_editable p.meta
%extend_148 {
	font-size: 0.875em;
	line-height: 1.36em;
	font-weight: 500;
	color: $color_star_dust_approx;
}

//original selectors
//.content_panel span.artist-name, .mainbar.for_answers #question_description span.artist-name, .mainbar.for_answers #answers .answer_text span.artist-name, .cke_contents span.artist-name, .cke_editable span.artist-name
%extend_149 {
	font-weight: 500;
	color: $color_star_dust_approx;
	font-style: normal;
	line-height: 0.9;
}

//original selectors
//.content_panel .caption, .mainbar.for_answers #question_description .caption, .mainbar.for_answers #answers .answer_text .caption, .cke_contents .caption, .cke_editable .caption
%extend_150 {
	font-size: 0.875em;
	line-height: 1.36em;
	font-weight: 500;
	color: $color_star_dust_approx;
	margin-top: 7.5px !important;
}

//original selectors
//.content_panel kbd, .mainbar.for_answers #question_description kbd, .mainbar.for_answers #answers .answer_text kbd, .cke_contents kbd, .cke_editable kbd
%extend_151 {
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 2px;
	@include inline-block;
	*vertical-align: auto;
	zoom: 1;
	*display: inline;
	margin: -3px 0.2em 0 0.2em;
	padding: 0.2em 0.5em !important;
	background-color: $color_bon_jour_approx;
	color: $black;
	font-family: $font_1;
	font-size: 70%;
	line-height: 1.4;
	white-space: nowrap;
	vertical-align: middle;
}

//original selectors
//.text-container>ul, .text-container>ol, .text-container section>ul, .text-container section>ol, .cke_contents>ul, .cke_contents>ol, .cke_contents section>ul, .cke_contents section>ol, .cke_editable>ul, .cke_editable>ol, .cke_editable section>ul, .cke_editable section>ol
%extend_152 {
	font-size: 1em;
	line-height: 138%;
	max-width: 615px;
}

//original selectors
//.text-container ul li:before, .cke_contents ul li:before, .cke_editable ul li:before
%extend_153 {
	position: absolute;
	right: 100%;
	margin-right: 5px;
	content: "\b7\a0";
}

//original selectors
//.video-container .embed-wrapper iframe, .video-container .embed-wrapper object, .video-container .embed-wrapper embed
%extend_154 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


//original selectors
//.pager li>a, .pager li>span
%extend_163 {
	@include inline-block;
	background-color: $color_sunglow_approx;
	border: 1px solid $color_alto_approx;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 0;
	font-size: 1.25em;

  line-height: 50px;

	padding-left: 22.5px;
	padding-right: 22.5px;
	font-size: 20px;
	font-weight: 500;
	height: 50px;
	font-weight: bolder;
	background-color: $black;
	color: $color_link_over_black;
	border: 1px solid $mercury;
}



.content_panel {
	h4 {
		@extend %extend_146;
		font-size: 1.25em;
		line-height: 1.35em;
		&.panel-title {
			margin: 0;
		}
	}
	h1 {
		@extend %extend_145;
	}
	h2 {
		@extend %extend_146;
	}
	h3 {
		@extend %extend_146;
		font-size: 1.25em;
		line-height: 1.35em;
	}
	p {
		@extend %extend_147;
		&.meta {
			@extend %extend_148;
		}
		&.price {
			font-weight: 500;
		}
		cite {
			font-style: italic;
		}
	}
	.tags-listing {
		font-size: 1em;
		line-height: 138%;
	}
	.caption {
		@extend %extend_150;
	}
	kbd {
		@extend %extend_151;
	}
	blockquote {
		display: none;
		color: $color_electric_violet_approx;
	}
	span.artist-name {
		@extend %extend_149;
	}
}
.biggest {
	font-size: 2.813em;
	line-height: 1.2em;
	margin: 0;
}
* {
	//Instead of the line below you could use @includebox-sizing($bs)
	box-sizing: border-box;
}
img::selection {
	background: transparent;
	background: $color_black_haze_approx;
}
img::-moz-selection {
	background: transparent;
	background: $color_black_haze_approx;
}
.page {
	min-width: 320px;
	max-width: 1280px;
	width: 100%;
	padding: 15px;
	padding-bottom: 0;
	padding-top: 0;
	margin: 0 auto;
	display: block;
}


@media only screen and(min-width: 600px) {
	.sonnox-posts article .content_panel {
		padding: 0 45px;
	}
}
@media only screen and(min-width: 1024px) {
	.sonnox-posts footer {
		margin-top: 90px;
	}
}


@media only screen and(max-width: 800px) {
	#header.open_mobile_nav {

		#logo img {
			//Instead of the line below you could use @includetransition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
			transition-delay: 0;
			margin-left: -76px;
		}

	}
}
#logo {
	z-index: 4000;
	position: absolute;
	left: 0;
	top: 0;
	width: 75px;
	height: 35px;
	overflow: hidden;
	img {
		//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: margin-left 0s;
		//Instead of the line below you could use @includetransition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
		transition-delay: 0.1s;
		margin-left: 0;
	}
}




.sub_nav {
	min-height: 40px;
	background: $color_woodsmoke_approx;
	margin-bottom: 25px;
	.campaign_notice {
		position: relative;
		a {
			font-size: 1.25em;
			line-height: 1.35em;
			display: block;
			height: 100%;
			max-width: 200px;
			padding: 11px 25px 12px;
			color: $color_blue_approx;
			text-align: center;
		}
	}
}



#footer {
	margin-top: 45px;
	padding-top: 45px;
	border-top: 5px solid $color_woodsmoke_approx;
	width: 100%;
	@include inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	z-index: 2;
	select {
		max-width: 160px;
	}
	p {
		margin-top: 0;
	}
	section {
		margin-bottom: 15px;
		width: 100%;
		@include inline-block;
		vertical-align: middle;
		*vertical-align: auto;
		zoom: 1;
		*display: inline;
		vertical-align: top;
		&.headline>img {
			display: block;
		}
		&.intro {
			font-weight: 500;
			img {
				margin-bottom: 15px;
			}
			ul {
				list-style-type: none;
			}
		}
		&.links {
			font-weight: 500;
			strong {
				display: block;
				margin-bottom: 4px;
			}
			a {
				display: block;
				margin-bottom: 4px;
			}
		}
		&.newsletter {
			p {
				margin-top: 4px;
			}
			form input[type=text] {
				width: 100%;
				margin: 8px 0;
				max-width: 240px;
				display: block;
			}
		}
		&.micro_footer {
			margin-top: 15px;
			z-index: 500;
			ul {
				@include inline-block;
				vertical-align: middle;
				*vertical-align: auto;
				zoom: 1;
				*display: inline;
				margin-top: 0;
				list-style-type: none;
				li {
					@include inline-block;
					vertical-align: middle;
					*vertical-align: auto;
					zoom: 1;
					*display: inline;
					a {
						font-weight: 500;
						font-size: 0.875em;
						line-height: 1.36em;
						margin-right: 15px;
					}
					&.active a {
						color: $black;
						cursor: default;
					}
				}
				&.languages li {
					&:before {
						content: "·";
						margin-right: 7.5px;
					}
					a {
						margin-right: 7.5px;
					}
					&:first-child:before {
						content: "";
						margin-right: 0;
					}
				}
			}
		}

		&.main_nav_expanded .box {
			padding: 0;
			.content {
				padding-left: 25px;
				padding-right: 25px;
				background-color: $color_blue_ribbon_approx;
				.main_nav_expanded {
					min-width: 0;
					width: 100%;
					@include inline-block;
					vertical-align: middle;
					*vertical-align: auto;
					zoom: 1;
					*display: inline;
					vertical-align: top;
					.top {
						font-size: 0.875em;
						line-height: 1.36em;
					}
				}
			}
		}
		&.intro>.button_bar>a {
			margin-right: 8px;
		}
	}
	form.location {
		div {
			@include inline-block;
		}
		input {
			@include inline-block;
		}
	}
	.newsletter .box ul.errorlist {
		list-style-type: none;
		color: $color_sunset_orange_approx;
		margin: 0;
	}
}
@media only screen and(min-width: 850px) {
	.sonnox-posts footer p {
		width: 50%;
		@include inline-block;
		vertical-align: middle;
		*vertical-align: auto;
		zoom: 1;
		*display: inline;
		vertical-align: top;
		&:nth-child(2) {
			text-align: right;
		}
	}
}


.link-list {
	ul {
		list-style-type: none;
		li {
			margin-bottom: 10px;
			a {
				font-weight: 500;
			}
		}
	}
	ol {
		list-style-type: none;
		li {
			margin-bottom: 10px;
			a {
				font-weight: 500;
			}
		}
	}
	.more {
		font-size: 0.875em;
		line-height: 1.36em;
		color: $color_star_dust_approx;
		a {
			color: $color_star_dust_approx;
		}
	}
	h1 {
		@extend %extend_46;
	}
	h2 {
		@extend %extend_46;
	}
	h3 {
		@extend %extend_46;
	}
	h4 {
		@extend %extend_46;
	}
	h5 {
		@extend %extend_46;
	}
	h6 {
		@extend %extend_46;
	}
}
.popover {
	overflow: visible;
	position: relative;
	&.bonus {
		color: $color_milan_approx !important;
	}
	&.show {
		.popover_trigger {
			z-index: 1000;
			color: $white;
		}
		.popover_content {
			display: block;
		}
	}
	&.bonus>.popover_trigger>.underline {
		border-bottom: 1px dotted $color_milan_approx !important;
	}
}
.hidden {
	display: none;
}
.tags-listing {
	font-size: 1em;
	line-height: 138%;
	font-weight: 500;
	margin-bottom: 0;
	a {
		&:after {
			content: ", ";
			color: $color_woodsmoke_approx;
		}
		&:last-child::after {
			content: "";
		}
	}
}




@media only screen and(min-width: 750px) {
	.sonnox-posts article header hgroup {
		max-width: 615px;
		margin-left: auto;
		margin-right: auto;
	}
}







@media only screen and(min-width: 1200px) {
	.sonnox-posts article {
		.text-container {
			margin: 0 24%;
		}
		.image-container {
			margin: 0 24%;
			&.full-width p.caption {
				margin: 0 24%;
			}
		}
		.video-container {
			margin: 0 24%;
		}
		.soundcloud-container {
			margin: 0 24%;
		}
		.sharing-options {
			margin: 0 24%;
		}
	}
}





.text-container {
	padding-bottom: 1.5em !important;
	padding-bottom: 45px;
	section>ul {
		@extend %extend_152;
		ul {
			margin-left: 10px;
			margin-bottom: 15px;
		}
		ol {
			margin-left: 10px;
			margin-bottom: 15px;
		}
	}
	section>ol {
		@extend %extend_152;
		margin-left: 35px;
		ul {
			margin-left: 10px;
			margin-bottom: 15px;
		}
		ol {
			margin-left: 10px;
			margin-bottom: 15px;
		}
	}
	ul {
		margin-left: 15px;
		li {
			position: relative;
			list-style: none;
			&:before {
				@extend %extend_153;
			}
		}
	}
	p:last-child {
		margin-bottom: 0;
	}
	&.price+.text-container.add-to-cart {
		margin-top: -15px;
	}
}
.image-container {
	padding-bottom: 1.5em !important;
	max-width: 100%;
	img {
		 max-width: 100%;
	}
	&.full-width {
		max-width: none !important;
		margin: 0 !important;
	}
	p:last-child {
		margin-bottom: 0;
	}
}
.video-container {
	padding-bottom: 1.5em !important;
	.embed-wrapper {
		position: relative;
		max-width: 615px;
		height: 0;
		padding: 30px 0 56.25%;
		overflow: hidden;
		iframe {
			@extend %extend_154;
		}
		object {
			@extend %extend_154;
		}
		embed {
			@extend %extend_154;
		}
	}
	p:last-child {
		margin-bottom: 0;
	}
}
.soundcloud-container {
	padding-bottom: 1.5em !important;
	max-width: 615px;
	.html5player {
		max-width: 615px;
	}
	p:last-child {
		margin-bottom: 0;
	}
}
.tab-container {
	padding-bottom: 1.5em !important;
}
.text-container>ul {
	@extend %extend_152;
	ul {
		margin-left: 10px;
		margin-bottom: 15px;
	}
	ol {
		margin-left: 10px;
		margin-bottom: 15px;
	}
}
.text-container>ol {
	@extend %extend_152;
	margin-left: 35px;
	ul {
		margin-left: 10px;
		margin-bottom: 15px;
	}
	ol {
		margin-left: 10px;
		margin-bottom: 15px;
	}
}







svg:not(:root) {
	overflow: hidden;
}
#thesis .text-container {
	padding-bottom: 0 !important;
}


