

.bundle-top-color {
  width:100%;height:3px;

  @include respond-to(sm) {
      height: 3px;
  }
   @include respond-to(xs) {
      height: 3px;
  }
  @include respond-to(md) {
      height: 3px;
  }

}
