.square-button {
   text-transform: uppercase;
    padding: 0.6em 1em 0.3em 1em;
    line-height: 1em;
    vertical-align: baseline;
    display: block;
    border-radius: 0;
    font-size: 1em;
    font-weight: 500;
    font-weight: bolder;
    background-color: white;
    color: black;
    border: none;
    @include custom-transition(All,0.5s, linear);

}


.ghost-sonnox{
   @include ghost-button-sonnox(1em);
   &.active {
    background-color:$sonnox-color!important;
    color:white;
   }
   &:hover {
   // border-color:$light-orange;
   }
}

.ghost-sonnox-sm {
  @include ghost-button-sonnox(0.7em);
}


.ghost-sonnox-lg {
  @include ghost-button-sonnox-lg(1em);
  @include respond-to(xs) {
    font-size: 0.7em;
  }

  @include respond-to(sm){
    font-size: 0.8em;
  }

   a {
    color: white;
   }
   a:hover {
    color: black;
   }
}


.ghost-white {
@include ghost-button-white(1em);
}

.ghost-white-sm {
@include ghost-button-white(0.7em);
}


.ghost-white-lg {
@include ghost-button-white-lg(1em);
@include respond-to(xs){
  font-size: .7em;
    line-height: .7em;
    /* padding-bottom: .8em; */
    padding: 1em 2em .9em;

}

@include respond-to(sm){
  font-size: 0.8em;
  font-size: .8em;
    line-height: .8em;
    /* padding-bottom: .8em; */
    padding: 1em 2em .9em;
}

 a {
  color: white;
 }
 a:hover {
  color: black;
 }
}

.ghost-green{
@include ghost-button-green(1em);
}

.ghost-green-sm {
@include ghost-button-green(0.7em);

}


.ghost-green-lg {
@include ghost-green-bytry-lg(1em);
position: relative;
box-sizing: content-box;
min-width: 8em;
  @include respond-to(xs){
    font-size: 0.7em;
  }

  @include respond-to(sm){
    font-size: 0.8em;
  }

}





.ghost-orange{
   @include ghost-button-orange(1em);
   &.active {
    background-color:$orange!important;
    color:white;
   }
   &:hover {
   // border-color:$light-orange;
   }
}

.ghost-orange-sm {
  @include ghost-button-orange(0.7em);
}


.ghost-orange-lg {
  @include ghost-button-orange-lg(1em);
  @include respond-to(xs){
    font-size: 0.7em;
  }

  @include respond-to(sm){
    font-size: 0.8em;
  }

   a {
    color: white;
   }
   a:hover {
    color: black;
   }
}

.ghost-yellow{
   @include ghost-button-yellow(1em);
   &.active {
    background-color:$yellow!important;
    color:white;
   }
   &:hover {
   // border-color:$light-orange;
   }
}

.ghost-yellow-sm {
  @include ghost-button-yellow(0.7em);
}


.ghost-yellow-lg {
  @include ghost-button-yellow-lg(1em);
  @include respond-to(xs){
    font-size: 0.7em;
  }

  @include respond-to(sm){
    font-size: 0.8em;
  }

   a {
    color: white;
   }
   a:hover {
    color: black;
   }
}

.ghost-blue{
   @include ghost-button-color(1em, $blue);
   &.active {
    background-color:$blue!important;
    color:white;
   }
   &:hover {
   // border-color:$light-orange;
   }
}


.ghost-blue-sm {
  @include ghost-button-color(0.7em, $blue);
}


.ghost-blue-lg {
  @include ghost-button-color-lg(1em, $blue);
  @include respond-to(xs){
    font-size: 0.7em;
  }

  @include respond-to(sm){
    font-size: 0.8em;
  }

   a {
    color: white;
   }
   a:hover {
    color: black;
   }
}


.ghost-transparent-lg {
    @include inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1em;
    color: transparent;
    cursor: pointer;
    background-color: rgba(255,255,255,0) !important;
    /* border: 2px solid transparent; */
    /* padding: 1em 2em 0.5em 2em; */
    -webkit-transition: color 200ms,background 200ms;
    /* transition: color 200ms,background 200ms; */
    text-align: center;
    width: 200px;
}
@include  ghost-button-set( green , $green);
//@include  ghost-button-set( purple , $purple);
@include  ghost-button-set( red , $sonnox-red);

.ghost-transparent-lg{
  font-size:0.8em;
  display: table;
      float: right;
          width: 156.891px;
   .try-red-button {
    color: $flat-red;
    background: transparent;
    border:2px solid $flat-red;

    display: table-cell;

    border-left: 0px;
    margin-left:0px;
padding: 1em 2em 0.64em;
transition: color 200ms ease 0s, background 200ms ease 0s;
text-align: center;

    width:50%;
      &:hover
      {
            background:$flat-red!important;
            color:white;

       }
    }

   .try-green-button{
      color: $flat-green;
      background: transparent;
       border:2px solid $flat-green;

       display: table-cell;
       width:50%;

       border-right: 0px;
padding: 1em 2em 0.64em;
margin-right:0px;
transition: color 200ms ease 0s, background 200ms ease 0s;
text-align: center;
        &:hover
      {
            background:$flat-green!important;
            color:white;
       }
   }

 }






