
.category-artists {
  h3 a, a.category {
    color: #f39500;
    text-decoration: none;

  }
  &.highlight .overlay {
    background: #f39500 !important;
  }
}

.category-downloads {
  h3 a, a.category {
    color: #fe5948;
  }
  &.highlight .overlay {
    background: #fe5948 !important;
  }
}

.category-video {
  h3 a, a.category {
    color: #0046ff;
  }
  &.highlight .overlay {
    background: #6dcbff !important;
  }
}

/* news start  */

.category-news {
  h3 a, a.category {
    color: #172983;
  }
  &.highlight .overlay {
    background: #7600e2 !important;
  }
}

/* news end */

/* news start  */

.category-plug-in {
  h3 a, a.category {
    color: #7c1e78;
  }
  &.highlight .overlay {
    background: #7c1e78 !important;
  }
}

/* news end */

/* news start  */

.category-bundle {
  h3 a, a.category {
    color: #7c1e78;
  }
  &.highlight .overlay {
    background: #7c1e78 !important;
  }
}

/* news end */

.category-tips {
  h3 a, a.category {
    color: #009037;
  }
  &.highlight .overlay {
    background: #009037 !important;
  }
}




.category-artists {
  h3 a {
    color: $color_sunglow_approx;
  }
  a.category {
    color: $color_sunglow_approx;
  }
  &.highlight .overlay {
    background: $color_sunglow_approx !important;
  }
}
.category-downloads {
  h3 a {
    color: $color_sunset_orange_approx;
  }
  a.category {
    color: $color_sunset_orange_approx;
  }
  &.highlight .overlay {
    background: $color_sunset_orange_approx !important;
  }
}
.category-events {
  h3 a {
    color: $color_blue_ribbon_approx;
  }
  a.category {
    color: $color_blue_ribbon_approx;
  }
  &.highlight .overlay {
    background: $color_malibu_approx !important;
  }
}
.category-news {
  h3 a {
    color: $color_electric_violet_approx;
  }
  a.category {
    color: $color_electric_violet_approx;
  }
  &.highlight .overlay {
    background: $color_electric_violet_approx !important;
  }
}
.category-tutorials {
  h3 a {
    color: $color_bondi_blue_approx;
  }
  a.category {
    color: $color_bondi_blue_approx;
  }
  &.highlight .overlay {
    background: $color_bondi_blue_approx !important;
  }
}


