.comparison-table {
  max-width:700px;
  margin:auto;
    .visible-xs {
        display: none;
    }
     td:first-child,
        th:first-child {
          text-align: left;
      }
      .blue {
        color:#002DB2;
      }
      .orange {
        color:#FF8000;
      }

    @media screen and (max-width: 768px) {
        .visible-xs {
            display: table-row;
        }
        td:first-child,
        th:first-child {
            display: none;
        }
        th {
          text-align: center;
        }
    }
}
