.flex-caption {
    a {
        color: inherit;
        text-decoration: none;
        font-weight: normal;
        line-height: 50%;
        line-height: 1em;
        font-size: 0.7em;
        &:hover,
        &:visited {
            color: inherit;
            text-decoration: none;
            font-weight: normal;
            line-height: 50%;
            line-height: 1em;
            font-size: 0.7em;
        }
    }
    color: #fff;
    margin: auto;
    text-align: center;
    font-size: 600%;
    -webkit-animation: fadein 4s;
    /* Safari and Chrome */
    -moz-animation: fadein 2s;
    /* Firefox */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera */
    animation: fadein 2s;
    padding: 3%;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
    line-height: 1em;
    @include inline-block;
    width: 100%;
    position: absolute;
    left: 0px;
    z-index: 10;
}

.flex-caption-wrapper {
    @include inline-block;
    TEXT-ALIGN: LEFT;
}

.flex-caption .subtitle {
    color: #fff;
    font-size: 0.4em;
    line-height: 1.2em;
    text-align: left;
    margin-top: 1em;
    max-width: 600px;
    a {
        font-weight: normal;
    }
}

.flex-caption-supercontainer {
    width: 100%;
    margin: auto;
    position: absolute;
    height: 100%;
    z-index: 10;
    top: 0px;
    left: 0px;
    display: none;
}

.flex-caption .calltoaction {
    color: #FFF;
    font-size: 0.3em;
    line-height: 0.9em;
    text-align: left;
    margin-top: 1.8em;
    a {
        color: #444;
        line-height: 0.9em;
        font-size: 0.7em;
        padding: 0.4em 0.7em 0.4em 0.7em;
        line-height: 1.2em;
        font-weight: bold;
        background: rgba(0, 0, 0, 0);
        color: #FFF;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        border: 2.5px solid #FFF;
    }
}

.flex-control-nav .mnext,
.flex-control-nav .mprev {
    position: absolute;
    bottom: 0px;
    margin-right: 30px;
    background: rgba(0, 0, 0, 0.4);
    color: #FFF;
    cursor: pointer;
    z-index: 1;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
    border: 2px solid #FFF;
}

.flex-caption .calltoaction a:hover {}

#flexslider-2 {
    height: 300px;
    width: 600px;
    li {
        height: 200px;
        width: 300px;
    }
}

.flexslider {
    height: 500px;
    p {
        font-size:1.4em;
    }
    &:hover {
        .flex-prev {
            opacity: 0.15;
            left: 10px;
        }
        .flex-next {
            opacity: 0.15;
            right: 10px;
        }
    }
    .video-js {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    .slides > li {
        text-align: center;
        overflow: hidden;
    }
}

.flexslider-direction-nav {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 1%;
    text-align: center;
    z-index: 10;
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    &:hover {
        background: rgba(255, 255, 255, 0.8);
    }
    &.flex-active {
        background: #000;
        background: #FFF;
        cursor: default;
    }
}

a.flex-prev,
a.flex-next {
    color: #fff;
    line-height: 40px;
    :visited {
        color: white!important;
    }
    :hover {
        color: white!important;
    }
    :focus {
        color: white!important;
    }
}

.xmslides img {
    width: 100%;
}

#main-slideshow-article-plug-in {
    > ul > li {}
    .xmslides {
        margin: 0px;
        padding: 0px;
        > li {
            position: relative;
            background-color: #111;
        }
    }
}

.video-slideshow-wrapper {
    font: 0px;
    height: 100%;
    font-size: 0px;
    position: relative;
}

#slider-next,
#slider-prev {
    font-size: 35px;
    color: white;
    position: absolute;
    bottom: 30px;
}

#slider-next > div > i,
#slider-prev > div > i {
    height: 25px;
    width: 40px;
    font-size: 0.5em;
    margin: auto;
    margin-top: 3px;
    display: block;
}

#slider-next > div > i > a,
#slider-prev > div > i > a {
    height: 25px;
    width: 100%;
    background: transparent;
    position: absolute;
    left: 0px;
    /* z-index: 2000; */
}

#slider-next > div > i > a:focus,
#slider-prev > div > i > a:focus {
    outline: none;
}

.video-left {
    iframe {
        height: 100%;
    }
    .fluid-width-video-wrapper iframe {
        height: 350px;
    }
}

.display-table {
    display: table;
}

.display-table-cell {
    display: table-cell;
    display: table-cell;
}

.video-left .flexslider {
    height: 100%;
    .slides {
        height: 100%;
        li {
            height: 100%;
            .embedded-video {
                height: 100%;
            }
            .player {
                height: 100%;
                iframe {
                    height: 100%;
                }
            }
        }
    }
}

.flexslider .slides img {
    max-height: 360px;
    max-width: 100%;
    width: auto;
    float: right;
    /* margin-right: 0px; */
    right: 0px;
    &.big-screen,
    &.small-screen {
        display: none;
    }
}

@media All and (min-width: 400px) {
    .flexslider .slides img {
        &.big-screen {
            display: block;
        }
        &.small-screen {
            display: none;
        }
    }
}

@media All and (max-width: 400px) {
    .flexslider .slides img {
        &.big-screen {
            display: none;
        }
        &.small-screen {
            display: block;
        }
    }
}

.views-slideshow-bxslider {
    position: relative;
}

.flex-slide {
    color: white;
    h1 {
        color: white;
        font-size: 4em;
        font-weight: 500;
    }
    p {
        color: white;
    }
    .square-button {
        background-color: #f7941d;
        color: #FFF;
        font-size: 0.9;
        padding: 0.9em 1em 0.5em 1em;
        font-weight: 500;
        text-align: center;
    }
    @include respond-to(sm) {
        h1 {
            font-size: 3em;
        }
    }
    @include respond-to(md) {
        h1 {
            font-size: 3em;
        }
    }
    @include respond-to(lg) {
        h1 {
            font-size: 3.8em;
        }
    }
    @include respond-to(xs) {
        h1 {
            font-size: 3em;
        }
    }
}
