@import "compass/css3";
@-webkit-keyframes fade-out-down {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes fade-out-down {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

.fade-out-down {
    -webkit-animation-name: fade-out-down;
    animation-name: fade-out-down;
}

@-webkit-keyframes fade-out-up {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

@keyframes fade-out-up {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

.fade-out-up {
    -webkit-animation-name: fade-out-up;
    animation-name: fade-out-up;
}

.fixed-background {
    font-size: 0.8em;
    height: 500px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover!important;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 1em;
    text-align: center;
    color: white;
    h1 {
        color: white!important;
    }
    p {
        max-width: 500px;
    }
    .black_overlay {

        @include rgba-background-inline(rgba(0, 0, 0, 0.4));
        position: absolute;
        //opacity: 0.8;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}

@media all and (max-width: 1280px) {
    .fixed-background {
        font-size: 1em;
    }
}

@media all and (max-width: 600px) {
    .fixed-background {
        font-size: 1em;
        .center {
            min-width: 300px;
        }
    }
}

