.faq-item {
    .faq-item-title {
        @extend .transition-03s;
        padding: 5px;
        &:hover {
            background: white;
        }
    }
    &.faq-visible {
        .faq-item-title {
            background: white;
        }
    }
    &.faq-item-white {
        .faq-item-title {
            @extend .transition-03s;
            padding: 5px;
            &:hover {
                background:$grey-light;
            }
        }
        &.faq-visible {
            .faq-item-title {
                background: white;
            }
        }
    }
}
