.flat-options {
	@include inline-block;
	font-size:0px;

    .flat-option {
    	@extend .transition-01s;
    	color:#545454;
    background: #fff;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    padding: 10.5px 12px 7.5px 12px;
    font-size: 16px;
    line-height: 1em;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: bottom;
        &.active {
            background: #f1f1f1;
        }
    }
}
