$color-footer: #b1b1b1;
$color-footer-hover:white;//#c3c3c3;;
.footer {
    padding-bottom: 36px;
    width: 100%;
    // border-top: 10px solid #FBFBFB;
    background-color: black;
    bottom: 0px;
    color: $color-footer;
    position: relative;
    .color-text {
        color: $color-footer;
        &:hover {
            color: $color-footer-hover;
        }
    }
    &.background-cover {
        color: #333;
    }
    .footer-inline {
        margin-bottom: 0;
        @include respond-to(xs) {
            margin-bottom: $line-height-computed;
        }
    }
    .privacy,
    .copyright {
        font-size: 13px;
    }
}

.footer-menu {
    text-align: center;
    list-style: none;
    margin: auto;
    display: table;
    padding-top: .9em;
    padding-bottom: 0.5em;
    .color-text {
        color: $color-footer;
        .color-text:hover {
            color: $color-footer-hover;
        }
    }
    a,
    &:visited {
        color: $color-footer!important;
        &:hover,
        * {
            color: $color-footer-hover!important;
            text-decoration: none;
        }
    }
    li {
        font-weight: 700;
        display: table-cell;
        padding: 0 1.3em 0px 1.3em;
        text-align: left;
        a {
            @include respond-to(xs) {
                font-size: 14px;
            }
        }
        ul {
            display: block;
            margin-top: 1.5em;
            /* margin-left: 1em; */
            padding-left: 0px;
            li {
                font-weight: 500;
                padding: 0em 0em 0.5em 0em;
                text-align: left;
                display: block;
                font-size: 13px;
            }
        }
    }
    @include respond-to (xs) {
        li {
            @include inline-block;
            width: 100px;
            height: 40px;
            padding: 0px;
            ul {
                display: none;
            }
        }
    }
}

.social-menu {
    list-style: none;
    height: auto;
    text-align: center;
    /* padding-top: 1em; */
    /* padding-bottom: .6em; */
    font-size: 23px;
    margin-bottom: 0px;
    @include inline-block;
    li {
        @include inline-block;
        margin: 0px 0.5em 0px 0.5em;
        line-height: 0px;
        a {
            color: $color-footer;
            &:hover {
                color: $color-footer-hover;
            }
        }
    }
}

body.front {
    /*background:url(../images/bg.jpg) no-repeat;*/
    margin: 0px;
    padding: 0px;
    background-size: cover;
}

.region-footer-1 ul {
    text-align: center;
    margin-top: 60px;
    li {
        position: relative;
        @include inline-block;
        padding: 0px 15px;
        font-family: $font-family-condensed;
        font-size: 22px;
        font-weight: bold;
        color: #000;
        a {
            color: #000000;
            font-family: $font-family-condensed;
            padding: 0px 15px 0px 15px;
            &:hover {
                color: #172983;
            }
        }
    }
}
