.flat-input {

    line-height: 1.3em;
    padding: 7px 5px;
    vertical-align: bottom;
    outline: 0;
    background: #F6F6F6;
    box-shadow: none;
    border: 0px;
    border-radius: 0px;
    margin: 0px;
}
