@include keyframes(landing) {
    0% {
        @include  transform2d(translate(0%, 0%));
        @include opacity(1);
    }
    95% {
        @include transform2d(translate(0%, 0%));
        @include opacity(1);
    }
    100% {
        @include transform2d(translate(0%, -100%));
        @include opacity(1);
    }
}

@include keyframes(landingclose) {
    0% {
        @include transform2d(translate(0%, 0%));
        @include opacity(1);
    }
    100% {
        @include transform2d(translate(0%, -100%));
        @include opacity(1);
    }
}

#landing {
    position:absolute;height:100%;width:100%;z-index: 99999;background:black;
    @include opacity(1);
    @include transform2d(translate(0%, -100%));
    @include animation(landing 7s linear);
    &.close {
        @include opacity(1);
        @include transform2d(translate(0%, -100%));
        @include animation(landingclose 1s linear);
    }
    & .landing-container {
    position:relative;width:100%;height:100%;
    }
    .section-arrow {
        text-align: center;
        z-index: 2000;
        position: absolute;
        bottom: 40px;
        left: 50%;
        width: 45px;
        height: 45px;
        @include respond-to(sm) {
            @include transform2d(translate(-50%, 0%));
        }
        @include respond-to(xs) {
            @include transform2d(translate(0%, 0%));
        }
        font-size: 40px;
        line-height: 60px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        opacity: 1;
        .top .section-arrow {
            font-size: 2em;
            opacity: 1;
        }
    }
    .landing-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 20;
        .landing-title-wrapper {
            color: #FFF;
            margin: auto;
            width: 100%;
            font-size: 60px;
            text-align: center;
            /* max-width: 600px; */
            margin: auto;
            margin-top: 250px;
        }
        .landing-title-container {
            max-width: 600px;
            margin: auto;
            font-size: 0.6em;
            /* margin-top: 3%; */
            text-align: center;
            opacity: 1;
            transform2d: matrix(1, 0, 0, 1, 0, 0);
            h5 {
                color: white;
                font-size: 0.8em;
            }
            .subtitle {
                font-size: 0.5em;
            }
        }
    }
    #background {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
        /* Ensure div tag stays behind content; -999 might work, too. */
        .stretch {
            width: 100%;
            height: 100%;
        }
        .horizontal {
            //background:url(<?php print $horizontal;?>) 50% 50% / cover;
            background-position: 50% 50%;
            background-size: cover;
        }
        .vertical {
            //background:url(<?php print $horizontal;?>) 50% 50% / cover;
            background-position: 50% 50%;
            background-size: cover;
        }
        @media all and (orientation:portrait) {
            /* Style adjustments for portrait mode goes here */
            .horizontal {
                display: none;
                //background-position:url(<?php print $horizontal;?>) 50% 50% / cover;
            }
        }
        @media all and (orientation:landscape) {
            /* Style adjustments for landscape mode goes here */
            .vertical {
                display: none;
                //background:url(<?php print $vertical;?>) 50% 50% / cover;
            }
        }
    }
}
