.spinner-logo {
   position:absolute;
      z-index: 10;
        font-size: 50px;
    color: black;
    -webkit-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    -o-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    left: 10%;
    top: 5%;
}

.top .spinner-logo {

   font-size: 80px;
}


.page-overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background:black;
  z-index:100000000000000;
    -webkit-animation: fadeIn 0.6s both ease-in;
  -moz-animation: fadeIn 0.6s both ease-in;
  animation: fadeIn 0.6s both ease-in;
  .fa-1 {
    font-size:1em;
  }
  .fa-2 {
    font-size:2em;
  }

   .fa-4 {
    font-size:4em;
  }
}


.loaded .page-overlay {
    display: none;
}

.loaded.ng-enter .page-overlay {
    opacity: 1;
}

.loaded.ng-enter.ng-enter-active .page-overlay {
    opacity: 0;
    display: none;
}

.loaded.ng-leave .page-overlay {
    opacity: 0;
}

.loaded.ng-leave.ng-leave-active .page-overlay {
    opacity: 1;
}
