#locationa-map {

  @include respond-to(xs){
    height:280px;
  }

  @include respond-to(sm){
    height:300px;
  }
  @include respond-to(md){
    height:500px;
  }
  @include respond-to(lg){
    height:600px;
  }
}
