.media-image-right, .file-media-image-right {
padding: 1em 0em 1em 1em;
    float:right;
        max-width: 50%;

    @include respond-to(xs) {
       max-width: 100%;

    }
    @include respond-to(md) {

            max-width: 50%;

    }
    @include respond-to(lg) {

            max-width: 50%;

    }
}

.media-media_image_left {
    float:left;
    max-width:100%;
}
.media-image-left, .file-media-image-left {
    float: left;
    max-width:100%;
    padding: 1em 1em 1em 0em;
        @include respond-to(xs) {
       max-width: 100%;

    }
    @include respond-to(md) {

            max-width: 50%;

    }
    @include respond-to(lg) {

            max-width: 60%;

    }
}

.media-image-center {
    margin: auto;
    max-width: 100%;
}

.file-media-image-center {
    margin: auto;
    max-width: 100%;
}

.media-media_image_right , .file-media-image-right {
    float: right;
    max-width: 50%;
    padding: 1em 0em 1em 1em;
    img {
        max-width: 100%;
    }
    @include respond-to(xs) {
       max-width: 100%;
        img {
            max-width: 100%;
        }
    }
    @include respond-to(md) {
        img {
            max-width: 100%;
        }
    }
    @include respond-to(lg) {
        img {
            max-width: 100%;
        }
    }
}

.media-media_image_left, .file-media-image-left  {
    float: left;
   max-width: 60%;
    padding: 1em 1em 1em 0em;
    img {
        max-width: 100%;
    }
    @include respond-to(xs) {
       max-width: 100%;
        img {
            max-width: 100%;
        }
    }
    @include respond-to(md) {
         max-width: 50%;
        img {
            max-width: 100%;
        }
    }
    @include respond-to(lg) {
         max-width: 60%;
        img {
            max-width: 100%;
        }
    }
}
