::-webkit-validation-bubble-message {
    display: none;
}


/*Clearing Floats*/

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}


/* Form wrapper styling */

.submenu-notvisible {
    .learn,
    .support {
        .form-wrapper {
            input.background-white {
                background: $grey-soft;
            }
        }
    }
}

.learn,
.support {
   // @extend .transition-03s;
    .form-wrapper {
        width: 300px;
        padding: 15px;
        border-radius: 10px;
        margin: 0px;
        padding: top;
        padding-top: 5px !important;
        @include respond-to(xs) {
            width: 285px;
            margin-left: 0px;
            padding: auto;
            padding-top: 4px !important;
            padding-bottom: 0px;
            /* float: left; */
            padding-left: 0px;
        }
    }
    /* Form text input */
    .form-wrapper {
        input {
            width: 230px;
            height: 20px;
            padding: 10px 5px;
            float: left;
            font: bold 15px;
            //   border: 0;
            //  background: $light-orange;//rgb(238, 238, 238);
            border-radius: 3px 0 0 3px;
            line-height: 20px;
            height: 40px;
            &.background-white {
                background: white;
            }
        }
        input:focus {
            outline: 0;
            background: #fff;
            box-shadow: none;
            &.background-white {
                background: white;
            }
        }
        input::-webkit-input-placeholder {
            color: #555; //#999;
            font-weight: normal;
            font-style: italic;
        }
        input:-moz-placeholder {
            color: #555; //color: #999;
            font-weight: normal;
            font-style: italic;
        }
        input:-ms-input-placeholder {
            color: #555; //color: #999;
            font-weight: normal;
            font-style: italic;
        }
        /* Form submit button */
        button {
            overflow: visible;
            position: relative;
            float: right;
            border: 0;
            padding: 0;
            cursor: pointer;
            height: 40px;
            width: 40px;
            font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
            color: #fff;
            text-transform: uppercase;
            background: $orange;
            border-radius: 0px;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
        }
        button:hover {
            background: $dark-orange;
        }
        button:active,
        button:focus {
            background: $dark-orange;
            outline: 0;
        }
    }
    .form-wrapper {
        & input:focus {
            outline: 0;
            background: #efefef;
            box-shadow: none;
            &.background-white {
                background: white;
            }
        }
        & input::-webkit-input-placeholder {
            color: #555; //color: $dark-sonnox-color;//#999;
            font-weight: normal;
            font-style: italic;
        }
        & input:-moz-placeholder {
            color: #555; //color: $dark-sonnox-color;
            font-weight: normal;
            font-style: italic;
        }
        & input:-ms-input-placeholder {
            color: #555; // color: $dark-sonnox-color;
            font-weight: normal;
            font-style: italic;
        }
        & input {
            outline: 0;
            background: #efefef;
            box-shadow: none;
            border: 0px;
            border-radius: 0px;
        }
        & button {
            background: $sonnox-color;
        }
        & button:hover {
            background: $dark-sonnox-color;
        }
        & button:active,
        & button:focus {
            background: $dark-sonnox-color;
        }
        max-width:360px;
        position:relative;
        &.mobile {
            width: 100%;
            input {
                outline: 0;
                background: white;
                box-shadow: none;
                border: 0px;
                border-radius: 0px;
                width: 100%;
            }
            button {
                position: absolute;
                right: 0px;
            }
        }
    }
    &.learn-videos {
        .form-wrapper input:focus {
            outline: 0;
            box-shadow: none;
        }
        .form-wrapper input::-webkit-input-placeholder {
            color: #555; // color: $dark-orange;//#999;
            font-weight: normal;
            font-style: italic;
        }
        .form-wrapper input:-moz-placeholder {
            color: #555; //color:$dark-orange;
            font-weight: normal;
            font-style: italic;
        }
        .form-wrapper input:-ms-input-placeholder {
            color: #555; //color: $dark-orange;
            font-weight: normal;
            font-style: italic;
        }
        .form-wrapper input {
            //  background: $light-orange;
        }
        .form-wrapper button {
            background: $orange;
        }
        .form-wrapper button:hover {
            background: $dark-orange;
        }
        .form-wrapper button:active,
        .form-wrapper button:focus {
            background: $dark-orange;
        }
    }
    &.learn-artists {
        .form-wrapper input:focus {
            outline: 0;
        }
        .form-wrapper input::-webkit-input-placeholder {
            color: #555; //color: $onedark-green;//#999;
            font-weight: normal;
            font-style: italic;
        }
        .form-wrapper input:-moz-placeholder {
            color: #555; //color: $onedark-green;
            font-weight: normal;
            font-style: italic;
        }
        .form-wrapper input:-ms-input-placeholder {
            color: #555; //color: $onedark-green;
            font-weight: normal;
            font-style: italic;
        }
        .form-wrapper input {
            // background: $light-green;
        }
        .form-wrapper button {
            background: $green;
        }
        .form-wrapper button:hover {
            background: $dark-green;
        }
        .form-wrapper button:active,
        .form-wrapper button:focus {
            background: $dark-green;
        }
    }
    &.learn-tips {
        .form-wrapper input:focus {
            outline: 0;
        }
        .form-wrapper input::-webkit-input-placeholder {
            color: #555; //color: $onedark-blue;//#999;
            font-weight: normal;
            font-style: italic;
        }
        .form-wrapper input:-moz-placeholder {
            color: #555; //color: $onedark-blue;
            font-weight: normal;
            font-style: italic;
        }
        .form-wrapper input:-ms-input-placeholder {
            color: #555; //color: $onedark-blue;
            font-weight: normal;
            font-style: italic;
        }
        .form-wrapper input {
            // background: $light-blue;
        }
        .form-wrapper button {
            background: $blue;
        }
        .form-wrapper button:hover {
            background: $dark-blue;
        }
        .form-wrapper button:active,
        .form-wrapper button:focus {
            background: $dark-blue;
        }
    }
    &.learn-news {
        .form-wrapper input:focus {
            outline: 0;
        }
        .form-wrapper input::-webkit-input-placeholder {
            color: #555; //color: $onedark-red;//#999;
            font-weight: normal;
            font-style: italic;
        }
        .form-wrapper input:-moz-placeholder {
            color: #555; //color: $onedark-red;
            font-weight: normal;
            font-style: italic;
        }
        .form-wrapper input:-ms-input-placeholder {
            color: #555; //color: $onedark-red;
            font-weight: normal;
            font-style: italic;
        }
        .form-wrapper input {
            //background: $light-red;
        }
        .form-wrapper button {
            background: $sonnox-red;
        }
        .form-wrapper button:hover {
            background: $dark-red;
        }
        .form-wrapper button:active,
        .form-wrapper button:focus {
            background: $dark-red;
        }
    }
    .form-wrapper button:hover:before {
        border-right-color: #e54040;
    }
    .form-wrapper button:focus:before,
    .form-wrapper button:active:before {
        border-right-color: #c42f2f;
    }
    .form-wrapper button::-moz-focus-inner {
        /* remove extra button spacing for Mozilla Firefox */
        border: 0;
        padding: 0;
    }
    &.learn-spotlight {
        .form-wrapper input:focus {
            outline: 0;
        }
        .form-wrapper input::-webkit-input-placeholder {
            color: #555; //color: $onedark-yellow;//#999;
            font-weight: normal;
            font-style: italic;
        }
        .form-wrapper input:-moz-placeholder {
            color: #555; //color: $onedark-yellow;
            font-weight: normal;
            font-style: italic;
        }
        .form-wrapper input:-ms-input-placeholder {
            color: #555; //color: $onedark-yellow;
            font-weight: normal;
            font-style: italic;
        }
        .form-wrapper input {
            //background: $light-yellow;
        }
        .form-wrapper button {
            background: $yellow;
        }
        .form-wrapper button:hover {
            background: $dark-yellow;
        }
        .form-wrapper button:active,
        .form-wrapper button:focus {
            background: $dark-yellow;
        }
    }
}
