.modal {
  text-align: center;
  .image-container {
    img {
      max-width:600px;
    }
  }
}

@media screen and (min-width: 768px) {
  .modal:before {
    @include inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  @include inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-loader {
    position: absolute;
    z-index: 10;
    color: black;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(255,255,255,0.6);
}
