.modal {
    cursor: pointer;
}

.modal-content.modal-video {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    box-shadow: none;
    .container,
    .col-sm-9 {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .col-sm-9 {
        background: black;
    }
    .col-sm-3 {
        padding-left: 1em;
    }
    @include respond-to(xs) {
        .related-products-wrapper {
            .related-products {
                margin: 0!important;
                .related-product {
                    a {
                        text-align: left;
                        @include inline-block;
                        img {
                            max-width: 25px;
                            @include inline-block;
                            vertical-align: middle;
                            margin: auto;
                        }
                    }
                }
            }
        }
    }
    .video-overlay {
        .related-products-wrapper {
            text-align: left;
            h5 {
                margin-left: 0px;
            }
            h3 {
                border-bottom: 1px solid rgb(238, 238, 238);
            }
            margin-top:2em;
            .related-product {
                cursor: pointer;
                text-align: left;
                margin: 0.5em;
                img {
                    max-width: 30px;
                }
            }
        }
        p {
            margin: 0.5em;
        }
        @include respond-to (xs) {
            text-align: left;
            h3 {
                margin: 0px;
                display: none;
            }
            h5 {
                padding-left: 0.5em;
                margin-bottom: 0px;
            }
            .close-button-inside {
                display: none;
            }
            .related-products-wrapper {
                margin-top: 0px;
                .related-products {
                    margin: 0!important;
                    .related-product {
                        @include inline-block;
                        a {
                            text-align: left;
                            @include inline-block;
                            img {
                                max-width: 25px;
                                @include inline-block;
                                vertical-align: middle;
                                margin: auto;
                            }
                        }
                    }
                }
            }
        }
        @include respond-to (mb-min) {
            text-align: left;
            h3 {
                margin: 0px;
                display: none;
            }
            h5 {
                padding-left: 0.5em;
                margin-bottom: 0px;
            }
            .close-button-inside {
                display: none;
            }
            .related-products-wrapper {
                margin-top: 0px;
                .related-products {
                    margin: 0px!important;
                    text-align: left;
                    .related-product {
                        @include inline-block;
                        a {
                            img {
                                max-width: 25px;
                                @include inline-block;
                                vertical-align: middle;
                                margin: auto;
                            }
                        }
                    }
                }
            }
        }
        @include respond-to (sm) {
            text-align: left;
            h5 {
                padding-left: 0.5em;
            }
            .related-products-wrapper {
                text-align: left;
                .related-products {
                    margin: 0!important;
                    .related-product {
                        @include inline-block;
                        a {
                            text-align: left;
                            @include inline-block;
                            img {
                                max-width: 25px;
                                @include inline-block;
                                vertical-align: middle;
                                margin: auto;
                            }
                        }
                    }
                }
            }
        }
        @include respond-to (md) {
            padding: 0px;
            h3 {
                margin: 0px;
                display: block;
            }
            .close-button-inside {
                display: block;
            }
            .related-products-wrapper {
                margin: 0px!important;
                text-align: left;
                .related-products {
                    .related-product {
                        display: block;
                        a {
                            img {
                                max-width: 25px;
                                @include inline-block;
                                vertical-align: middle;
                                margin: auto;
                            }
                        }
                    }
                }
            }
        }
        @include respond-to (lg) {
            text-align: left;
            h3 {}
            h5 {
                padding-left: 0.5em;
            }
            .close-button-inside {
                display: blok;
            }
            .related-products-wrapper {
                .related-products {
                    margin: 0px!important;
                    text-align: left;
                    .related-product {
                        display: block;
                        a {
                            img {
                                max-width: 40px;
                                @include inline-block;
                                vertical-align: middle;
                                margin: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 0px;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
