// http://codepen.io/bennettfeely/pen/twbyA
// Change to watch in slow motion
$duration: .5s;
$size: 100%;
$toggled-size: .75;
$bg: #449A88;
$nav-bg: #2A2A2A;
$content-bg: #E7E6DD;
.navicon-box {
  background:black;
      right: 20px;
    top: 10px;
    z-index: 20001;
    height: 40px;
    width: 40px;
    position:absolute;
}


.mobile-menu .navicon-box {
    right: 35px;
        z-index: 200000;
    position: fixed;
}
.navicon-button {
    @include inline-block;
    position: relative;
//    padding: 2.0625rem 1.5rem;
    transition: $duration/2;
    cursor: pointer;
    user-select: none;
    opacity: .8;
    .navicon:before,
    .navicon:after {
        transition: $duration/2;
    }
    &:hover {
        transition: $duration;
        opacity: 1;
        .navicon:before,
        .navicon:after {
            transition: $duration/2;
        }
        .navicon:before {
            top: .825rem;
        }
        .navicon:after {
            top: -.825rem;
        }
    }
}

.navicon-wrapper {
  position: relative !important;
    text-align: center;
    vertical-align: baseline;
    line-height: 40px;
}
.navicon {
    position: relative;
    width: 25px;
    height: .3125rem;
    background: $content-bg;
    transition: $duration;
    border-radius: 2.5rem;
    &:before,
    &:after {
        display: block;
        content: "";
        height: .3125rem;
        width: 2.5rem;
        background: $content-bg;
        position: absolute;
        z-index: 2;
        transition: $duration $duration/2;
        border-radius: 1rem;
    }
    &:before {
        top: .625rem;
    }
    &:after {
        top: -.625rem;
    }
}

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
    top: 0 !important;
}

.open .navicon:before,
.open .navicon:after {
    transition: $duration;
}


/* Minus */

.open {
    transform: scale($toggled-size);
}


/* Arrows */

.open.larr .navicon,
.open.rarr .navicon,
.open.uarr .navicon {
    &:before,
    &:after {
        width: 1.5rem;
    }
    &:before {
        transform: rotate(35deg);
        transform-origin: left top;
    }
    &:after {
        transform: rotate(-35deg);
        transform-origin: left bottom;
    }
}

.open.uarr {
    transform: scale($toggled-size) rotate(90deg);
}


/* Arrows */

.open.rarr .navicon {
    &:before {
        transform: translate3d(1em, 0, 0) rotate(-35deg);
        transform-origin: right top;
    }
    &:after {
        transform: translate3d(1em, 0, 0) rotate(35deg);
        transform-origin: right bottom;
    }
}


/* × and + */

.open.plus,
.open.x {
    .navicon {
        background: transparent;
        &:before {
            transform: rotate(-45deg);
        }
        &:after {
            transform: rotate(45deg);
        }
    }
}

.open.plus {
    transform: scale($toggled-size) rotate(45deg)
}
