.main-controller {
    &.open-side-menu {
        float: right;
        line-height: 60px;
        width: 120px;
        text-align: center;
        font-size: 1em;
        cursor: pointer;
        margin-right: 2px;
        margin-left: 1em;
    }
    span {}
    &.close-side-menu {
        position: absolute;
        top: 13.5px;
        right: 24px;
        font-size: 21px;
        z-index: 20;
        cursor: pointer;
    }
}

.global-nav {
    min-width: 320px;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    font-weight: 400;
    font-style: normal;
}

.mobile-menu {
    .global-nav {
        @include respond-to (xs) {
            height: 100%;
        }
        @include respond-to(sm) {
            height: 100%;
        }
        @include respond-to(md) {
            height: 60px;
        }
    }
}

#page-header {
    margin: auto;
    height: 60px;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    .block-menu {
        @include inline-block;
    }
}

.mobile-menu {
    #page-header {
        @include respond-to (xs) {
            height: 100%;
        }
        @include respond-to(sm) {
            height: 100%;
        }
        @include respond-to(md) {
            height: 60px;
        }
    }
}

.outer-page-container {
    border-top: 60px solid black;
    background: #e5e5e5;
    position: relative;
    left: 0;
    -webkit-transition: left .3s ease;
    -moz-transition: left .3s ease;
    -webkit-transition: left .3s ease;
    -moz-transition: left .3s ease;
    -o-transition: left .3s ease;
    -ms-transition: left .3s ease;
    transition: left .3s ease;
}

.admin-menu .outer-page-container {
    margin-top: 28px;
}

.nav-tabs {
    margin-bottom: 0px;
    padding: 20px;
    border-bottom: none;
}

#nav-container {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    z-index: 110;
    /* box-shadow: 1px 1px 10px #CCC; */
}

.admin-menu {
    #nav-container,
    #side-nav-container,
    #site-container {
        margin-top: 28px;
    }
}

.nav-tabs > li {
    &.active > a {
        color: #428bca;
        background-color: #fff;
        border: none;
        border-bottom-color: transparent;
        cursor: default;
        font-weight: 700;
        &:hover,
        &:focus {
            color: #428bca;
            background-color: #fff;
            border: none;
            border-bottom-color: transparent;
            cursor: default;
            font-weight: 700;
        }
    }
    > a {
        font-size: 1.2em;
        line-height: 1.2em;
        border: none;
        &:hover {
            border-color: transparent;
        }
    }
}

.after-sumbenu {
    height: 0px;
    margin-bottom: 0px;
}

div#nav-container.top {
    //@include rgba-background(rgba(0, 0, 0, 0.6));
    background: black;
    box-shadow: none;
    color: #fff;
}

.not-front.navbar-administration div#nav-container.top {
    background: black;
    box-shadow: none;
    color: #fff;
    margin-top: 40px;
}

.admin-menu div#nav-container.top,
.admin-menu div#nav-container {
    margin-top: 28px;
}

div#nav-container {
    @include rgba-background(rgba(0, 0, 0, 0.91));
    &.top a {}
    color: white;
    a {}
    .active a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
}

a.logo {
    height: 60px;
    width: auto;
    text-align: center;
    font-size: 21px;
    color: #ffffff;
    cursor: pointer;
    background: transparent;
    position: relative;
    @include transform(translate3d(0, 0, 0), true);
    padding: 15px 0px;
    line-height: 0px;
    margin: 0px 0px 0em 1em;
    @include inline-block;
    img {
        @include inline-block;
    }
    .logo-background {
        height: 28px;
        width: 140px;
        margin: 0px 5px 2px 10px;
        background-repeat: no-repeat;
        -webkit-transform: translate3d(0, 0, 0);
    }
}

.submenu-notvisible {
    a.logo {}
}


/* ----------------------     start max-width: 600px  -------------------------------- */

@media only screen and (max-width: 600px) {
    a.logo {}
    #block-menu-menu-top-menu-log-out {
        display: none;
    }
    .section-arrow {
        /* text-indent: -119988px; */
        /* overflow: hidden; */
        text-align: center;
        position: absolute;
        bottom: 10px;
        left: 50%;
        z-index: 100;
        width: 45px;
        height: 45px;
        margin-left: -22px;
        //background-color: #000;
        width: 40px;
        height: 40px;
        margin-left: -20px;
        font-size: 30px;
        color: #FFF;
        line-height: 40px;
        border-radius: 63px;
        cursor: pointer;
    }
}


/* end max-width */

@media screen and (max-width: 950px) {
    .submenu-notvisible .global-nav {
        //  height: 60px;
    }
}

.side-nav-container .nav > li > a {
    &:hover {
        display: table;
        color: #fefefe;
    }
    transition: color 0.9667s ease;
    -webkit-transition: color 0.9667s ease;
    -moz-transition: color 0.9667s ease;
    -o-transition: color 0.9667s ease;
    display: table;
    color: #b3b3b3;
}

.nav-container {
    .nav > li > a {
        @include inline-block;
    }
    &.global-nav ul li {
        list-style-type: none;
        @include inline-block(top, top);
        margin-left: 20px;
    }
}

.global-nav ul {
    display: inline;
    margin-top: 0px;
    li {
        list-style-type: none;
    }
}

.nav > li {
    > div {
        -webkit-transform: translate3d(0, 0, 0);
        position: relative;
        display: block;
        cursor: pointer;
    }
    &:hover > div {
        background: rgba(0, 0, 0, 0.1);
        color: black;
    }
    &.active > div {
        background: rgba(0, 0, 0, 0.4);
        color: white;
    }
}

.nav-container.global-nav .menu.nav > li > a {
    padding: 0px;
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 680px) {
    /* Styles */
    #page-header .block-menu {
        display: none;
    }
}
