.square {
  width:30px;
  height:30px;
  background: transparent;
  position:relative;
  font-size:20px;
  font-weight:bold;
  cursor:pointer;
  color:#fff;
  font-size: 26px;
  margin-right:0.75em;
}
.fa-plus, .fa-minus {
  width:30px;
  height:30px;
  display:block;
  position:absolute;
  top:0; left:0;
  line-height:32px;
  text-align:center;

  @include transition( all, .5s, ease-out);
}
.plus , .minus {
   @include transition( all, .5s, ease-out);
}
.fa-plus {
  opacity:1;
  @include rotate(0deg);
}

.square.open .fa-plus {
  opacity:0;

  @include rotate(90deg);
}
.fa-minus {
  opacity:0;
  @include rotate(-90deg);
}
.square.open .fa-minus {
  opacity:1;
  @include rotate(0deg);
}
