.parallex {
    text-align: center;
    position: relative;
    p {
        font-size: 18px;


    }
}

.parallex-title a {
    font-size: 3em;
}

.content_panel .parallex-title {
    a {
        font-size: 3em;
    }
    h1 {
        font-size: 1.4em;
    }
}

.parallex-title {
    text-align: center;
    @include inline-block;
    width: 100%;
    margin-top: -3%;
    font-family: arial black;
}

.parallex-subtitle {
    position: absolute;
    top: 10px;
    left: 20px;
    color: white;
}

.content_panel .parallex-title {
    text-align: left;
    @include inline-block;
    width: 100%;
    padding-left: 4.5%;
    font-family: "futura-pt", Century Gothic, Futura, sans-serif;
}

.parallex-title h1 {
    color: #FFF;
    font-weight: bold;
    font-family: arial black;
    font-size: 1.875em;
    line-height: 1.1em;
    margin: 0;
}

.content_panel .parallex-title h1 {
    color: #FFF;
    font-weight: bold;
    font-family: "futura-pt", Century Gothic, Futura, sans-serif;
    line-height: 1.1em;
    margin: 0;
}

.parallex-body p {
    margin: 0px 20px 0px 20px;
}

.parallex-title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #FFF;
        font-family: arial black;
        font-weight: normal;
        margin: auto;
    }
}

.flex-viewport .parallex-title h2 {
    font-weight: normal;
    font-family: "futura-pt", Century Gothic, Futura, sans-serif;
}

.parallex-body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #FFF;
        font-weight: normal;
        margin: auto;
    }
}

.home-parallax,
.head {
    display: block;
    vertical-align: middle;
    margin: auto;
    width: 100%;
    margin-top: -60px;
}

.navbar-administration {
    .home-parallax,
    .head {
        margin-top: 0px;
    }
}

.parallex-background {
    @include rgba-background(rgba(0, 0, 0, 0.3));
    color: #FFF;
    height: 100%;
    text-align: center;
}

.series-parallex-text {
    h1 {
        padding-top: 13%;
        line-height: 2;
        color: #fff;
    }
    h3,
    h2 {
        color: #fff;
    }
}

.content_panel .parallex-body p {
    text-align: center;
    max-width: 100%;
}

.parallex-background {
    /* set the height of the element which contains what you want to center */
    height: 100%;
    /* these styles are optional, to set width horizontally center the page */
    background: rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}

.parallex-wrapper {
    max-width: 800px;
}

.home-parallax {
    .parallex-wrapper {
        max-width: 90%;
    }
    .series-parallex-text {
        background: rgba(0, 0, 0, 0);
        h1 {
            padding-top: 0%;
            line-height: 2;
        }
    }
}

.parallex-background:before,
.parallex-wrapper {
    /* these are the important styles for the centered element: */
    @include inline-block;
    vertical-align: middle;
}

.parallex-background:before {
    /* this is the important part */
    content: '';
    @include inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    /* this just takes care of whitespace added by having display:inline-block (there are other methods) */
    margin-left: -0.25em;
}

@media only screen and (max-width: 860px) {
    .parallex-wrapper {
        max-width: 80%;
    }
    .home-parallax .parallex-wrapper {
        max-width: 90%;
    }
}
