.parallex {
  //height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
// background-image: url("../img/demo/_small/1.jpg");
