.partners-box {
    height: 250px;
    @extend .transition-05s;
    -webkit-transition: -webkit-transform 0.3s  ease-in-out;
    overflow: hidden;
    position: relative;
    display:inline-block;
    line-height:1.2em;
    & > .section {
        margin: 2px;
        background: white;
        height: 100%;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .section-image {
        background: white;
        @extend .transition-05s;
        -webkit-transition: -webkit-transform 0.3s  ease-in-out;
        width: 100%;
        height: 100%;
        img {
            max-width: 90%;
        }
        padding: 1em;
    }
    .section-content {
        @include opacity(0);
        background: $sonnox-color;
        @extend .transition-05s;
        -webkit-transition: -webkit-transform 0.3s  ease-in-out;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
        @include transform(translatey(-250px));
        width: 100%;
        height: 100%;
        color: white;
        padding: 1em;
        a {
          color:#ddd;
          &:visited {
            color:#ddd;
          }
          &:hover {
            color:white;
          }
        }
    }
    &:hover {
        .section-content {
           @include opacity(1);
            @include transform(translatey(0px));
        }
    }

    @include respond-to(xs) {
        height: 330px;
        .section-content {
            @include transform(translatey(-300px));
            p {
                //display:none;
            }
        }
    }
    @include respond-to(mb) {
        height: 250px;
        width:100%;
        .section-content {
            @include transform(translatey(-300px));
            p {
                //display:none;
            }
        }
    }
    @include respond-to(sm) {
        height: 300px;
        .section-content {
            @include transform(translatey(-300px));
            p {
                //display:none;
            }
        }
    }
}
