.people-box {
    position: relative;
    .img1 {
        @include opacity(1);
        @extend .transition-05s;
        z-index:1;
    }
    .details {
        position: absolute;
        bottom: 10px;
        left: 20px;
        text-align: left;
        z-index:1;
        .title {
            background-color: $sonnox-color;
            color: white;
            padding: 8px 8px 1px !important;
            margin-bottom: -2px;
            @include transform(translateX(-110%));
        }
        .role {
            background-color: $sonnox-color;
            color: white;
            padding: 8px 8px 1px !important;
            @include transform(translateX(-110%));
        }
    }
    &:hover {
        .img1 {
            @include opacity(0);
        }
        .title {
            @include transform(translateX(0%));
            @include animation(slideToRight 0.4s linear);
        }
        .role {
            @include transform(translateX(0%));
            @include animation(slideToRight2 1s linear);
        }
    }
    @include respond-to(xs) {
        .details {
            bottom: 4px;
            left: 7px;
            .title {
                font-size: 0.8em;
                padding: 4px 4px 1px !important;
                margin-bottom: -2px;
            }
            .role {
                font-size: 0.6em;
                padding: 4px 4px 1px !important;
            }
        }
    }
    @include respond-to(sm) {
        .details {
            bottom: 5px;
            left: 10px;
            .title {
                font-size: 1.2em;
                padding: 4px 4px 1px !important;
                margin-bottom: -2px;
            }
            .role {
                font-size: 0.8em;
                padding: 4px 4px 1px !important;
            }
        }
    }
    @include respond-to(md) {
        .details {
            .title {
                font-size: 1.4em;
            }
            .role {
                font-size: 1em;
            }
        }
    }
}



@include keyframes(slideToRight2) {
    0% {
        @include transform(translateX(-110%))
    }
    50% {
        @include transform(translateX(-110%))
    }
    100% {
        @include transform(translateX(0%))
    }
}


@include keyframes(slideToRight) {
 0% {
        @include transform(translateX(-110%))
    }
    25% {
        @include transform(translateX(-50%))
    }
    50% {
        @include transform(translateX(-25%))
    }
    100% {
        @include transform(translateX(0%))
    }
}


