.plugin-videos {
  @include transform(translate(-150%, 0%));
  z-index: 50;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  @include animation-timing-function(linear);
  .video-back {
    cursor: pointer;
    font-size: 2em;
    left: 0px;
    padding: 10px 10px 10px 0px;
    @include opacity(0);
    @extend .transition-1s;
    z-index: 15;
    color: white;
  }
  &:hover {
    .video-back {
      @include opacity(0.5);
    }
  }
}

.video-left {
  vertical-align: top;
  width: 69%;
  @include inline-block;
  height: 100%;
  position: relative;
  background: black;
  padding: 3px;
}

.video-right {
  vertical-align: top;
  width: 30%;
  height: 100%;
  @include inline-block;
  position: relative;
  background: #000;
  padding: 0px;
  border: none;
  outline: none;
  overflow: hidden;
  ul {
    padding-left: 0px;
  }
}

.awards-icons {
  position: absolute;
  z-index: 50;
  bottom: 10px;
  right: 80px;
  .awards-div {
    background-size: auto 63px!important;
    margin:0 10px;
    width:100%;
    display: inline-block;
    @include respond-to(sm) {
      height: 50px;
       background-size: auto 50px!important;
    }
    @include respond-to(md) {
      height: 63px;
       background-size: auto 63px!important;
    }
  }
  img {
    height: 63px;
    @include respond-to(sm) {
      height: 50px;
    }
    @include respond-to(md) {
      height: 63px;
    }
  }
}

.mobile-close-video {
  @include transform(translate(0%, -100%));
  @include opacity(0);
  position: absolute;
  width: 100%;
  font-size: 1.5em;
  color: #333;
  font-weight: bold;
  height: 50px;
  padding: 5px;
  line-height: 50px;
  z-index: 10;
  background: $grey-soft;
  text-align: center;
  border-bottom: 5px solid #dedede;
  cursor: pointer;
}

.plugin-videos.video-toright,
.plugin-videos.video-toright.video-toleft {
  // @include transform(translateY(0%));
  // @extend .transition-1s;
  @include transform(translate(0%, 0%));
  //@include animation-name(imageup);
  // @include animation-duration(1s);
  @include animation(toright 0.5s linear);
}

@include keyframes(toright) {
  0% {
    @include transform(translate(-20%, 0%));
    @include opacity(0);
  }
  100% {
    @include transform(translate(0%, 0%));
    @include opacity(1);
  }
}

.plugin-videos.video-toleft {
  // @include transform(translateY(0%));
  // @extend .transition-1s;
  @include transform(translate(-150%, 0%));
  //@include animation-name(imageup);
  // @include animation-duration(1s);
  @include animation(toleft 0.5s linear);
}

@include keyframes(toleft) {
  0% {
    @include transform(translate(0%, 0%));
    @include opacity(1);
  }
  100% {
    @include transform(translate(-20%, 0%));
    @include opacity(0);
  }
}

@include respond-to(xs) {
  .video-left {
    @include transform(translate(0%, -100%));
    position: absolute;
    width: 100%;
    height: 100%;
    &.mobile-visible {
      left: 0px;
      padding-bottom: 25px;
      @include animation(tobottom 0.5s linear);
      @include transform(translate(0%, 0%));
    }
    &.mobile-notvisible,
    &.mobile-visible.mobile-notvisible {
      padding-bottom: 25px;
      left: 0px;
      @include animation(totop 0.5s linear);
      @include transform(translate(0%, -100%));
    }
  }
  .video-right {
    width: 100%;
    max-width: 100%;
  }
  .mobile-close-video.mobile-visible {
    display: block;
    @include opacity(1);
    @include transform(translate(0%, 0%));
    @include animation(tobottom-mobile-close-video 1s linear);
  }
  .mobile-close-video.mobile-notvisible,
  .mobile-close-video.mobile-visible.mobile-notvisible {
    @include opacity(0);
    @include transform(translate(0%, -100%));
    @include animation(totop-mobile-close-video 1s linear);
  }
}

@include keyframes(tobottom-mobile-close-video) {
  0% {
    @include transform(translate(0%, -100%));
    @include opacity(0);
  }
  50% {
    @include transform(translate(0%, -100%));
    @include opacity(0);
  }
  100% {
    @include transform(translate(0%, 0%));
    @include opacity(1);
  }
}

@include keyframes(totop-mobile-close-video) {
  0% {
    @include transform(translate(0%, 0%));
    @include opacity(1);
  }
  100% {
    @include transform(translate(0%, -100%));
    @include opacity(0);
  }
}

@include keyframes(tobottom) {
  0% {
    @include transform(translate(0%, -20%));
    @include opacity(0);
  }
  100% {
    @include transform(translate(0%, 0%));
    @include opacity(1);
  }
}

@include keyframes(totop) {
  0% {
    @include transform(translate(0%, 0%));
    @include opacity(1);
  }
  100% {
    @include transform(translate(0%, -20%));
    @include opacity(0);
  }
}
