.prices-table {
    @include inline-block;
    background-color: transparent;
    color: #b1b1b1;
    overflow: hidden;
    font-weight: 500;
    margin: auto;
    .row {
        display: table;
        &.first {
            border-bottom: 1px solid #1d1d1d;
        }
        .cel {
            display: table-cell;
            padding: 1em;
            width: 140px;
            min-width: 115px;
            text-align: center;
            border-right: 1px solid #1d1d1d;
            background: black;
            &.color-orange {
                background: #F89406 !important;
                color: black!important;
            }
        }
    }
    @include respond-to(xs) {
        display: table;
        .row {
            display: table-cell;
            width: 50%;
            &.first {
              border-bottom: 0px;
            }
            .cel {
                display: block;
                width: 120px;
                    border-bottom: 1px solid #1d1d1d;
                &.color-orange {
                    background: #F89406 !important;
                    color: #000 !important;
                    border-right: #F89406;
                    border-bottom: 1px solid #F89406;
                }
            }
        }
    }
}
