.products-right-column {
    &.bottom {}
    &.promotion-notvisible {
        position: fixed;
        top: 100px;
    }
}

.sonnox-posts {
    .product {


        a,
        a:visited,
        a:hover {
            text-decoration: none;
            * {
                text-decoration: none;
            }
        }
        font-size: 16px;
        display: -moz-inline-stack;
        @include inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        position: relative;
        width: 99%;
        margin-bottom: 15px;
        vertical-align: top;
        text-align: left;
        height: 170px;
        &:last-child {
            margin-bottom: 15px;
        }
        .product-wrapper {
            position: relative;
            margin-left: 0px;
            margin-right: 0px;
            background-color: #FFF;
            height: 100%;
            overflow: hidden;
            -moz-box-shadow: 0px 0px 4px 0px rgba(237, 237, 237, 1);
            box-shadow: 0px 0px 3px 0px #E5E5E5;
            h2 {
                font-size: 1.5625em;
                line-height: 1.2em;
                color: #6E8ABB;
                margin: 0.3em 0em 0em;
            }
            p {
                margin-bottom: 0;
                font-size: 16px;
                margin-top: 0.5em;
            }
            .product-content {
                padding: 1em;
                /* padding-top: 5px; */
                padding-bottom: 25px;
                @include inline-block;
                max-width: 65%;
            }
            .product-img img {
                width: 150px;
                height: auto;
            }
        }
        @include respond-to(mb-min) {
            .product-wrapper {
                width: 100%;
                padding-right: 1em;
                .product-content {
                    display: inline;
                }
                .product-img {
                    position: relative;
                    position: relative;
                    width: 220px;
                    height: 170px;
                    float: left;
                    text-align: center;
                    line-height: 170px;
                    background: #fbfbfb;
                    margin-right: 1em;
                }
                p {
                    font-size: 16px;
                    line-height: 1.2em;
                }
            }
        }
        @include respond-to(sm) {
            .product-wrapper {
                width: 100%;
                .product-img {
                    position: relative;
                    position: relative;
                    width: 220px;
                    height: 170px;
                    float: left;
                    text-align: center;
                    line-height: 170px;
                    background: #fbfbfb;
                }
                p {
                    font-size: 16px;
                    line-height: 1.2em;
                }
            }
        }
        @include respond-to(sm-max) {
            height: 230px;
            .product-wrapper {
                .product-img {
                    position: relative;
                    position: relative;
                    width: 220px;
                    height: 230px;
                    float: left;
                    text-align: center;
                    line-height: 230px;
                    background: #fbfbfb;
                    margin-right: 1em;
                }
            }
        }
        @include respond-to(mb) {
            font-size: 14px;
            display: -moz-inline-stack;
            @include inline-block;
            vertical-align: middle;
            zoom: 1;
            position: relative;
            width: 100%;
            margin-bottom: 15px;
            vertical-align: top;
            text-align: left;
            height: 110px;
            .product-wrapper {
                width: 100%;
                .product-content {
                    display: inline;
                    h4 {
                        display: none;
                    }
                }
                .product-img {
                    position: relative;
                    width: 110px;
                    height: 110px;
                    float: left;
                    text-align: center;
                    line-height: 110px;
                    margin-right: 10px;
                    background: #fbfbfb;
                    img {
                        width: 90px;
                        height: auto;
                    }
                }
                p {
                    display: none;
                }
            }
        }
        @include respond-to(md) {
            .product-wrapper {
                width: 100%;
                .product-img {
                    position: relative;
                    position: relative;
                    width: 220px;
                    height: 170px;
                    float: left;
                    text-align: center;
                    line-height: 170px;
                    background: #fbfbfb;
                }
                p {
                    font-size: 16px;
                    line-height: 1.2em;
                }
            }
        }
        @include respond-to(lg) {
            .product-wrapper {
                width: 100%;
                .product-img {
                    position: relative;
                    position: relative;
                    width: 240px;
                    height: 170px;
                    float: left;
                    text-align: center;
                    line-height: 170px;
                    background: #fbfbfb;
                }
                p {
                    font-size: 16px;
                    line-height: 1.2em;
                }
            }
        } //
        &.square {
            height: 320px;
            width: 49%;
            margin-right: 1%;
            h2 {
                margin: 0.5em 0em 0.1em;
            }
            .product-wrapper {}
            .product-content {
                padding: 0.5em;
                padding-top: 5px;
                padding-bottom: 25px;
                display: block;
                max-width: 100%;
                p {
                    color: #222222;
                    margin-bottom: 0;
                    font-size: 1em;
                    padding: 0.1em;
                    margin-top: 0.5em;
                    line-height: 1.2em;
                    font-weight: 500;
                }
            }
            .product-img {
                line-height: 0em;
                position: relative;
                width: 100%;
                height: auto;
                float: none;
                /* text-align: left; */
                margin: 0px;
                margin-top: 0px;
                margin-right: 0px;
                margin-left: 0;
                background: #fbfbfb;
                padding: 0.5em;
                text-align: center;
                img {
                    width: auto;
                    height: auto;
                    width: auto;
                    height: 100px;
                }
            }
            @include respond-to(mb-min) {
                width: 49%;
                .product-wrapper {
                    width: 100%;
                    padding-right: 0px;
                }
            }
            @include respond-to(xs) {
                height: 350px;
                width: 49%;
                .h2 {
                    @include inline-block;
                    line-height: 1.4em;
                }
                .product-img {
                    img {}
                }
            }
            @include respond-to(mb) {
                height: 290px;
                width: 100%;
                .h2 {
                    @include inline-block;
                    line-height: 1.4em;
                }
                p {
                    display: block;
                }
                .product-img {
                    img {}
                }
            }
            @include respond-to(sm) {
                height: 290px;
                width: 49%;
                .h2 {
                    @include inline-block;
                    line-height: 1.4em;
                }
                .product-img {
                    img {}
                }
            }
            @include respond-to(lg) {
                height: 325px;
                width: ((100% - 3)/3);
                .product-img {
                    position: relative;
                    width: 100%;
                    height: auto;
                    float: none;
                    /* text-align: left; */
                    margin: 0px;
                    margin-top: 0px;
                    margin-right: 0px;
                    margin-left: 0;
                   // background: #f1f1f1;
                    padding: 0.5em;
                    img {}
                }
            }
        }
        h1 {
            padding-top: 5px;
            margin-bottom: 25px;
        }
        h2 {
            font-size: 1.25em;
            font-weight: 200;
            line-height: 1.35em;
            color: #6E8ABB;
            a {
                color: $body-color;
                margin-bottom: 25px;
            }
        }
        h3 {
            margin-top: -5px;
            margin-bottom: 15px;
            a {
                display: -moz-inline-stack;
                @include inline-block;
                vertical-align: middle;
                *vertical-align: auto;
                zoom: 1;
                *display: inline;
                font-weight: bold;
                line-height: 0.9em;
            }
        }
        h4 {
            font-size: 0.8em;
            color: rgb(97, 97, 97);
            margin: 0px;
        }
        p {
            margin-bottom: 0;
            font-size: 1em;
            a,
            span {
                font-weight: 400;
                -webkit-font-smoothing: antialiased;
                color: #373737;
            }
        }
        a {
            color: black;
            &:hover,
            &:visited {
                color: $body-color;
            }
        }
    }
}

.products-right-column img {}

.buy-button {
    border: 1px solid #6E8ABB;
    float: right;
    color: #6E8ABB;
    margin-bottom: 10px;
    position: absolute;
    right: 35px;
    bottom: 15px;
    padding: 3px 10px 3px 10px;
}



.product-price-box {
    width: 250px;
    display: inline-block;
}
