.promopage {
  .promo-header {
    position:relative;
    width:100%;
    height:540;
    @include respond-to(xs) {
      height:250px;
            h2 {
        font-size:1.8em;
      }
    }
    @include respond-to(sm) {
      height:350px;
            h2 {
        font-size:3em;
      }
    }
    @include respond-to(md) {
      height:400px;
            h2 {
        font-size:3.5em;
      }
    }
    @include respond-to(lg) {
      height:500px;
      h2 {
        font-size:3.5em;
      }
    }
  }
}
