.related-product.ng-scope {
    text-align: left;
    margin-bottom: 0.8em;
        @include respond-to(xs) {
      text-align:left;
      font-size:14px;
      img {
        max-width:25px;
        @include inline-block();
        margin:auto;
      }
    }
    @include respond-to(sm) {
      text-align:center;
      font-size:14px;
      img {
        max-width:40px;
        display:block;
        margin:auto;
      }
    }

    @include respond-to(md) {
      text-align:left;
      font-size:14px;
      img {
        max-width:25px;
        @include inline-block();
        margin:auto;
      }
    }

    @include respond-to(lg) {
      text-align:left;
      font-size:16px;
      img {
        max-width:40px;
        @include inline-block();
        margin:auto;
      }
    }
}
