.r-tabs {
    .r-tabs-nav {
        margin: 0;
        padding: 0;
    }
    .r-tabs-tab {
        @include inline-block;
        margin: 0;
        list-style: none;
    }
    .r-tabs-panel {
        padding: 15px;
        display: none;
        &.r-tabs-state-active {
            display: block;
        }
    }
    .r-tabs-accordion-title {
        display: none;
    }
}


/* Accordion responsive breakpoint */

@media only screen and (max-width: 768px) {
    .r-tabs {
        .r-tabs-nav {
            display: none;
        }
        .r-tabs-accordion-title {
            display: block;
        }
    }
}


/* Tabs container */

.tabpanel {
    font-size: 0.8em;
}

.modal-content .tabpanel {
    font-size: 1em;
}


/* Tab element */

.r-tabs {
    position: relative;
    background-color: #B9B9B9;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    .r-tabs-nav {
        .r-tabs-tab {
            &::first {
                border-left: 0px;
            }
            position: relative;
            background-color: darken(#e4e4e4, 6%);
            border: 0px;
            border-bottom: none;
            @include border-radius(0px);
            padding-top: 2px;
            border-left-color: #666;
            margin: 0 2px;
            color:#000;
            @extend .transition-03s;
            a {
                //@extend .transition-03s;
                @include custom-transition ( background-color, 0.3s );
            }
            &:hover {
                background: #aaa;
            }
            @include respond-to(xs) {
                background-color: #444;
                &:hover {
                    background: #333;
                }
            }
        }
        .r-tabs-anchor {
            @include inline-block;
            padding: 10px 12px;
            text-decoration: none;
            /* text-shadow: 0 1px rgba(0, 0, 0, 0.4); */
            @include border-radius(0px);
            font-size: 14px;
            font-weight: bold;
            color: #000;
            background: #f3f3f3;
            @include respond-to(xs) {
                border-top: 1px solid #666;
                border-bottom: 1px solid #666;
            }
        }
        .r-tabs-state-active {
            background: #333;
            .r-tabs-anchor {
                color: #000;
                text-shadow: none;
                background-color: #FFF;
                @include border-radius(0px);
                width: 100%;
            }
        }
        /* Disabled tab */
        & .r-tabs-state-disabled {
            opacity: 0.5;
        }
    }
    .r-tabs-panel {
        background-color: white;
        border-bottom: 4px solid white;
        @include border-radius(0px);
        max-height: 350px;
        height: 350px;
        overflow-y: auto;
    }
    .r-tabs-accordion-title {
        .r-tabs-anchor {
            display: block;
            padding: 10px;
            background-color: black;
            color: #ccc;
            font-weight: bold;
            text-decoration: none;
            text-shadow: 0;
            font-size: 14px;
            @include border-radius(0px);
            @include respond-to(xs) {
                background-color: #252525;
                border-top: 1px solid #666;
                border-bottom: 1px solid #666;
                &:hover {
                    background-color: #202020;
                }
            }
        }
        &.r-tabs-state-active .r-tabs-anchor {
            @include respond-to(xs) {
                background: #000;
                color:white;
            }
        }
        &.r-tabs-state-disabled {
            opacity: 0.5;
        }
    }
}


/* Buttons */

.r-tabs button {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    line-height: 100%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    font-weight: bold;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: black;
    box-shadow: 0px 3px 0px 0px #00ab94;
    cursor: pointer;
}


/* Info bar */

.info {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    width: 300px;
    line-height: 100%;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
    color: black;
    border: 2px solid #00ab94;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
}
