.review-thumbnail {
    p {
        margin-top: 0px;
    }
    .logo-container {
        margin: auto;
        margin-bottom: 22px;
        max-width:250px;
        margin:auto;
        .review-logo {
            width: 100%;
            max-width: 250px;
            padding-bottom: 36%;
        }
    }
}
