.sonnox-posts {
    article {
        header {
            padding-bottom: 15px;
            overflow: hidden;
            hgroup {
                margin: 25px;
                margin-bottom: 15px;
                h1 {
                    @include inline-block;
                    vertical-align: middle;
                    *vertical-align: auto;
                    zoom: 1;
                    *display: inline;
                    font-size: 1.875em;
                    line-height: 1.1em;
                }
                h3 {
                    font-size: 1em;
                    line-height: 138%;
                    margin-bottom: 15px;
                    a {
                        @include inline-block;
                        vertical-align: middle;
                        *vertical-align: auto;
                        zoom: 1;
                        *display: inline;
                        border-bottom-style: solid;
                        border-bottom-width: 2px;
                        line-height: 0.9em;
                    }
                }
            }
            img {
                width: 100%;
            }
        }
        .content_panel {
            padding: 0 25px;
        }
        .text-container {
            margin: 0 auto;
            p {
                max-width: none !important;
            }
            ul {
                max-width: none !important;
            }
            ol {
                max-width: none !important;
            }
        }
        .image-container {
            margin: 0 auto;
            p {
                max-width: none !important;
            }
            ul {
                max-width: none !important;
            }
            ol {
                max-width: none !important;
            }
            &.full-width p.caption {
                margin: 0 auto;
                p {
                    max-width: none !important;
                }
                ul {
                    max-width: none !important;
                }
                ol {
                    max-width: none !important;
                }
            }
        }
        .video-container {
            margin: 0 auto;
            p {
                max-width: none !important;
            }
            ul {
                max-width: none !important;
            }
            ol {
                max-width: none !important;
            }
        }
        .soundcloud-container {
            margin: 0 auto;
            p {
                max-width: none !important;
            }
            ul {
                max-width: none !important;
            }
            ol {
                max-width: none !important;
            }
        }
    }
    footer {
        padding: 25px;
        border-top: 2px solid $color_black_haze_approx;
        text-align: left;
        p {
            font-size: 0.875em;
            line-height: 1.36em;
            font-weight: 500;
            color: $color_star_dust_approx;
            display: block;
            margin: 0;
            text-align: left;
        }
    }
}



//plugin  page
.logo-container {
    margin: 0 0.5em 0 0.5em;
    img {
 max-width: 150px;
    height: auto;
    margin: 0;
    width: 150px;
    }
    @include respond-to(xs) {
        display: block;
         margin: 0 3px;
    }
}


// reviews
.review-thumbnail  {
    @include inline-block();

    margin:auto;
    @include respond-to(sm) {
        max-width: 313px;
    }

    @include respond-to(xs) {
        max-width: 100%;
    }

    @include respond-to(md) {
         max-width : 420px;
    }

    @include respond-to(lg) {
         max-width : (99% / 3);
    }


}

.s{
        background: #fafafa;
}
.product-bundle-container-plugin {
    //background:black;
    //color:white;
    h1,
    h2,
    h3 {
        color: $body-color;
    }
    img {
        width: 100%;
        height: auto;
    }
    .price-format-title {
        background: white;
        border-bottom: 1px solid #e4e4e4;
        text-align: center;
        color: $body-color!important;
        padding: 0.6em;
        font-weight: bold;
        margin: 0px;
    }
    .price-format-content {
        background: white;
        text-align: center;
        color: $body-color;
        ul {
            text-align: center;
            li {
                padding: 0.4em;
            }
        }
        ul > li:first-child {
            padding-top: 0.8em;
        }
        ul > li:last-child {
            padding-bottom: 1em;
        }
    }
    .content {
        min-height: 320px;
    }
    @include respond-to(xs) {
        .price-format-content {
            ul li {
                padding: 0.4em;
                display: block;
            }
        }
    }
    @include respond-to(ml) {
        .price-format-content {
            ul li {
                padding: 0.4em;
                @include inline-block;
            }
        }
    }
    @include respond-to(sm) {
        .price-format-content {
            ul li {
                padding: 0.4em;
                display: block;
            }
        }
    }
}

.square-image {
    @include respond-to (xs) {
        img {
            max-width: 80%;
        }
    }
    @include respond-to (sm) {
        img {
            max-width: 60%;
        }
    }
    @include respond-to (md) {
        img {
            max-width: 80%;
        }
    }
}

.square-plugin {
    width: 160px;
    @include inline-block;
    @include respond-to (xs) {
          width: 130px;
        .square-image {
            img {
                max-width: 80%;
            }
        }
    }
    @include respond-to (sm) {
        .square-image {
            img {
                max-width: 60%;
            }
        }
    }
    @include respond-to (md) {
        .square-image {
            img {
                max-width: 80%;
            }
        }
    }
}

.background-cover {
    color: white;
    h2,
    h3 {
        color: white;
    }
}

nav ul li {
    @include inline-block;
}
