/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

body {
    overflow-x: hidden;
    background: white;
    font-weight: 500;
    @include font-smoothing();
    font-weight: 500;
    &.mobile-menu {
        overflow: hidden;
    }
}

* {
    -webkit-backface-visibility: hidden;
}

img {
   -webkit-transform: translate3d(0, 0, 0);
    //image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

a {
    color: #428BCA;
    text-decoration: none;
    &:hover,
    &:focus {
        color: #2A6496;
        text-decoration: none;
        outline: none !important;
    }
}


.btn:active {
    -webkit-box-shadow: inset 0 1px 30px rgba(128, 162, 255, 0.5);
    -moz-box-shadow: inset 0 1px 30px rgba(128, 162, 255, 0.5);
    box-shadow: inset 0 1px 30px rgba(128, 162, 255, 0.5);
    outline: none;
}

a.btn:active {
    -webkit-box-shadow: inset 0 1px 30px rgba(128, 162, 255, 0.5);
    -moz-box-shadow: inset 0 1px 30px rgba(128, 162, 255, 0.5);
    box-shadow: inset 0 1px 30px rgba(128, 162, 255, 0.5);
    outline: none;
}

input.btn:active {
    -webkit-box-shadow: inset 0 1px 30px rgba(128, 162, 255, 0.5);
    -moz-box-shadow: inset 0 1px 30px rgba(128, 162, 255, 0.5);
    box-shadow: inset 0 1px 30px rgba(128, 162, 255, 0.5);
    outline: none;
}

input[type=submit].btn:active {
    -webkit-box-shadow: inset 0 1px 30px rgba(128, 162, 255, 0.5);
    -moz-box-shadow: inset 0 1px 30px rgba(128, 162, 255, 0.5);
    box-shadow: inset 0 1px 30px rgba(128, 162, 255, 0.5);
    outline: none;
}

button.btn:active {
    -webkit-box-shadow: inset 0 1px 30px rgba(128, 162, 255, 0.5);
    -moz-box-shadow: inset 0 1px 30px rgba(128, 162, 255, 0.5);
    box-shadow: inset 0 1px 30px rgba(128, 162, 255, 0.5);
    outline: none;
}

.btn-default {
    &:hover,
    &:focus,
    &:active,
    &.active {
        outline: none;
    }
}

.open .dropdown-toggle.btn-default {
    outline: none;
}

.btn-default {
    &.disabled,
    &[disabled] {
        background-color: rgba(128, 162, 255, 0.5);
        border-color: #ccc;
        outline: none;
    }
}

fieldset[disabled] .btn-default {
    background-color: rgba(128, 162, 255, 0.5);
    border-color: #ccc;
    outline: none;
}

.btn-default {
    &.disabled:hover,
    &[disabled]:hover {
        background-color: rgba(128, 162, 255, 0.5);
        border-color: #ccc;
        outline: none;
    }
}

fieldset[disabled] .btn-default:hover {
    background-color: rgba(128, 162, 255, 0.5);
    border-color: #ccc;
    outline: none;
}

.btn-default {
    &.disabled:focus,
    &[disabled]:focus {
        background-color: rgba(128, 162, 255, 0.5);
        border-color: #ccc;
        outline: none;
    }
}

fieldset[disabled] .btn-default:focus {
    background-color: rgba(128, 162, 255, 0.5);
    border-color: #ccc;
    outline: none;
}

.btn-default {
    &.disabled:active,
    &[disabled]:active {
        background-color: rgba(128, 162, 255, 0.5);
        border-color: #ccc;
        outline: none;
    }
}

fieldset[disabled] .btn-default:active {
    background-color: rgba(128, 162, 255, 0.5);
    border-color: #ccc;
    outline: none;
}

.btn-default {
    &.disabled.active,
    &[disabled].active {
        background-color: rgba(128, 162, 255, 0.5);
        border-color: #ccc;
        outline: none;
    }
}

fieldset[disabled] .btn-default.active {
    background-color: rgba(128, 162, 255, 0.5);
    border-color: #ccc;
    outline: none;
}

#main-content {
    margin: 0px auto 60px;
    text-align: left;
}

#homepage-wrapper {
    overflow: hidden;
    /*position: absolute;*/
    top: 0px;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: black;
    margin-bottom: 50px;
}

#block-block-2 img {
    max-width: 300px;
}

#homepage-content-top {
    max-width: 750px;
    margin: 85px auto 0;
    text-align: left;
}

#homepage-content-bottom {
    max-width: 350px;
    margin: auto;
    text-align: left;
    padding: 30px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
}

#homepage-slider {
    width: 100%;
    top: 0px;
}

#main-content h1 {
    color: #B80021;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
}

.login-form-block {
    margin-top: 30px;
    overflow: hidden;
    text-align: right;
    width: 290px;
    margin: auto;
    button[type="submit"] {
        background: none repeat scroll 0 0 #B80021;
        border: 0 none;
        border-radius: 3px;
        clear: both;
        color: #FFFFFF;
        float: right;
        font-size: 18px;
        cursor: pointer;
        margin-top: 10px;
        padding: 5px 20px;
        text-transform: uppercase;
    }
}

#main-wrapper {
    margin: 85px auto 0;
    width: 750px;
    h1 {
        color: #B80021;
        font-size: 24px;
        font-weight: normal;
        text-transform: uppercase;
    }
}

.logo img {
    /* max-height: 30px; */
    padding: 0;
    margin: 2px 5px 2px 10px;;
    display: inline-block;
    vertical-align: middle;
    width: 140px;
    @include inline-block;
    /* height: 30px; */
}

.top .logo img {
    &.black {
        display: none;
    }
    @include inline-block;
}

.not-front.page-node-192 .main-container {
    margin-top: 0px;
}

.logo img.black {
    display: none;
}

.region-bottom {
    background: #b7b7bd;
    width: 100%;
    margin-top: 32px;
    max-width: 100%;
}

.text-align-center {
    text-align: center;
}

.ul-li-inline ul li {
    display: inline;
    a {
        display: inline;
    }
}

.wrapper-futureicon {
    background: #F1F1F1;
}

.ul-futureicon {
    margin: auto;
    display: table;
    text-align: center;
    li {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background: #ffffff;
        color: #054e6b;
        margin: 30px 2em 30px 2em;
        max-width: 250px;
        vertical-align: top;
        border: 1px solid #f4f4f4;
        padding: 30px;
        border-radius: 5px;
        /* display: block; */
        min-height: 100%;
        height: 100%;
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform-origin-x: 50%;
        -webkit-transform-origin-y: 50%;
        transform-origin-x: 50%;
        transform-origin-y: 50%;
        &:hover {
            .icon {
                -webkit-transition: all 0.8s ease;
                -moz-transition: all 0.8s ease;
                -o-transition: all 0.8s ease;
                transition: all 0.8s ease;
                -webkit-transform: rotateY(360deg);
                transform: rotateY(360deg);
                -webkit-transform-origin-x: 50%;
                -webkit-transform-origin-y: 50%;
                transform-origin-x: 50%;
                transform-origin-y: 50%;
            }
            box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
            background: #B80021;
            color: #FFF;
            border: 1px solid rgba(0, 0, 0, 0);
        }
        .icon {
            font-size: 800%;
            margin-bottom: 10px;
        }
    }
}

.nav > li > a {
    &:hover,
    &:focus {
        text-decoration: none;
        background-color: transparent;
    }
}


/*************/

.footer-menu .nav > li > a {
    &:hover,
    &:focus {
        text-decoration: none;
        background-color: transparent;
    }
}

#user-login-form .form-item label {
    display: none;
}

@media screen and (max-width: 750px) {
    #main-wrapper {
        padding: 0 2%;
        width: 96%;
    }
    .region-bottom {
        padding: 10px 0;
    }
}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 400px) {
    .logo > img {}
    .login-form-cont {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {}

#list-usergame-form {
    text-align: center;
}

.modal-content {
    @include border-radius(0px);
    text-align: center;
    .page {
        padding-top: 0px;
        &:first-child {
            padding-top: 0px;
        }
    }
    form {
        margin: auto;
    }
}

#modalContent {
    overflow: visible !important;
}

.user-edit-page {
    input[type=password] {
        height: 32px;
        line-height: 31px;
        border: 1px solid #121011;
        padding: 0 0.5em;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        width: 100%;
    }
    .confirm-parent,
    .password-parent {
        clear: left;
        margin: 0;
        width: 100%;
    }
    .form-type-password.form-item-pass-pass1.form-item.form-group.password-parent,
    .password-strength {
        width: 100%;
    }
}

.alert > {
    p,
    ul {
        margin-bottom: 0;
        margin-left: 1.5em;
    }
}

.home-parallax .user-picture {
    position: absolute;
    bottom: 60px;
    right: 60px;
    background: #fff;
    border: 5px solid black;
}

.block-newsletter h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
    white-space: pre;
}

.copyright {
    text-align: center;
}

.region-footer-1 ul li a:hover {
    color: $color_link_over_black;
}

#block-menu-menu-social-menu {
    ul li {
        position: relative;
        @include inline-block;
        padding: 0px;
        font-family: 'NimbusSansCondensed';
        font-size: 22px;
        color: #000;
    }
    .nav > li > a {
        position: relative;
        display: block;
        padding: 0px 15px 0px 15px;
        font-size: 40px;
    }
}

@media screen and (max-width: 420px) {
    #block-menu-menu-social-menu ul li {
        position: relative;
        @include inline-block;
        padding: 0px;
        font-family: 'NimbusSansCondensed';
        font-size: 22px;
        color: #000;
        width: 49%;
        margin-bottom: 15px;
    }
    .region-footer-1 ul li {
        position: relative;
        @include inline-block;
        padding: 0px 15px;
        font-family: 'NimbusSansCondensed';
        font-size: 22px;
        color: #000;
        width: 100%;
        margin-bottom: 15px;
    }
}

.pager.pager-load-more li > a {
    &:hover,
    &:focus {
        text-decoration: none;
        background-color: $color_link_over_black;
        outline: none;
        border: 1px solid #E5E5E5;
    }
}


/* plugin page */

.content_panel .modal-header h4 {
    margin: 10px 0 10px;
}

.modal-content .r-tabs-panel {
    height: 200px;
    overflow-y: auto;
}


/* learn sectin */

.products .sub-menu {
    text-align: left;
    position: fixed;
    top: 260px;
}


/* learn sectin */

.learn .sub-menu {
    text-align: left;
}

.sub-menu form {
    display: inline;
    vertical-align: bottom;
    float: right;
    padding: 0px;
}

.learn .sub-menu .nav:before {
    content: "";
    display: none;
}

.page.learn .series-node-body {
    margin-bottom: 30px;
    padding-bottom: 0px;
}



/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

.anim {
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.anim6 {
    -webkit-animation-duration: 9s;
    animation-duration: 9s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
