    //$light-sonnox-color
    //$dark-sonnox-color
    $submenu-color:#242424;
    $subemenu-default-color:$submenu-color;
    $subemenu-default-background:white;
    $subemenu-default-hover-color:$submenu-color;
    $subemenu-default-hover-background:$light-sonnox-color;
    $subemenu-default-active-color:white;
    $subemenu-default-active-background:$sonnox-color;
    //$support-background : white;
    //$support-color : #242424;
    $submenu-plugin-color: $submenu-color;
    $plugin-hover-color:$submenu-color;
    $plugin-hover-background:white;
    $support-color:$submenu-color;
    $submenu-support-hover-color:$submenu-color;
    $submenu-support-hover-background:$light-sonnox-color;
    $submenu-support-active-background:$sonnox-color;
    $submenu-support-active-color:white;
    $learn-color: $submenu-color;
    $learn-hover-color: $submenu-color;
    $learn-hover-background: $light-sonnox-color;
    $submenu-video-hover-color:$submenu-color;
    $submenu-spotlight-hover-color:$submenu-color;
    $submenu-tips-hover-color:$submenu-color;
    $submenu-news-hover-color:$submenu-color;
    $submenu-artists-hover-color:$submenu-color;
    .submenu-notvisible .global-nav {
        height: 50px;
    }

    .first-section {
        @include respond-to(xs) {
            margin-bottom: 28px
        }
        @include respond-to(sm) {
            margin-bottom: 28px;
        }
        @include respond-to(md) {
            margin-bottom: 28px;
        }
        @include respond-to(lg) {
            margin-bottom: 28px;
        }
    }

    .iframe {
        @include respond-to(xs) {
            .first-section {
                margin-bottom: 28px;
            }
        }
    }

    #plugin-topsection.first-section {
        @include respond-to(xs) {
            margin-bottom: 0px;
        }
    }

    .plug-in.article-plugin {
        @include respond-to(xs) {
            padding-top: 28px;
        }
    }

    .pre-submenu {
        display: block;
        height: 0px;
        font-size: 0px;
        width: 100%;
        margin-top: -28px;
    }

    .submenu-notvisible {
        .pre-submenu {
            margin-bottom: 75px;
        }
    }

    // base definition submenu
    .sub-menu {
        text-align: center;
        width: 100%;
        position: relative;
        @include transform(translate3d(0, 0, 0), true);
        top: 50px;
        margin-top: 0; //-28px;
        background: transparent;
        @include box-shadow( 0 4px 2px -2px rgba(0, 0, 0, 0.1));
        height: 60px;
        background: rgba(255, 255, 255, 0.9);
        z-index: 10;
        left: 0px;
        overflow: visible;
        .views-exposed-form .views-exposed-widget {
            padding: 0px;
        }
        ul {
            li {
                a,
                div {
                    height: 50px;
                    @extend .transition-02s;
                }
            }
        }
        .nav > li > a {
            @include transform(translate3d(0, 0, 0), true);
            position: relative;
            display: block;
            padding: 0px;
        }
        &.submenu-notvisible {
            @extend .transition-05s;
            height: 60px;
            background: rgba(255, 255, 255, 0.96);
            z-index: 10;
            @include box-shadow( 0 4px 2px -2px rgba(0, 0, 0, 0.1));
            left: 0px;
            top: 0px;
            margin-top: 0;
            z-index: 20000000;
            text-align: center;
            width: 100%;
            position: fixed;
            left: 0px;
            background: rgba(255, 255, 255, 0.96);
            height: 50px;
            line-height: 50px;
            z-index: 120;
            @include box-shadow( 0 4px 2px -2px rgba(0, 0, 0, 0.1));
            box-shadow: 1px 1px 10px #ccc;
        }
        .admin-menu &.submenu-notvisible {
            top: 28px;
        }
    }

    .submenu-notvisible #nav-container {
        @include respond-to(mb) {
            display: block;
        }
        @include respond-to(mb-min) {
            display: none;
        }
    }

    .plugin {
        @include respond-to(xs) {
            .submenu-notvisible .pre-submenu {
                margin-bottom: 0px;
            }
        }
    }

    // sub menu plugin page
    .sub-menu.sub-menu-plugin-page {
        &.visible {
            //background: lighten($sonnox-color, 37%);
        }
        .download-file {
            @include inline-block(top, top);
            text-align: center;
            cursor: pointer;
            position: relative;
            @include transform(translate3d(0, 0, 0), true);
        }
        .scrollTo,
        .download-file a {
            color: $submenu-plugin-color; //darken($sonnox-color, 25%);
            font-weight: 500;
            @include inline-block(top, top);
            text-align: center;
            cursor: pointer;
            padding: 0px 1em 0px 1em;
            margin: auto;
            height: 100%;
            /* line-height: 2em; */
            border: 0px;
            position: relative;
            &:hover {
                background: $plugin-hover-background; // lighten($sonnox-color, 34%);
                color: $plugin-hover-color; //darken($sonnox-color, 30%)!important;
            }
        }
        .download-file a {
            &:visited {
                color: $submenu-plugin-color;
            }
        }
        & {
            @include respond-to(sm) {
                display: block;
                //margin-top: 0px;
                top: 0px;
                .sub-menu.visible .scrollTo,
                .sub-menu .scrollTo,
                .sub-menu .download-file {
                    padding: 0.2em 1em 0.2em 1em;
                }
            }
            @include respond-to(md) {
                //margin-top: 0px;
                display: block;
                .sub-menu.visible .scrollTo,
                .sub-menu .scrollTo,
                .sub-menu .download-file {
                    padding: 0.2em 2em 0.2em 2em;
                }
            }
            @include respond-to(xs) {
                display: none;
            }
        }
    }

    // submenu learn section
    .sub-menu {
        background: white;
        &.visible {
            text-align: center;
            position: relative;
            width: 100%;
            top: 0px;
            margin-top: -28px;
            //margin-top: -28px;
            /*margin-bottom: -60px;*/
            //background: white;
            &.background-grey-soft {
                background: $grey-soft;
            }
        }
        &.support {
            ul {
                li {
                    a,
                    div {
                        &:hover {
                            color: $submenu-support-hover-color; //$dark-sonnox-color;
                            background: $submenu-support-hover-background; // $light-sonnox-color;
                        }
                    }
                    &.active {
                        a,
                        div {
                            background: $submenu-support-active-background; //$sonnox-color;
                            color: $submenu-support-active-color; //white;
                        }
                        &::after {
                            //border-color: $sonnox-color rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
                        }
                    }
                }
            }
            ul {
                text-align: left;
                @include inline-block(top, top);
                font-size: 0px;
                //margin-left: -7px;
                li {
                    @include inline-block(top, top);
                    font-size: 16px;
                    min-width: 140px;
                    text-align: center;
                    a,
                    div {
                        color: $support-color;
                        &:hover {
                            // color: $suppor-color;
                        }
                    }
                    &.active {
                        a,
                        div {
                            background: $submenu-support-active-background;
                            color: $submenu-support-active-color;
                        }
                        &::after {
                            display: none;
                            content: "";
                            width: 0;
                            height: 0;
                            position: absolute;
                            bottom: -6px;
                            left: 39%;
                            border-style: solid;
                            border-width: 10px 10px 0 10px;
                            //border-color: #6E8ABB rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
                        }
                    }
                }
            }
            &.visible {
                text-align: center;
                position: relative;
                width: 100%;
                top: 0px;
                /* margin-bottom: -60px; */
                //background: rgb(255, 255, 255);
                height: 50px;
                line-height: 50px;
                @include box-shadow(none);
                z-index: 30;
                margin-top: -28px;
            }
        }
        &.learn {
            ul {
                li {
                    a,
                    div {
                        &:hover {
                            color: $learn-hover-color;
                            background: $learn-hover-background;
                        }
                    }
                    &.active {
                        a,
                        div {
                            background: $sonnox-color;
                            color: white;
                        }
                        &::after {
                            // border-color: $sonnox-color rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
                        }
                    }
                }
            }
        }
        &.learn-video {
            ul {
                li {
                    a,
                    div {
                        &:hover {
                            color: $submenu-video-hover-color;
                            background: $light-orange;
                        }
                    }
                    &.active {
                        a,
                        div {
                            background: $orange;
                            color: white;
                        }
                        &::after {
                            // border-color: $orange rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
                        }
                    }
                }
            }
        }
        &.learn-artists {
            ul {
                li {
                    a,
                    div {
                        color: $twodark-green;
                        &:hover {
                            color: $submenu-artists-hover-color; //$onedark-green;
                            background: $light-green;
                        }
                    }
                    &.active {
                        a,
                        div {
                            background: $green;
                            color: white;
                        }
                        &::after {
                            // border-color: $green rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
                        }
                    }
                }
            }
        }
        &.learn-spotlight {
            ul {
                li {
                    a,
                    div {
                        color: $twodark-yellow;
                        &:hover {
                            color: $submenu-spotlight-hover-color; //$onedark-yellow;
                            background: $light-yellow;
                        }
                    }
                    &.active {
                        a,
                        div {
                            background: $yellow;
                            color: white;
                        }
                        &::after {
                            // border-color: $yellow rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
                        }
                    }
                }
            }
        }
        &.learn-tips {
            ul {
                li {
                    a,
                    div {
                        color: $twodark-blue;
                        &:hover {
                            color: $submenu-tips-hover-color; //$onedark-blue;
                            background: $light-blue;
                        }
                    }
                    &.active {
                        a,
                        div {
                            background: $blue;
                            color: white;
                        }
                        &::after {
                            //  border-color: $blue rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
                        }
                    }
                }
            }
        }
        &.learn-news {
            ul {
                li {
                    a,
                    div {
                        color: $twodark-red;
                        &:hover {
                            color: $submenu-news-hover-color; //$onedark-red;
                            background: $light-red;
                        }
                    }
                    &.active {
                        a,
                        div {
                            background: $sonnox-red;
                            color: white;
                        }
                        &::after {
                            // border-color: $sonnox-red rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
                        }
                    }
                }
            }
        }
        ul {
            text-align: left;
            @include inline-block(top, top);
            font-size: 0px;
            //margin-left: -7px;
            li {
                @include inline-block(top, top);
                font-size: 16px;
                min-width: 80px;
                text-align: center;
                a,
                div {
                    height: 50px;
                    color: $subemenu-default-color;
                    &:hover {
                        color: $subemenu-default-hover-color;
                        background: $subemenu-default-hover-background;
                    }
                }
                &.active {
                    a,
                    div {
                        height: 50px;
                        background: $subemenu-default-active-background;
                        color: $subemenu-default-active-color;
                    }
                    &::after {
                        display: none;
                        content: "";
                        width: 0;
                        height: 0;
                        position: absolute;
                        bottom: -6px;
                        left: 39%;
                        border-style: solid;
                        border-width: 10px 10px 0 10px;
                        border-color: #6E8ABB rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
                    }
                }
            }
        }
        &.visible {
            text-align: center;
            position: relative;
            width: 100%;
            top: 0px;
            height: 50px;
            line-height: 50px;
            @include box-shadow(none);
            z-index: 30;
        }
    }
    /*.sub-menu-button  {display:none;} */
    /*
.search-button-show {
    display: none;
    margin-right: 30px;
    float: right;
    &.deactivate {}
}
*/

    .sub-menu {
        select.form-control {
            max-width: 300px;
            padding: 5px;
            margin-top: 8px;
        }
        @include respond-to(xs) {
            .menu.nav {
                display: none;
            }
        }
    }

    #products {
        .sub-menu {
            select.form-control {
                max-width: 300px;
                padding: 5px;
                margin-top: 8px;
            }
            @include respond-to(xs) {
                .menu.nav {
                    @include inline-block();
                }
            }
        }
    }

    .responsive-search-wrapper {
        @include respond-to(mb-max) {
            float: none;
            position: absolute;
            margin-top: 0px;
            right: 0px;
            width: 100%;
            @include box-shadow(1px 1px 10px rgb(204, 204, 204));
            height: 50px;
            line-height: 50px;
            .form-wrapper {
                padding: 0px;
                width: 100%;
                margin-left: 4px;
                input {
                    width: 100%;
                }
                button {
                    position: absolute;
                    top: 4px;
                    right: 0px;
                    //left: 4px;
                }
            }
            .view-exposed-form {
                .views-exposed-widget {
                    padding: 0px;
                }
                height: 70px;
                line-height: 70px;
                float: none;
                text-align: center
            }
            form {
                display: block;
                float: none;
                line-height: 70px;
                text-align: center;
            }
        }
        @include respond-to(mb-min) {
            position: absolute;
            right: 0px;
            padding: 0px;
            .form-wrapper {
                padding: 0px;
                max-width: 270px;
            }
        }
        @include respond-to(md) {
            position: absolute;
            right: 0px;
            padding: 0px;
            .form-wrapper {
                padding: 0px;
                max-width: 270px;
            }
        }
    }

    @media screen and (max-width: 1050px) {
        .search-button-show {
            @include inline-block(top, top);
            &.deactivate {}
        }
        #sub-menu {
            &.formactive {}
        }
        .sub-menu.archors .page {
            min-width: 320px;
            max-width: 1280px;
            width: 100%;
            padding: 0px;
            padding-bottom: 0px;
            padding-top: 0px;
            margin: 0 auto;
            display: block;
        }
        .sub-menu-button {
            position: fixed;
            display: none;
            top: 60px;
            left: 0px;
            z-index: 20;
            cursor: pointer;
            width: 30px;
            height: 30px;
            background: white;
            color: black;
            display: none;
            line-height: 30px;
            text-align: center;
            font-size: 30px;
        }
        .sub-menu {
            &.sm-opened {
                @include inline-block(top, top);
            }
            &.visible .scrollTo,
            .scrollTo,
            .download-file {
                // padding: 0.2em 2em 0.2em 2em;
            }
            &.visible .download-file {
                // padding: 0.2em 2em 0.2em 2em;
                a {
                    padding: 0px;
                }
            }
            .download-file a {
                padding: 0px;
            }
            .form-control {
                @include inline-block(top, top);
            }
        }
        #products #sub-menu form {
            width: 100%;
            text-align: right;
            background-color: transparent;
            /* margin-top: -6px; */
            margin: 0px;
            border: 0px;
            padding: 0px;
            position: absolute;
            top: 57px;
            /* left: -13px; */
            padding-right: 20px;
            padding-top: 10px;
            /* margin-right: 20px; */
            /* right: -50px; */
        }
    }
    /* max width 950px */

    @media screen and (max-width: 768px) {
        .sub-menu {
            &.archors {
                ul li {
                    @include inline-block(top, top);
                    font-size: 16px;
                    min-width: 50px;
                    text-align: center;
                }
                .nav > li > a {
                    position: relative;
                    display: block;
                    padding: 0px;
                    font-size: 13px;
                    line-height: 48px;
                }
            }
            ul {
                text-align: left;
                @include inline-block(top, top);
                font-size: 0px;
                margin-left: 0px;
                li.active {
                    a,
                    div {
                        background: #6E8ABB;
                        color: white;
                        border-top: 0px solid #6E8ABB;
                    }
                }
            }
        }
    }

    .navbar-form {
        .input-group {
            .label {
                @include transition ( All, 0.5s);
                position: absolute;
                right: 0px;
                top: 0px;
                z-index: 2;
                background: #fff;
                cursor: pointer;
                line-height: 11px;
                padding: 8px;
                opacity: 0;
                border-radius: 0px;
                &.darker {
                    background: #e9e9e9;
                }
                .close-icon {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    opacity: 1;
                    font-size: 24px;
                    line-height: 1;
                    float: left;
                    &::after,
                    &::before {
                        @include transition ( All, 0.5s);
                        background: #ccc;
                    }
                    &:hover {
                        &::after,
                        &::before {
                            background: #888;
                        }
                    }
                }
            }
            input::-webkit-input-placeholder {
                font-style: italic;
            }
            input:-moz-placeholder {
                font-style: italic;
            }
            input:-ms-input-placeholder {
                font-style: italic;
            }
        }
    }

    .navbar-form {
        .input-group {
            input::-webkit-input-placeholder {
                font-style: italic;
            }
            input:-moz-placeholder {
                font-style: italic;
            }
            input:-ms-input-placeholder {
                font-style: italic;
            }
            .form-control {
                background: #F6F6F6;
            }
            .label {}
        }
    }

    #products {
        .navbar-form {
            .input-group {
                input::-webkit-input-placeholder {
                    font-style: italic;
                }
                input:-moz-placeholder {
                    font-style: italic;
                }
                input:-ms-input-placeholder {
                    font-style: italic;
                }
                .form-control {
                    background: white;
                }
                .label {}
            }
        }
    }

    .support {}

    @media (max-width: 768px) {
        .navbar-form {
            //margin-right:-13px;
            padding: 0px;
            margin: 0px;
            float: none;
        }
        .navbar-form .input-group {
            display: inline-table;
            vertical-align: top;
            height: 30px;
            line-height: 30px;
            height: 30px;
            line-height: 30px;
            input::-webkit-input-placeholder {
                font-style: italic;
            }
            input:-moz-placeholder {
                font-style: italic;
            }
            input:-ms-input-placeholder {
                font-style: italic;
            }
            .form-control {
                width: 300px;
                line-height: 1.3em;
                padding: 7px 5px;
                vertical-align: bottom;
                outline: 0;
                @include box-shadow(none);
                border: 0px;
                border-radius: 0px;
                margin: 0px;
            }
            .label {}
        }
    }

    @media (min-width: 768px) {
        .navbar-form {
            //  margin-right:-13px;
            margin: 0px;
            float: right;
        }
        .navbar-form .input-group {
            display: inline-table;
            vertical-align: top;
            height: 30px;
            line-height: 30px;
            height: 30px;
            line-height: 30px;
            .form-control {
                width: 300px;
                line-height: 1.3em;
                padding: 7px 5px;
                vertical-align: bottom;
                outline: 0;
                @include box-shadow(none);
                border: 0px;
                border-radius: 0px;
                margin: 0px;
            }
            .label {}
        }
    }
