.mainbar.for_content {
  padding: 25px;
}

@media only screen and (min-width: 600px) {
  .mainbar.for_content {
    padding: 45px;
  }
}

.content_panel h1 {
  font-size: 1.875em;
  line-height: 1.1em;
  margin-bottom: 15px;
}

.mainbar.for_answers {
  #question_description h1, #answers .answer_text h1 {
    font-size: 1.875em;
    line-height: 1.1em;
    margin-bottom: 15px;
  }
}

.cke_contents h1, .cke_editable h1 {
  font-size: 1.875em;
  line-height: 1.1em;
  margin-bottom: 15px;
}

@media only screen and (min-width: 600px) {
  .content_panel h1 {
    font-size: 2.813em;
    line-height: 1.2em;
    margin-bottom: 25px;
  }

}

.content_panel h2 {
  font-size: 1.5625em;
  line-height: 1.2em;
  margin: 25px 0 15px;
}



.content_panel h3 {
  font-size: 1.5625em;
  line-height: 1.2em;
  margin: 25px 0 15px;
}



.content_panel h4 {
  font-size: 1.5625em;
  line-height: 1.2em;
  margin: 25px 0 15px;
}


@media only screen and (min-width: 600px) {
  .content_panel h2 {
    font-size: 1.875em;
    line-height: 1.1em;
    margin: 0.7em 0 0.5em;
  }
  .mainbar.for_answers {
    #question_description h2, #answers .answer_text h2 {
      font-size: 1.875em;
      line-height: 1.1em;
      margin: 0.7em 0 0.5em;
    }
  }
  .content_panel h3 {
    font-size: 1.875em;
    line-height: 1.1em;
    margin: 0.7em 0 0.5em;
  }
  .mainbar.for_answers {
    #question_description h3, #answers .answer_text h3 {
      font-size: 1.875em;
      line-height: 1.1em;
      margin: 0.7em 0 0.5em;
    }
  }
  .content_panel h4 {
    font-size: 1.875em;
    line-height: 1.1em;
    margin: 0.7em 0 0.5em;
  }
  .mainbar.for_answers {
    #question_description h4, #answers .answer_text h4 {
      font-size: 1.875em;
      line-height: 1.1em;
      margin: 0.7em 0 0.5em;
    }
  }
  .cke_contents {
    h2, h3, h4 {
      font-size: 1.875em;
      line-height: 1.1em;
      margin: 0.7em 0 0.5em;
    }
  }
  .cke_editable {
    h2, h3, h4 {
      font-size: 1.875em;
      line-height: 1.1em;
      margin: 0.7em 0 0.5em;
    }
  }
}

.content_panel h3 {
  font-size: 1.25em;
  line-height: 1.35em;
}

.mainbar.for_answers {
  #question_description h3, #answers .answer_text h3 {
    font-size: 1.25em;
    line-height: 1.35em;
  }
}

.content_panel h4 {
  font-size: 1.25em;
  line-height: 1.35em;
}




@media only screen and (min-width: 600px) {
  .content_panel h3 {
    font-size: 1.5625em;
    line-height: 1.2em;
  }
  .mainbar.for_answers {
    #question_description h3, #answers .answer_text h3 {
      font-size: 1.5625em;
      line-height: 1.2em;
    }
  }
  .content_panel h4 {
    font-size: 1.5625em;
    line-height: 1.2em;
  }
  .mainbar.for_answers {
    #question_description h4, #answers .answer_text h4 {
      font-size: 1.5625em;
      line-height: 1.2em;
    }
  }
  .cke_contents {
    h3, h4 {
      font-size: 1.5625em;
      line-height: 1.2em;
    }
  }
  .cke_editable {
    h3, h4 {
      font-size: 1.5625em;
      line-height: 1.2em;
    }
  }
}

.content_panel p {
  font-size: 1em;
  line-height: 1.5em;
  max-width: 615px;
  margin: 0 0 25px;
}





.content_panel blockquote {
  display: none;
  color: #7600e2;
}

.mainbar.for_answers {
  #question_description blockquote, #answers .answer_text blockquote {
    display: none;
    color: #7600e2;
  }
}

@media only screen and (min-width: 700px) {
  .content_panel blockquote {
    display: block;
    float: left;
    width: 400px;
    margin: 0 25px 25px -50px;
  }
  .mainbar.for_answers {
    #question_description blockquote, #answers .answer_text blockquote {
      display: block;
      float: left;
      width: 400px;
      margin: 0 25px 25px -50px;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .content_panel blockquote {
    font-size: 1.5625em;
    line-height: 1.2em;
    width: 70%;
    margin-left: -20%;
  }
  .mainbar.for_answers {
    #question_description blockquote, #answers .answer_text blockquote {
      font-size: 1.5625em;
      line-height: 1.2em;
      width: 70%;
      margin-left: -20%;
    }
  }
}

.cke_contents blockquote, .cke_editable blockquote {
  display: none;
  color: #7600e2;
}

@media only screen and (min-width: 700px) {
  .cke_contents blockquote, .cke_editable blockquote {
    display: block;
    float: left;
    width: 400px;
    margin: 0 25px 25px 0;
  }
}

@media only screen and (min-width: 1000px) {
  .cke_contents blockquote, .cke_editable blockquote {
    font-size: 1.5625em;
    line-height: 1.2em;
    width: 70%;
  }
}

.text-container, .image-container, .video-container, .soundcloud-container, .tab-container {
  padding-bottom: 1.5em !important;
}

@media only screen and (min-width: 600px) {
  .text-container, .image-container, .video-container, .soundcloud-container, .tab-container {
    padding-bottom: 1.5em  !important;
  }
}

.text-container p:last-child, .image-container p:last-child, .video-container p:last-child, .soundcloud-container p:last-child {
  margin-bottom: 0;
}

.text-container {
  &.price + .text-container.add-to-cart {
    margin-top: -15px;
  }
  padding-bottom: 45px;
}

@media only screen and (min-width: 600px) {
  .text-container.price + .text-container.add-to-cart {
    margin-top: -25px;
  }
}

.cke_contents, .cke_editable {
  padding-bottom: 45px;
}

@media only screen and (min-width: 600px) {
  .text-container, .cke_contents, .cke_editable {
    max-width: 615px;
  }
}

.text-container {
  > {
    ul, ol {
      font-size: 1em;
      line-height: 138%;
      max-width: 615px;
    }
  }
  section > {
    ul, ol {
      font-size: 1em;
      line-height: 138%;
      max-width: 615px;
    }
  }
}

.cke_contents {
  > {
    ul, ol {
      font-size: 1em;
      line-height: 138%;
      max-width: 615px;
    }
  }
  section > {
    ul, ol {
      font-size: 1em;
      line-height: 138%;
      max-width: 615px;
    }
  }
}

.cke_editable {
  > {
    ul, ol {
      font-size: 1em;
      line-height: 138%;
      max-width: 615px;
    }
  }
  section > {
    ul, ol {
      font-size: 1em;
      line-height: 138%;
      max-width: 615px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .text-container {
    > {
      ul, ol {
        line-height: 1.35em;
        margin-bottom: 0px;
      }
    }
    section > {
      ul, ol {
        line-height: 1.35em;
        margin-bottom: 0px;
      }
    }
  }
  .cke_contents {
    > {
      ul, ol {
        line-height: 1.35em;
        margin-bottom: 0px;
      }
    }
    section > {
      ul, ol {
        line-height: 1.35em;
        margin-bottom: 0px;
      }
    }
  }
  .cke_editable {
    > {
      ul, ol {
        line-height: 1.35em;
        margin-bottom: 0px;
      }
    }
    section > {
      ul, ol {
        line-height: 1.35em;
        margin-bottom: 0px;
      }
    }
  }
}

.text-container {
  > {
    ul {
      ul, ol {
        margin-left: 10px;
        margin-bottom: 15px;
        margin-bottom: 15px;
      }
    }
    ol {
      ul, ol {
        margin-left: 10px;
        margin-bottom: 15px;
        margin-bottom: 15px;
      }
    }
  }
  section > {
    ul {
      ul, ol {
        margin-left: 10px;
        margin-bottom: 15px;
        margin-bottom: 15px;
      }
    }
    ol {
      ul, ol {
        margin-left: 10px;
        margin-bottom: 15px;
        margin-bottom: 15px;
      }
    }
  }
}

.cke_contents {
  > {
    ul {
      ul, ol {
        margin-left: 10px;
        margin-bottom: 15px;
        margin-bottom: 15px;
      }
    }
    ol {
      ul, ol {
        margin-left: 10px;
        margin-bottom: 15px;
        margin-bottom: 15px;
      }
    }
  }
  section > {
    ul {
      ul, ol {
        margin-left: 10px;
        margin-bottom: 15px;
        margin-bottom: 15px;
      }
    }
    ol {
      ul, ol {
        margin-left: 10px;
        margin-bottom: 15px;
        margin-bottom: 15px;
      }
    }
  }
}

.cke_editable {
  > {
    ul {
      ul, ol {
        margin-left: 10px;
        margin-bottom: 15px;
        margin-bottom: 15px;
      }
    }
    ol {
      ul, ol {
        margin-left: 10px;
        margin-bottom: 15px;
        margin-bottom: 15px;
      }
    }
  }
  section > {
    ul {
      ul, ol {
        margin-left: 10px;
        margin-bottom: 15px;
        margin-bottom: 15px;
      }
    }
    ol {
      ul, ol {
        margin-left: 10px;
        margin-bottom: 15px;
        margin-bottom: 15px;
      }
    }
  }
}

.text-container ul, .cke_contents ul, .cke_editable ul {
  margin-left: 15px;
}

.text-container ul li:before, .cke_contents ul li:before, .cke_editable ul li:before {
  position: absolute;
  right: 100%;
  margin-right: 5px;
  content: "\b7\a0";
}

.text-container ul li, .cke_contents ul li, .cke_editable ul li {
  position: relative;
  list-style: none;
}

.text-container {
  > ol, section > ol {
    margin-left: 35px;
  }
}

.cke_contents {
  > ol, section > ol {
    margin-left: 35px;
  }
}

.cke_editable {
  > ol, section > ol {
    margin-left: 35px;
  }
}

.image-container {
  max-width: 100%;
  img {
    max-width: 100%;
  }
  &.full-width {
    max-width: none !important;
    margin: 0 !important;
  }
}

@media only screen and (min-width: 600px) {
  .image-container {

  }
}

.soundcloud-container {
  max-width: 615px;
  .html5player {
    max-width: 615px;
  }
}

.video-container .embed-wrapper {
  position: relative;
  max-width: 615px;
  height: 0;
  padding: 30px 0 56.25%;
  overflow: hidden;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}








.sonnox-posts {
  article {
    header {
      padding-bottom: 15px;
      overflow: hidden;
      hgroup {
        margin: 25px;
        margin-bottom: 15px;
        h1 {
          display: -moz-inline-stack;
          @include inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          zoom: 1;
          *display: inline;
          font-size: 1.875em;
          line-height: 1.1em;
        }
        h3 {
          font-size: 1em;
          line-height: 138%;
          margin-bottom: 15px;
          a {
            display: -moz-inline-stack;
            @include inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            zoom: 1;
            *display: inline;
            border-bottom-style: solid;
            border-bottom-width: 2px;
            line-height: 0.9em;
          }
        }
      }
      img {
        width: 100%;
      }
    }
    .content_panel {
      padding: 0 25px;
    }
    .text-container, .image-container, .video-container, .soundcloud-container, .image-container.full-width p.caption, .sharing-options {
      margin: 0 auto;
    }
    .text-container {
      p, ul, ol {
        max-width: none !important;
      }
    }
    .image-container {
      p, ul, ol {
        max-width: none !important;
      }
    }
    .video-container {
      p, ul, ol {
        max-width: none !important;
      }
    }
    .soundcloud-container {
      p, ul, ol {
        max-width: none !important;
      }
    }
    .image-container.full-width p.caption {
      p, ul, ol {
        max-width: none !important;
      }
    }
    .sharing-options {
      p, ul, ol {
        max-width: none !important;
      }
      font-size: 0.875em;
      line-height: 1.36em;
      padding-bottom: 25px;
    }
  }
  footer {
    padding: 25px;
    border-top: 2px solid #F6F6F6;
    text-align: left;
    p {
      font-size: 0.875em;
      line-height: 1.36em;
      font-weight: 500;
      -webkit-font-smoothing: antialiased;
      color: #9e9e9e;
      display: block;
      margin: 0;
      text-align: left;
    }
  }
}

@media only screen and (min-width: 850px) {
  .sonnox-posts article header {
    padding-bottom: 25px;
  }
}

@media only screen and (min-width: 600px) {
  .sonnox-posts article header hgroup {
    margin: 45px;
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 750px) {
  .sonnox-posts article header hgroup {
    max-width: 615px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 850px) {
  .sonnox-posts article header hgroup {
    max-width: none;
     margin: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .sonnox-posts article header hgroup {
    margin: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .sonnox-posts article header hgroup {
    margin: auto;
  }
}

@media only screen and (min-width: 850px) {
  .sonnox-posts article header hgroup h1 {
    font-size: 2.813em;
    line-height: 1.2em;
    padding-right: 45px;
  }
}

@media only screen and (min-width: 600px) {
  .sonnox-posts article header hgroup h3 {
    font-size: 1.25em;
    line-height: 1.35em;
  }
}

@media only screen and (min-width: 600px) {
  .sonnox-posts article header img {
    width: auto;
    max-width: 800px;
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 850px) {
  .sonnox-posts article header img {
    margin: 45px 0;
  }
}

@media only screen and (min-width: 600px) {
  .sonnox-posts article .content_panel {
    padding: 0;
  }
}

@media only screen and (min-width: 850px) {
  .sonnox-posts article .content_panel {
    padding: 0;
  }
}

@media only screen and (min-width: 850px) {
  .sonnox-posts article {
    .text-container, .image-container, .video-container, .soundcloud-container, .image-container.full-width p.caption, .sharing-options {
      margin: auto;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .sonnox-posts article {
    .text-container, .image-container, .video-container, .soundcloud-container, .image-container.full-width p.caption, .sharing-options {
      margin: auto;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .sonnox-posts article {
    .text-container, .image-container, .video-container, .soundcloud-container, .image-container.full-width p.caption, .sharing-options {
        margin: auto;
    }
  }
}

@media only screen and (min-width: 850px) {
  .sonnox-posts article .sharing-options {
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 850px) {
  .sonnox-posts footer {
    margin-top: 45px;
  }
}

@media only screen and (min-width: 1024px) {
  .sonnox-posts footer {
    margin-top: 90px;
  }
}

@media only screen and (min-width: 850px) {
  .sonnox-posts footer p {
    display: -moz-inline-stack;
    @include inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: 50%;
    display: -moz-inline-stack;
    @include inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    vertical-align: top;
    &:nth-child(2) {
      text-align: right;
    }
  }
}



.category-artists {
  h3 a, a.category {
    color: $artists;
  }
  &.highlight .overlay {
    background: $artists !important;
  }
}


.category-news {
  h3 a, a.category {
    color: $news;
  }
  &.highlight .overlay {
    background: $news !important;
  }
}

.category-tips {
  h3 a, a.category {
    color: $tips;
  }
  &.highlight .overlay {
    background: $tips !important;
  }
}

.category-videos, .category-video {
  h3 a, a.category {
    color: $videos;
  }
  &.highlight .overlay {
    background: $videos !important;
  }
}

.category-spotlight {
  h3 a, a.category {
    color: $spotlight;
  }
  &.highlight .overlay {
    background: $spotlight !important;
  }
}

.category-promo {
  h3 a, a.category , span.category{
    color: $spotlight;
    cursor:default;
  }
  &.highlight .overlay {
    background: $spotlight !important;
  }
}






