.top-banner {
 min-height: auto;
 position: relative;
 img {
  max-width: 100%;
 }
 &.top-banner-cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: auto;
 }
}

.banner-page-title {
  h1 {
    font-size: 4em;
    margin-bottom:0.1em;
    font-weight:normal;
  }
  h4 {
    font-size:2em;
    font-weight:normal;
  }
    @include respond-to(xs){
    h1 {
      font-size:1.8em;

    }
    h3 {
      font-size:0.8em;
          margin-top: 0em;
    }
  }
  @include respond-to(sm){
    h1 {
      font-size:3em;
    }
    h2 {
      font-size:1em;
    }
  }

  @include respond-to(md){
    h1 {
      font-size:4em;
    }
    h2 {
      font-size:2em;
    }
  }


}

.top-banner-title {
  position: absolute;
  left: 0px;
  bottom: 3em;
  z-index: 20;
  color: #FFF;
  width: 100%;
  > div {
    max-width: 1280px;
    margin: auto;
    position: relative;
    text-align: left;
    margin-left: padding-left;
    padding-left: 3.5em;
  }
  h1 {
    font-weight: 500;
    color: white;
  }
}

.banner-title {
  height: 50px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.bannertitle-visible {
  width: 100%;
  bottom: 0px;
  color: white;
  z-index: 50;
  background: transparent;
  height: 50px;
  line-height: 50px;
  vertical-align: bottom;
}

.bannertitle-notvisible {
  .topviewposition {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 20000;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    margin: 0px;
    padding: 0px;
  }
  #nav-container {
    height: 0px;
    overflow: hidden;
  }
}

.banner-title h1 {
  line-height: 50px;
  color: #FFF;
  text-align: left;
  margin-left: 55px;
}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 620px) {
  .node-top-banner {
    min-height: 120px;
    img {
      display: none;
    }
  }
  .banner-title h1 {
    line-height: 50px;
    color: #FFF;
    text-align: center;
    margin-left: 0px;
    font-size: 1.3em;
    letter-spacing: 0.5em;
  }
}

@media only screen and (max-width: 480px) {}

//xs
@media (max-width: 768px){
.top-banner {
 min-height: auto;
 &.top-banner-cover {
    min-height: auto;
 }
}
}


//sm
@media (min-width: 768px){
.top-banner {
 min-height: auto;
 &.top-banner-cover {
    min-height: auto;
 }
}


}

//md
@media (min-width: 992px) {
.top-banner {
 min-height: auto;
 &.top-banner-cover {
    min-height: auto;
 }
}


}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */

 //lg
@media (min-width: 1200px) {
.top-banner {
 min-height: auto;
 &.top-banner-cover {
    min-height: auto;
 }
}


}

