.howto-video-item {
    max-width: 250px;
    margin: 5px;
    &:hover {
        .play-container {
            position: relative;
            .play-overlay {
                @include opacity(1);
                font-size: 60px;
            }
        }
    }
}

.item {
    .play-container {
        position: relative;
        .play-overlay {
            position: absolute;
            z-index: 10;
            @include  rgba-background(rgba(0, 0, 0, 0.4));
            color: rgb(255, 255, 255);
            height: 100%;
            width: 100%;
            @include transition(opacity, 0.25s);
            @include opacity(0.25);
            font-size: 50px;
        }
    }
    &:hover {
        .play-container {
            position: relative;
            .play-overlay {
                @include opacity(1);
                font-size: 60px;
            }
        }
    }
}
