.video-wrapper {
  // @include transform (translate2d(0,0));
  //  webkit-font-smoothing: antialiased;
        height: 100%;
    width: 100%;

.video-full {
  position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    webkit-font-smoothing: antialiased;
    @include transform (translate(-50%, -50%));
    z-index:10;

}
}


.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
