$videotile-margin: 0.2%;
.video-tile {
    position: relative;
    cursor: pointer;
    margin-top: 7px;
    margin-left: $videotile-margin;
    margin-right: $videotile-margin;
    margin-bottom: 5px;
    @include inline-block;
    min-height: 230px;
    vertical-align: top;
    background-color: rgb(255, 255, 255);
    width: 100%;
    @extend .greyboxshadow;
    img {
        width: 100%;
        max-width: 100%;
        image-rendering: -moz-crisp-edges;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
    }
    img.playicon {
        max-width: 50px;
    }
    &:hover {
        img.playicon {
            max-width: 60px;
        }
    }
    .play-container {
        position: relative;
        .play-overlay {
            position: absolute;
            zindex: 1;
            background: rgba(0, 0, 0, 0.4);
            color: white;
            height: 100%;
            width: 100%;
            // @include transition(opacity, .25s);
            // @include opacity(0);
            &:hover {
                //   @include opacity(1);
            }
            i {
                //  font-size: 4em;
                // color: rgba(255, 255, 255, 0.44);
            }
        }
    }
    .video-title {
        font-size: 0.9em;
        padding: 12px 10px 5px 15px;
        vertical-align: bottom;
        text-align: left;
    }
    @include respond-to(xs-p) {
        max-width: 100%;
    }
    @include respond-to(xs-min) {
        max-width: (100%/2) - ($videotile-margin * 2);
        min-height: 220px;
    }
    @include respond-to(mb-min) {
        max-width: (100%/2) - ($videotile-margin * 2);
        min-height: 260px;
    }
    @include respond-to(sm) {
        max-width: (100%/2) - ( $videotile-margin * 2);
        min-height: 260px;
    }
    @include respond-to(md) {
        max-width: (100%/3) - ( $videotile-margin * 2);
    }
    @include respond-to(lg) {
        max-width: (100%/4) - ( $videotile-margin * 2);
        min-height: 240px;
    }
    display:inline-block;
}

.howto-video-item{

    img.playicon {
        width: 100%;
        max-width: 50px;
    }
    &:hover img.playicon {
        max-width: 60px;
    }

}

.video-tile {
    img.playicon {
        width: 100%;
        max-width: 50px;
    }
    &:hover img.playicon {
        max-width: 60px;
    }
    &.video-tile-mobile {
        height: 80px;
        width: 100%;
        min-height: 80px;
        .video-mobile-wrapper {
            width: 100%;
            display: table;
            overflow: hidden;
            .video-mobile-content {
                display: table-row;
                width: 100%;
                .video-mobile-box {
                    vertical-align: top;
                    display: table-cell;
                    font-size: 14px;
                }
                .title {
                    font-size: 14px;
                    overflow: hidden;
                    padding: 5px 0px 0px 5px;
                    @include inline-block;
                    width: auto;
                    float: left;
                    text-align: left;
                }
                img {
                    display: block;
                    overflow: hidden;
                    height: 80px;
                    width: 142px;
                    max-width: auto;
                    float: left;
                    margin-top: 0px;
                }
            }
        }
    }
}

.video-tiles-list.loading {
    // opacity:0.5;
}

.filters-container {
    margin: 1em 0em 1em 0em;
    .term {
        font-weight: 700;
        font-size: 0.8em;
        @include respond-to(xs) {
            font-size: 0.7em;
            min-width: 31%;
            text-align: center;
            margin-bottom: 0.5em;
        }
    }
}

.term-container {
    padding: 1em 0.5em 0.5em 0.5em;
    @include respond-to(xs) {
        padding: 0.1em 0.1em 0.25em 0.3em;
    }
}

.loading .term {
    @include opacity(0.5);
}
