<ul id="bx-plugin" class="bxslider">
    <li data-ng-repeat="slide in videos" ng-class="{'active' : $index == activevideo}" ng-click="loadvideo(slide.field_video_id, $index)">
        <a data-slide-index="2" href="#">
            <div class="video-thumbnail">
                <div class="video-thumbnail-left position-relative">
                    <div class="background-black-transparent"></div>
                    <img typeof="foaf:Image"  class="center" ng-src="{{slide.field_video_thumbnail.src}}" alt="" draggable="false">
                </div>
                <div class="video-thumbnail-right">
                    <div class="title">{{slide.title}}</div>
                    <div class="description"></div>
                </div>
            </div>
        </a>
    </li>
</ul>
