/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider-container {
   transform: translate3d(0px,0px,0px);
}

.flexslider {

  margin: 0;
  padding: 0;

  .slides {
   // min-height: $flexslider-min-height;
    > li {


      .slide-background-image {
         min-height: $flexslider-min-height;
         height: $flexslider-height;
      }

      display: none;
      -webkit-backface-visibility: hidden;
      min-height: $flexslider-min-height;
      height: $flexslider-height;



    }
    .slide-background-image {
      position:absolute;
      left:0px;
      top:0px;
      height:100%;
      width:100%;
      @extend .background-image;
    }
    img{

      width: 100%;
      display: block;

    }


    //
    // Clearfix for the .slides element
    //

    &:after{

      content: "\0020";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;


    }

    html[xmlns] &{

      display: block;

    }

    * html &{

      height: 1%;

    }



     //
     // No JavaScript Fallback
     // If you are not using another script, such as Modernizr, make sure you
     // include js that eliminates this class on page load
     //


    .no-js &{

      > li{

        &:first-child{

          display: block;

        }
      }
    }
  }
}

.flex-caption-wrapper {
  width: 100%;
  //background: rgba(black, 0.5);
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  text-align:center;

}
.flex-caption {
    font-size: 24px;
    max-width: 1200px;
    color: #F1F1F2;;
    top: 10%;
    margin: auto;
    max-width: 550px;

    @include respond-to(xs){
      font-size: 14px;
      line-height:1.3em;
      font-weight:normal;
      max-width:250px;
    }
}


