<div class=" tips-{{tp.indexOf(tile)}} text-center"    id="tips-{{tp.node.nid}}"  data-ng-repeat="tp in tips" >

<div class="margin-bottom-md with-caption">
<a href="{{tp.node.path}}">
<img style="max-width:100%;" class="display-block" ng-src="{{tp.node.field_image.src}}">
  <p>{{tp.node.title}}</p>
  </a>
  </div>
</div>
