<div class="display-block vertical-align-bottom">
    <form class="navbar-form  margin-bottom-md float-none display-inline" style="    line-height: 2.5em;">
        <div class="input-group">
            <input type="text" ng-model="search" value="name" ng-focus="faqOpen($event)" class="form-control background-`light-grey" placeholder="Search Here...">
            <span ng-class="{'opacity-1' : search.length > 0}" ng-click="search = ''" class="label darker"><span class="close-icon thick"></span></span>
        </div>
        <!-- /input-group -->
    </form>
    <div class="link display-inline-block cursor-pointer" ng-click="faqOpen($event)">&nbsp;&nbsp;Show All</div>
    <div class="link  display-inline-block cursor-pointer" ng-click="faqClose($event)">&nbsp; &nbsp;Close All</div>
</div>
<div bindonce="group" data-ng-repeat="group in faqlist |  faqSearch:search |  groupBy: 'field_faq_category' | toArray:true | orderBy: 'field_weight_1' track by group.$key  " ng-init="faq.view = false;initcategory(group.$key)" class="display-block margin-top-sm ">
    <div class="background-color-sonnox padding-1em display-block  cursor-pointer " ng-click="category[group.$key] = !category[group.$key]">
        <strong bo-html="group.$key"> </strong>
        <div ng-class="{'open' : category[group.$key] === true }" class="square float-right">
            <span class="plus"><i class="fa fa-plus"></i></span>
            <span class="minus"><i class="fa fa-minus"></i></span>
        </div>
    </div>
    <div ng-class="{ 'max-height-auto' : category[group.$key] === true, 'max-height-0' : category[group.$key] === false}" class="overflow-hidden transition-05s">
        <div bindonce="faq" data-ng-repeat="faq in group track by faq.nid"  ng-model="faq.view" ng-class="{ 'faq-visible' : faq.view === true, 'background-grey-light' : faq.view === true} " ng-click="faq.view = !faq.view" class="transition-05s faq-item faq-item-white cursor-pointer display-block padding-1em margin-top-sm">
            <div class="trigger position-relative faq-item-title" bo-html="faq.title">
            </div>
            <div class="max-height-0 overflow-hidden transition-05s" ng-class="{ 'max-height-auto' : faq.view === true}">
                <div class="margin-top-sm " bo-html="faq.body">
                </div>
            </div>
        </div>
    </div>
</div>
