<div data-ng-repeat="item in howtovideos" ng-init="item.view = false" class="display-inline-block howto-video-item margin-top-sm ">
<div   id="item-{{item.node.tid}}"  ng-class="{ 'item-visible' : item.view === true} "  ng-click="item.view = !item.view" class=" item cursor-pointer display-block img-max-width-100 "  >
<div class="  position-relative">
   <div id="video-{{item.node.nid}}"  class=" text-center tile-{{tiles.indexOf(item)}}" ng-click="showvideo(item)"  >
    <div class="video-title text-center ">{{item.node.title}}</div>
    <div class="play-container ">
      <div class="play-overlay"><div >
      <div class="full">
        <img class="playicon center transition-03s" ng-src="{{baseUrl}}/sites/all/themes/bootstrap/bootstrap_subtheme/images/playicon.svg" />
      </div>
      </div></div>
    <img  class="max-width-100 " ng-src="{{item.node.field_video_thumbnail.src}}"/>

    </div>


  </div>
</div>
