<div data-ng-repeat="faq in supportnews" ng-init="faq.view = false" id="faq-{{faq.tid}}" ng-class="{ 'faq-visible' : faq.view === true, '' : faq.view === true} " ng-click="faq.view = !faq.view" class="transition-05s faq-item cursor-pointer display-block padding-1em  margin-top-sm background-grey-light">
    <div class="trigger position-relative faq-item-title">
        {{faq.node.title}}
    </div>
    <div class="max-height-0 overflow-hidden transition-05s" ng-class="{ 'max-height-auto' : faq.view === true, 'max-height-0' : faq.view === false}">
        <div class="margin-top-sm " ng-bind-html="faq.node.body">
        </div>
    </div>
</div>
