
 <articletile></articletile>
  <div ng-class="{'display-none' : totalpages == (currentpage + 1)}" class="col-xs-12 text-center">
  <button class="showmore margin-bottom-lg margin-top-md"  ng-click="loadm()" ><span ng-if="loading!=true"> VIEW MORE</span>
  <i ng-if="loading==true" class="fa fa-circle-o-notch fa-spin"></i>
  </button></div>
  <div class="col-xs-12 text-center" style="margin-top:1em;">
  <i  ng-class="{'display-none ' : loading!= true}" class="fix fa fa-spinner fa-spin"></i>
  </div>


