
        <div class="slide-background-image" ng-style="{'background-image': getslideimage(s) }">
            <div class="black-overlay height-100  ">
                <a   ng-attr-target="{{getTarget(s)}}" ng-href="{{getUrl(s)}}">
                    <div class="container height-100">
                        <div class=" col-xs-offset-1 col-xs-9 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-6 col-lg-offset-3 text-left height-100">
                            <div class="vertical-center margin-left-0">
                                <h1 class="no-margin " style="color:{{s.node.field_text_color}};">{{s.node.field_slide_title}}</h1>
                                <p class="margin-bottom-md" style="color:{{s.node.field_text_color}};">
                                    {{s.node.field_caption}}
                                </p>
                                <button ng-if="s.node.field_call_to_action_button == 1" style="background-color:{{s.node.field_color}};color:{{s.node.field_button_text_color}};" class="square-button"> {{s.node.field_call_to_action_button_text}} </button>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

