<div class="slide-background-image"  >
<div class="bg-sm-slide" ng-style="{'background-image': getslideimage(s,0) }"></div>
<div class="bg-xs-slide" ng-style="{'background-image': getslideimage(s,1) }"></div>
            <div class="black-overlay height-100  ">
                <a  ng-attr-target="{{getTarget(s)}}" ng-href="{{getUrl(s)}}">
                    <div class="container height-100">

                        <div class=" col-xs-offset-1 col-xs-9 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 text-left height-100">
                            <div class="vertical-center margin-left-0">
                                <h1 class="no-margin " style="color:{{s.node.field_text_color}};">{{s.node.field_slide_title}}</h1>
                                <p class="margin-bottom-md" style="color:{{s.node.field_text_color}};">
                                    {{s.node.field_caption}}
                                </p>
                                <button ng-if="s.node.field_call_to_action_button == 1" style="background-color:{{s.node.field_color}};color:{{s.node.field_button_text_color}};" class="square-button"> {{s.node.field_call_to_action_button_text}} </button>
                            </div>
                        </div>
                         <div class="hidden-xs col-xs-offset-2 col-xs-4 col-sm-offset-0 col-sm-5 col-md-5 col-md-offset-0 col-lg-5 col-lg-offset-0 height-100">
                            <img ng-src="{{s.node.field_over_image.src}}" class="vertical-center  float-left-important right-auto">
                        </div>
                    </div>
                </a>
            </div>
</div>
