<!-- pictureleft , textcenter, default -->

<flex-slider style="" animation="fade" flex-slide="s in slides track by $index " animation="slide">
    <li class="flex-slide" ng-include="slideTemplate(s)">
    </li>
</flex-slider>
