<div class="slide-background-image">
    <div class="bg-sm-slide" ng-style="{'background-image': getslideimage(s,0) }"></div>
    <div class="bg-xs-slide" ng-style="{'background-image': getslideimage(s,1) }"></div>
    <div class="black-overlay height-100  ">
        <a ng-attr-target="{{getTarget(s)}}" ng-href="{{getUrl(s)}}">
            <div class="container height-100">
                <div class="center text-center">
                    <h1 class="no-margin " style="color:{{s.node.field_text_color}};">{{s.node.field_slide_title}}</h1>
                    <p class="margin-bottom-md" style="color:{{s.node.field_text_color}};">
                        {{s.node.field_caption}}
                    </p>
                    <button ng-if="s.node.field_call_to_action_button == 1" style="background-color:{{s.node.field_color}};color:{{s.node.field_button_text_color}};" class="square-button margin-auto"> {{s.node.field_call_to_action_button_text}} </button>
                </div>
            </div>
        </a>
    </div>
</div>
