<!--article in-view-options="{offsetBottom: '0'}" ng-class="{'fadeInUp' : tile.inview}" in-view="tile.inview = true" class="article-tiles   opacity-n0  category-learnarticles category-item tile-{{tiles.indexOf(tile)}}" id="artist-{{tile.node.nid}}" data-ng-repeat="tile in tiles"-->
<article bindonce="tile" class="article-tiles opacity-1   category-learnarticles category-item " data-ng-repeat="tile in tiles">
    <!--article bindonce="tile" class="article-tiles    category-learnarticles category-item tile-{{$index}}" bo-attr-id="artist-{tile.node.nid}" data-ng-repeat="tile in tiles"-->
    <div bo-if="tile.node.field_category != 'Videos'" class="article-wrapper category-{{::(tile.node.field_category  | lowercase)}}">
        <div class="article-image cursor-pointer">
            <a bo-if="!tile.node.field_external_link.length" bo-href="tile.node.path" class="cursor-pointer">
                <ng-include src="'common/views/article-tile-image.html'"></ng-include>
            </a>
            <a bo-if="(tile.node.field_external_link.length && (tile.node.field_internal_link == '1')) " class="cursor-pointer" target="_self" bo-href="tile.node.field_external_link">
                <ng-include src="'common/views/article-tile-image.html'"></ng-include>
            </a>
            <a bo-if="(tile.node.field_external_link.length && (tile.node.field_internal_link != '1')) " class="cursor-pointer" target="_blank" bo-href="tile.node.field_external_link">
                <ng-include src="'common/views/article-tile-image.html'"></ng-include>
            </a>
        </div>
        <div class="article-content">
            <div class="article-category category">
                <h3>
                <a bo-if="tile.node.field_category != 'Promo' " bo-href="'/learn/' + ( tile.node.field_category | lowercase)" class="cursor-pointer category" bo-bind="tile.node.field_category" ></a>
                <span bo-if="tile.node.field_category == 'Promo' " class="cursor-pointer category" bo-bind="tile.node.field_category" ></span>
                </h3>
            </div>
            <h2>
      <a  bo-if="!tile.node.field_external_link.length" bo-href="tile.node.path" class="cursor-pointer" bo-bind="tile.node.title" > </a>
        <a   bo-if="(tile.node.field_external_link.length && (tile.node.field_internal_link == '1')) "    target="_self" bo-href="tile.node.field_external_link" class="cursor-pointer" bo-bind="tile.node.title" ></a>
        <a   bo-if="(tile.node.field_external_link.length && (tile.node.field_internal_link != 1)) "    target="_blank" bo-href="tile.node.field_external_link" class="cursor-pointer" bo-bind="tile.node.title" ></a>
    </h2>
            <div class="tile-body">
                <span bo-html="tile.node.body + ' '"></span>
                <a bo-if="!tile.node.field_external_link.length" bo-href="tile.node.path" class="cursor-pointer">Read More...</a>
                <a bo-if="(tile.node.field_external_link.length && (tile.node.field_internal_link == '1')) " target="_self" bo-href="tile.node.field_external_link" class="cursor-pointer">Read More...</a>
                <a bo-if="(tile.node.field_external_link.length && (tile.node.field_internal_link != 1)) " target="_blank" bo-href="tile.node.field_external_link" class="cursor-pointer">Read More...</a>
            </div>
        </div>
    </div>
    <div bo-if="tile.node.field_category == 'Videos'" class="article-wrapper   item category-{{::(tile.node.field_category  | lowercase)}}">
        <div class="article-image cursor-pointer" ng-click="commonshowvideo(tile)">
            <div class="play-container ">
                <div class="play-overlay">
                    <div class="full"><img class="playicon center transition-03s" ng-src="{{baseUrl}}/sites/all/themes/bootstrap/bootstrap_subtheme/images/playicon.svg" /></div>
                </div>
                <img bo-if="tile.node.field_video_thumbnail.src" class="max-width-100 " typeof="foaf:Image" bo-src="tile.node.field_video_thumbnail.src" alt="">
                <img bo-if="!tile.node.field_video_thumbnail.src" class="max-width-100 " typeof="foaf:Image" bo-src="tile.node.field_video_thumbnail" alt="">
            </div>
        </div>
        <div class="article-content">
            <div class="article-category  category cursor-pointer">
                <h3><a bo-href="'/learn/' + ( tile.node.field_category | lowercase)" class="category" bo-bind="tile.node.field_category"></a></h3>
            </div>
            <h2>
      <a href="#" ng-click="commonshowvideo(tile)"  bo-bind="tile.node.title" > </a>
    </h2>
            <div class="tile-body cursor-pointer">
                <span bo-html="tile.node.body  + ' '"></span><a ng-click="commonshowvideo(tile)" href="#">Watch Video...</a>
            </div>
        </div>
    </div>
</article>
