<article bindonce="tile" class="article-tiles    category-learnarticles category-item tile-{{$index}}" data-ng-repeat="tile in tiles track by tile.node.nid">
    <div bo-if="tile.node.field_category != 'Videos'" tile="tile" class="article-wrapper category-{{tile.node.field_category  | lowercase}}">
        <div class="article-image cursor-pointer">
            <a bo-if="tile.node.field_external_link === undefined || tile.node.field_external_link.length == 0" bo-href="tile.node.path">
                <ng-include src="'common/views/article-tile-image.html'"></ng-include>
            </a>
            <a bo-if="tile.node.field_external_link.length > 0 " bo-attr-target="dgetTarget(tile)" bo-href="tile.node.field_external_link">
                <ng-include src="'common/views/article-tile-image.html'"></ng-include>
            </a>
        </div>
        <div class="article-content">
            <div class="article-category">
                <h3>
                <a bo-if="tile.node.field_category != 'Promo' " bo-href="'/learn/' + ( tile.node.field_category | lowercase)" class="cursor-pointer category" bo-bind="tile.node.field_category" ></a>
                <span bo-if="tile.node.field_category == 'Promo' " claåss="cursor-pointer category" bo-bind="tile.node.field_category" ></span>
                </h3>
            </div>
            <h2>
      <a  bo-if="!tile.node.field_external_link.length" bo-href="tile.node.path" class="cursor-pointer" bo-bind="tile.node.title" > </a>
      <a   bo-if="tile.node.field_external_link.length"    ng-attr-target="dgetTarget(tile)" bo-href="tile.node.field_external_link" class="cursor-pointer " bo-bind="tile.node.title" ></a>
    </h2>
            <div class="tile-body">
                <span bo-html="tile.node.body + ' '"></span><a bo-if="tile.node.field_external_link === undefined || tile.node.field_external_link.length == 0" bo-href="tile.node.path" class="cursor-pointer">Read More...</a><a bo-if="tile.node.field_external_link.length > 0 " ng-attr-target="dgetTarget(tile)" bo-href="tile.node.field_external_link" class="cursor-pointer">Read More...</a>
            </div>
        </div>
    </div>
    <div bo-if="tile.node.field_category == 'Videos'" class="article-wrapper   item category-{{tile.node.field_category  | lowercase}}">
        <div class="article-image cursor-pointer" ng-click="commonshowvideo(tile)">
            <div class="play-container ">
                <div class="play-overlay">
                    <div class="full"><img class="playicon center transition-03s" ng-src="{{baseUrl}}/sites/all/themes/bootstrap/bootstrap_subtheme/images/playicon.svg" /></div>
                </div>
                <img class="max-width-100 " bo-if="tile.node.field_video_thumbnail.src" typeof="foaf:Image" bo-src="tile.node.field_video_thumbnail.src" alt="">
                <img class="max-width-100 " bo-if="!tile.node.field_video_thumbnail.src" typeof="foaf:Image" bo-src="tile.node.field_video_thumbnail" alt="">
            </div>
        </div>
        <div class="article-content">
            <div class="article-category cursor-pointer">
                <h3><a bo-href="'/learn/' + ( tile.node.field_category | lowercase)" class="category" bo-bind="tile.node.field_category"></a></h3>
            </div>
            <h2>
      <a href="#" bo-click="commonshowvideo(tile)"  bo-bind="tile.node.title" > </a>
    </h2>
            <div class="tile-body cursor-pointer" bo-click="commonshowvideo(tile)">
                <span bo-html="tile.node.body  + ' '"></span><a href="#">Watch Video...</a>
            </div>
        </div>
    </div>
</article>
