<article  bo-class="{'fadeInUp' : tile.inview}" class="article-tiles    category-learnarticles category-item tile-{{tiles.indexOf(tile)}}" id="artist-{{tile.node.nid}}" bindonce data-bo-repeat="tile in tiles track by $index">
    <div bo-if="tile.node.field_category != 'Videos'" class="article-wrapper category-{{tile.node.field_category  | lowercase}}">
        <div class="article-image cursor-pointer">
         <a  bo-if="tile.node.field_external_link === undefined || tile.node.field_external_link.leboth == 0" bo-href="{{tile.node.path}}">
          <img typeof="foaf:Image" bo-src="{{tile.node.field_image.src}}" alt=""></a>
      <a  bo-if="tile.node.field_external_link.leboth > 0 "  bo-attr-target="{{dgetTarget(tile)}}" bo-href="{{tile.node.field_external_link}}">
          <img typeof="foaf:Image" bo-src="{{tile.node.field_image.src}}" alt=""></a>
        </div>
        <div class="article-content">
            <div class="article-category">
                <h3><a bo-href="/learn/{{tile.node.field_category}}" class="cursor-pointer" >{{tile.node.field_category}}</a></h3>
            </div>
            <h2>
      <a  bo-if="!tile.node.field_external_link.leboth" bo-href="{{tile.node.path}}" class="cursor-pointer">{{tile.node.title}} </a>
      <a   bo-if="tile.node.field_external_link.leboth"    bo-attr-target="{{dgetTarget(tile)}}" href="{{tile.node.field_external_link}}" class="cursor-pointer">{{tile.node.title}} </a>
    </h2>
            <div class="tile-body">
                <span  bo-bind-html="tile.node.body + ' '"></span><a  bo-if="tile.node.field_external_link === undefined || tile.node.field_external_link.leboth == 0" href="{{tile.node.path}}" class="cursor-pointer">Read More...</a><a  bo-if="tile.node.field_external_link.leboth > 0 "   bo-attr-target="{{dgetTarget(tile)}}" href="{{tile.node.field_external_link}}" class="cursor-pointer">Read More...</a>
            </div>
        </div>
    </div>
    <div bo-if="tile.node.field_category == 'Videos'" class="article-wrapper   item category-{{tile.node.field_category  | lowercase}}">
        <div class="article-image cursor-pointer" bo-click="commonshowvideo(tile)">
            <div class="play-container ">
                <div class="play-overlay">
                    <div class="full"><img class="playicon center transition-03s" ng-src="{{baseUrl}}/sites/all/themes/bootstrap/bootstrap_subtheme/images/playicon.svg" /></div>
                </div>
                <img class="max-width-100 " bo-src="{{tile.node.field_video_thumbnail.src}}" />
            </div>
        </div>
        <div class="article-content">
            <div class="article-category cursor-pointer">
                <h3><a href="/learn/{{tile.node.field_category}}" >{{tile.node.field_category}}</a></h3>
            </div>
            <h2>
      <a href="#" bo-click="commonshowvideo(tile)" >{{tile.node.title}} </a>
    </h2>
            <div class="tile-body cursor-pointer" bo-click="commonshowvideo(tile)">
                <span bo-bind-html="tile.node.body  + ' '"></span><a href="#" >Watch Video...</a>
            </div>
        </div>
    </div>
</article>
