<div >
  <div bo-if="tile.node.field_image[0].src" class="background-image" style="width:100%;padding-bottom: 56.25%;position:relative;background-image:url({{tile.node.field_image[0].src}});" ></div>
  <div bo-if="tile.node.field_image.src && !tile.node.field_image[0].src" class="background-image" style="width:100%;padding-bottom: 56.25%;position:relative;background-image:url({{tile.node.field_image.src}});" >
</div>
<div bo-if="!tile.node.field_image.src  && !tile.node.field_image[0].src" class="background-image" style="width:100%;padding-bottom: 56.25%;position:relative;background-image:url({{tile.node.field_image}});" >
</div>
  </div>
