<div class="container background-white video-overlay" ng-click="commonclose($event)">
    <div id="{{v}}" class="col-md-9 col-sm-12 padding-0">
        <div class=" iframe-container">
        <iframe class="fluid-iframe" id="video-{{v}}" ng-src="{{videourl | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 text-left background-white">
        <div class="col-sm-12 text-right close-button-inside" ng-click="commonclose($event)" style="    padding-top: 0.3em;padding-bottom: 0.5em;"><i class="fa fa-times"></i></div>
        <h5 class="hidden-xs hidden-sm"><strong>{{title}}</strong></h5>
        <h5 class="hidden-xs  hidden-md hidden-lg "><strong>{{title}}</strong></h5>
        <p class="hidden-xs hidden-xs hidden-sm">{{body}}</p>
        <div class="related-products-wrapper " ng-show="related.length">
            <h5><strong>Related Products</strong></h5>
            <ng-include src="'common/views/related-products.html'"></ng-include>
        </div>
    </div>
</div>
